iot_wi_project/nodered/Nodered code.txt
[
    {
        "id": "aa08aca.394275",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "75a6caf6.51910c",
        "type": "debug",
        "z": "aa08aca.394275",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "820c2a8a.f9f888",
        "type": "ui_chart",
        "z": "aa08aca.394275",
        "name": "",
        "group": "3dd9ba65.e777c6",
        "order": 0,
        "width": "12",
        "height": "8",
        "label": "K MEANS ",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "75a6caf6.51910c"
            ],
            []
        ]
    },
    {
        "id": "521aa03e.e1daf8",
        "type": "function",
        "z": "aa08aca.394275",
        "name": "function  graph ",
        "func": "msg.payload =  [{\n    \"series\" : [\"persona\", \"cluster\"],\n    \"data\" : [\n    [\n{\"x\":\t0.5\t, \"y\" :\t1\t},\n{\"x\":\t1.0\t, \"y\" :\t1\t},\n{\"x\":\t1.5\t, \"y\" :\t1\t},\n{\"x\":\t2.0\t, \"y\" :\t1\t},\n{\"x\":\t2.5\t, \"y\" :\t1\t},\n{\"x\":\t3.0\t, \"y\" :\t1\t},\n{\"x\":\t3.5\t, \"y\" :\t1\t},\n{\"x\":\t4.0\t, \"y\" :\t1\t},\n{\"x\":\t4.5\t, \"y\" :\t1\t},\n{\"x\":\t5.0\t, \"y\" :\t1\t},\n{\"x\":\t5.5\t, \"y\" :\t1\t},\n{\"x\":\t6.0\t, \"y\" :\t1\t},\n{\"x\":\t6.5\t, \"y\" :\t1\t},\n{\"x\":\t7.0\t, \"y\" :\t1\t},\n{\"x\":\t7.5\t, \"y\" :\t1\t},\n{\"x\":\t8.0\t, \"y\" :\t1\t},\n{\"x\":\t8.5\t, \"y\" :\t1\t},\n{\"x\":\t9.0\t, \"y\" :\t1\t},\n{\"x\":\t9.5\t, \"y\" :\t1\t},\n{\"x\":\t10.0\t, \"y\" :\t1\t},\n{\"x\":\t10.5\t, \"y\" :\t1\t},\n{\"x\":\t11.0\t, \"y\" :\t1\t},\n{\"x\":\t11.5\t, \"y\" :\t1\t},\n{\"x\":\t12.0\t, \"y\" :\t1\t},\n{\"x\":\t12.5\t, \"y\" :\t1\t},\n{\"x\":\t13.0\t, \"y\" :\t1\t},\n{\"x\":\t13.5\t, \"y\" :\t1\t},\n{\"x\":\t14.0\t, \"y\" :\t1\t},\n{\"x\":\t14.5\t, \"y\" :\t1\t},\n{\"x\":\t15.0\t, \"y\" :\t1\t},\n{\"x\":\t15.5\t, \"y\" :\t1\t},\n{\"x\":\t16.0\t, \"y\" :\t1\t},\n{\"x\":\t16.5\t, \"y\" :\t1\t},\n{\"x\":\t17.0\t, \"y\" :\t1\t},\n{\"x\":\t17.5\t, \"y\" :\t1\t},\n{\"x\":\t18.0\t, \"y\" :\t1\t},\n{\"x\":\t18.5\t, \"y\" :\t1\t},\n{\"x\":\t19.0\t, \"y\" :\t1\t},\n{\"x\":\t19.5\t, \"y\" :\t1\t},\n{\"x\":\t20.0\t, \"y\" :\t1\t},\n{\"x\":\t20.5\t, \"y\" :\t1\t},\n{\"x\":\t21.0\t, \"y\" :\t1\t},\n{\"x\":\t21.5\t, \"y\" :\t1\t},\n{\"x\":\t22.0\t, \"y\" :\t1\t},\n{\"x\":\t22.5\t, \"y\" :\t1\t},\n{\"x\":\t23.0\t, \"y\" :\t1\t},\n{\"x\":\t23.5\t, \"y\" :\t1\t},\n{\"x\":\t24.0\t, \"y\" :\t1\t},\n{\"x\":\t24.5\t, \"y\" :\t1\t},\n{\"x\":\t25.0\t, \"y\" :\t1\t},\n{\"x\":\t25.5\t, \"y\" :\t1\t},\n{\"x\":\t26.0\t, \"y\" :\t1\t},\n{\"x\":\t26.5\t, \"y\" :\t1\t},\n{\"x\":\t27.0\t, \"y\" :\t1\t},\n{\"x\":\t27.5\t, \"y\" :\t1\t},\n{\"x\":\t28.0\t, \"y\" :\t1\t},\n{\"x\":\t28.5\t, \"y\" :\t1\t},\n{\"x\":\t29.0\t, \"y\" :\t1\t},\n{\"x\":\t29.5\t, \"y\" :\t1\t},\n{\"x\":\t30.0\t, \"y\" :\t1\t},\n{\"x\":\t30.5\t, \"y\" :\t1\t},\n{\"x\":\t31.0\t, \"y\" :\t1\t},\n{\"x\":\t31.5\t, \"y\" :\t1\t},\n{\"x\":\t32.0\t, \"y\" :\t1\t},\n{\"x\":\t32.5\t, \"y\" :\t1\t},\n{\"x\":\t33.0\t, \"y\" :\t1\t},\n{\"x\":\t33.5\t, \"y\" :\t1\t},\n{\"x\":\t34.0\t, \"y\" :\t1\t},\n{\"x\":\t34.5\t, \"y\" :\t1\t},\n{\"x\":\t35.0\t, \"y\" :\t1\t},\n{\"x\":\t35.5\t, \"y\" :\t1\t},\n{\"x\":\t36.0\t, \"y\" :\t1\t},\n{\"x\":\t36.5\t, \"y\" :\t1\t},\n{\"x\":\t37.0\t, \"y\" :\t1\t},\n{\"x\":\t37.5\t, \"y\" :\t1\t},\n{\"x\":\t38.0\t, \"y\" :\t1\t},\n{\"x\":\t38.5\t, \"y\" :\t1\t},\n{\"x\":\t39.0\t, \"y\" :\t1\t},\n{\"x\":\t39.5\t, \"y\" :\t1\t},\n{\"x\":\t40.0\t, \"y\" :\t1\t},\n{\"x\":\t40.5\t, \"y\" :\t1\t},\n{\"x\":\t41.0\t, \"y\" :\t1\t},\n{\"x\":\t41.5\t, \"y\" :\t1\t},\n{\"x\":\t42.0\t, \"y\" :\t1\t},\n{\"x\":\t42.5\t, \"y\" :\t1\t},\n{\"x\":\t43.0\t, \"y\" :\t1\t},\n{\"x\":\t43.5\t, \"y\" :\t1\t},\n{\"x\":\t44.0\t, \"y\" :\t1\t},\n{\"x\":\t44.5\t, \"y\" :\t1\t},\n{\"x\":\t45.0\t, \"y\" :\t1\t},\n{\"x\":\t45.5\t, \"y\" :\t1\t},\n{\"x\":\t46.0\t, \"y\" :\t1\t},\n{\"x\":\t46.5\t, \"y\" :\t1\t},\n{\"x\":\t47.0\t, \"y\" :\t1\t},\n{\"x\":\t47.5\t, \"y\" :\t1\t},\n{\"x\":\t48.0\t, \"y\" :\t1\t},\n{\"x\":\t48.5\t, \"y\" :\t1\t},\n{\"x\":\t49.0\t, \"y\" :\t1\t},\n{\"x\":\t49.5\t, \"y\" :\t1\t},\n{\"x\":\t50.0\t, \"y\" :\t1\t},\n{\"x\":\t50.5\t, \"y\" :\t1\t},\n{\"x\":\t51.0\t, \"y\" :\t1\t},\n{\"x\":\t51.5\t, \"y\" :\t1\t},\n{\"x\":\t52.0\t, \"y\" :\t1\t},\n{\"x\":\t52.5\t, \"y\" :\t1\t},\n{\"x\":\t53.0\t, \"y\" :\t1\t},\n{\"x\":\t53.5\t, \"y\" :\t1\t},\n{\"x\":\t54.0\t, \"y\" :\t1\t},\n{\"x\":\t54.5\t, \"y\" :\t1\t},\n{\"x\":\t55.0\t, \"y\" :\t1\t},\n{\"x\":\t55.5\t, \"y\" :\t1\t},\n{\"x\":\t56.0\t, \"y\" :\t1\t},\n{\"x\":\t56.5\t, \"y\" :\t1\t},\n{\"x\":\t57.0\t, \"y\" :\t1\t},\n{\"x\":\t57.5\t, \"y\" :\t1\t},\n{\"x\":\t58.0\t, \"y\" :\t1\t},\n{\"x\":\t58.5\t, \"y\" :\t1\t},\n{\"x\":\t59.0\t, \"y\" :\t1\t},\n{\"x\":\t59.5\t, \"y\" :\t1\t},\n{\"x\":\t60.0\t, \"y\" :\t1\t},\n{\"x\":\t60.5\t, \"y\" :\t1\t},\n{\"x\":\t61.0\t, \"y\" :\t0\t},\n{\"x\":\t61.5\t, \"y\" :\t0\t},\n{\"x\":\t62.0\t, \"y\" :\t0\t},\n{\"x\":\t62.5\t, \"y\" :\t0\t},\n{\"x\":\t63.0\t, \"y\" :\t0\t},\n{\"x\":\t63.5\t, \"y\" :\t0\t},\n{\"x\":\t64.0\t, \"y\" :\t0\t},\n{\"x\":\t64.5\t, \"y\" :\t0\t},\n{\"x\":\t65.0\t, \"y\" :\t0\t},\n{\"x\":\t65.5\t, \"y\" :\t0\t},\n{\"x\":\t66.0\t, \"y\" :\t0\t},\n{\"x\":\t66.5\t, \"y\" :\t0\t},\n{\"x\":\t67.0\t, \"y\" :\t0\t},\n{\"x\":\t67.5\t, \"y\" :\t0\t},\n{\"x\":\t68.0\t, \"y\" :\t0\t},\n{\"x\":\t68.5\t, \"y\" :\t0\t},\n{\"x\":\t69.0\t, \"y\" :\t0\t},\n{\"x\":\t69.5\t, \"y\" :\t0\t},\n{\"x\":\t70.0\t, \"y\" :\t0\t},\n{\"x\":\t70.5\t, \"y\" :\t0\t},\n{\"x\":\t71.0\t, \"y\" :\t0\t},\n{\"x\":\t71.5\t, \"y\" :\t0\t},\n{\"x\":\t72.0\t, \"y\" :\t0\t},\n{\"x\":\t72.5\t, \"y\" :\t0\t},\n{\"x\":\t73.0\t, \"y\" :\t0\t},\n{\"x\":\t73.5\t, \"y\" :\t0\t},\n{\"x\":\t74.0\t, \"y\" :\t0\t},\n{\"x\":\t74.5\t, \"y\" :\t0\t},\n{\"x\":\t75.0\t, \"y\" :\t0\t},\n{\"x\":\t75.5\t, \"y\" :\t0\t},\n{\"x\":\t76.0\t, \"y\" :\t0\t},\n{\"x\":\t76.5\t, \"y\" :\t0\t},\n{\"x\":\t77.0\t, \"y\" :\t0\t},\n{\"x\":\t77.5\t, \"y\" :\t0\t},\n{\"x\":\t78.0\t, \"y\" :\t0\t},\n{\"x\":\t78.5\t, \"y\" :\t0\t},\n{\"x\":\t79.0\t, \"y\" :\t0\t},\n{\"x\":\t79.5\t, \"y\" :\t0\t},\n{\"x\":\t80.0\t, \"y\" :\t0\t},\n{\"x\":\t80.5\t, \"y\" :\t0\t},\n{\"x\":\t81.0\t, \"y\" :\t0\t},\n{\"x\":\t81.5\t, \"y\" :\t0\t},\n{\"x\":\t82.0\t, \"y\" :\t0\t},\n{\"x\":\t82.5\t, \"y\" :\t0\t},\n{\"x\":\t83.0\t, \"y\" :\t0\t},\n{\"x\":\t83.5\t, \"y\" :\t0\t},\n{\"x\":\t84.0\t, \"y\" :\t0\t},\n{\"x\":\t84.5\t, \"y\" :\t0\t},\n{\"x\":\t85.0\t, \"y\" :\t0\t},\n{\"x\":\t85.5\t, \"y\" :\t0\t},\n{\"x\":\t86.0\t, \"y\" :\t0\t},\n{\"x\":\t86.5\t, \"y\" :\t0\t},\n{\"x\":\t87.0\t, \"y\" :\t0\t},\n{\"x\":\t87.5\t, \"y\" :\t0\t},\n{\"x\":\t88.0\t, \"y\" :\t0\t},\n{\"x\":\t88.5\t, \"y\" :\t0\t},\n{\"x\":\t89.0\t, \"y\" :\t0\t},\n{\"x\":\t89.5\t, \"y\" :\t0\t},\n{\"x\":\t90.0\t, \"y\" :\t0\t},\n{\"x\":\t90.5\t, \"y\" :\t0\t},\n{\"x\":\t91.0\t, \"y\" :\t0\t},\n{\"x\":\t91.5\t, \"y\" :\t0\t},\n{\"x\":\t92.0\t, \"y\" :\t0\t},\n{\"x\":\t92.5\t, \"y\" :\t0\t},\n{\"x\":\t93.0\t, \"y\" :\t0\t},\n{\"x\":\t93.5\t, \"y\" :\t0\t},\n{\"x\":\t94.0\t, \"y\" :\t0\t},\n{\"x\":\t94.5\t, \"y\" :\t0\t},\n{\"x\":\t95.0\t, \"y\" :\t0\t},\n{\"x\":\t95.5\t, \"y\" :\t0\t},\n{\"x\":\t96.0\t, \"y\" :\t0\t},\n{\"x\":\t96.5\t, \"y\" :\t0\t},\n{\"x\":\t97.0\t, \"y\" :\t0\t},\n{\"x\":\t97.5\t, \"y\" :\t0\t},\n{\"x\":\t98.0\t, \"y\" :\t0\t},\n{\"x\":\t98.5\t, \"y\" :\t0\t},\n{\"x\":\t99.0\t, \"y\" :\t0\t},\n{\"x\":\t99.5\t, \"y\" :\t0\t},\n{\"x\":\t100.0\t, \"y\" :\t0\t},\n{\"x\":\t100.5\t, \"y\" :\t0\t},\n{\"x\":\t101.0\t, \"y\" :\t0\t},\n{\"x\":\t101.5\t, \"y\" :\t0\t},\n{\"x\":\t102.0\t, \"y\" :\t0\t},\n{\"x\":\t102.5\t, \"y\" :\t0\t},\n{\"x\":\t103.0\t, \"y\" :\t0\t},\n{\"x\":\t103.5\t, \"y\" :\t0\t},\n{\"x\":\t104.0\t, \"y\" :\t0\t},\n{\"x\":\t104.5\t, \"y\" :\t0\t},\n{\"x\":\t105.0\t, \"y\" :\t0\t},\n{\"x\":\t105.5\t, \"y\" :\t0\t},\n{\"x\":\t106.0\t, \"y\" :\t0\t},\n{\"x\":\t106.5\t, \"y\" :\t0\t},\n{\"x\":\t107.0\t, \"y\" :\t0\t},\n{\"x\":\t107.5\t, \"y\" :\t0\t},\n{\"x\":\t108.0\t, \"y\" :\t0\t},\n{\"x\":\t108.5\t, \"y\" :\t0\t},\n{\"x\":\t109.0\t, \"y\" :\t0\t},\n{\"x\":\t109.5\t, \"y\" :\t0\t},\n{\"x\":\t110.0\t, \"y\" :\t0\t},\n{\"x\":\t110.5\t, \"y\" :\t0\t},\n{\"x\":\t111.0\t, \"y\" :\t0\t},\n{\"x\":\t111.5\t, \"y\" :\t0\t},\n{\"x\":\t112.0\t, \"y\" :\t0\t},\n{\"x\":\t112.5\t, \"y\" :\t0\t},\n{\"x\":\t113.0\t, \"y\" :\t0\t},\n{\"x\":\t113.5\t, \"y\" :\t0\t},\n{\"x\":\t114.0\t, \"y\" :\t0\t},\n{\"x\":\t114.5\t, \"y\" :\t0\t},\n{\"x\":\t115.0\t, \"y\" :\t0\t},\n{\"x\":\t115.5\t, \"y\" :\t0\t},\n{\"x\":\t116.0\t, \"y\" :\t0\t},\n{\"x\":\t116.5\t, \"y\" :\t0\t},\n{\"x\":\t117.0\t, \"y\" :\t0\t},\n{\"x\":\t117.5\t, \"y\" :\t0\t},\n{\"x\":\t118.0\t, \"y\" :\t0\t},\n{\"x\":\t118.5\t, \"y\" :\t0\t},\n{\"x\":\t119.0\t, \"y\" :\t0\t},\n{\"x\":\t119.5\t, \"y\" :\t0\t},\n{\"x\":\t120.0\t, \"y\" :\t0\t},\n{\"x\":\t120.5\t, \"y\" :\t0\t},\n{\"x\":\t121.0\t, \"y\" :\t0\t},\n{\"x\":\t121.5\t, \"y\" :\t1\t},\n{\"x\":\t122.0\t, \"y\" :\t1\t},\n{\"x\":\t122.5\t, \"y\" :\t1\t},\n{\"x\":\t123.0\t, \"y\" :\t1\t},\n{\"x\":\t123.5\t, \"y\" :\t1\t},\n{\"x\":\t124.0\t, \"y\" :\t1\t},\n{\"x\":\t124.5\t, \"y\" :\t1\t},\n{\"x\":\t125.0\t, \"y\" :\t1\t},\n{\"x\":\t125.5\t, \"y\" :\t1\t},\n{\"x\":\t126.0\t, \"y\" :\t1\t},\n{\"x\":\t126.5\t, \"y\" :\t1\t},\n{\"x\":\t127.0\t, \"y\" :\t1\t},\n{\"x\":\t127.5\t, \"y\" :\t1\t},\n{\"x\":\t128.0\t, \"y\" :\t1\t},\n{\"x\":\t128.5\t, \"y\" :\t1\t},\n{\"x\":\t129.0\t, \"y\" :\t1\t},\n{\"x\":\t129.5\t, \"y\" :\t1\t},\n{\"x\":\t130.0\t, \"y\" :\t1\t},\n{\"x\":\t130.5\t, \"y\" :\t1\t},\n{\"x\":\t131.0\t, \"y\" :\t1\t},\n{\"x\":\t131.5\t, \"y\" :\t1\t},\n{\"x\":\t132.0\t, \"y\" :\t1\t},\n{\"x\":\t132.5\t, \"y\" :\t1\t},\n{\"x\":\t133.0\t, \"y\" :\t1\t},\n{\"x\":\t133.5\t, \"y\" :\t1\t},\n{\"x\":\t134.0\t, \"y\" :\t1\t},\n{\"x\":\t134.5\t, \"y\" :\t1\t},\n{\"x\":\t135.0\t, \"y\" :\t1\t},\n{\"x\":\t135.5\t, \"y\" :\t1\t},\n{\"x\":\t136.0\t, \"y\" :\t1\t},\n{\"x\":\t136.5\t, \"y\" :\t1\t},\n{\"x\":\t137.0\t, \"y\" :\t1\t},\n{\"x\":\t137.5\t, \"y\" :\t1\t},\n{\"x\":\t138.0\t, \"y\" :\t1\t},\n{\"x\":\t138.5\t, \"y\" :\t1\t},\n{\"x\":\t139.0\t, \"y\" :\t1\t},\n{\"x\":\t139.5\t, \"y\" :\t1\t},\n{\"x\":\t140.0\t, \"y\" :\t1\t},\n{\"x\":\t140.5\t, \"y\" :\t1\t},\n{\"x\":\t141.0\t, \"y\" :\t1\t},\n{\"x\":\t141.5\t, \"y\" :\t1\t},\n{\"x\":\t142.0\t, \"y\" :\t1\t},\n{\"x\":\t142.5\t, \"y\" :\t1\t},\n{\"x\":\t143.0\t, \"y\" :\t1\t},\n{\"x\":\t143.5\t, \"y\" :\t1\t},\n{\"x\":\t144.0\t, \"y\" :\t1\t},\n{\"x\":\t144.5\t, \"y\" :\t1\t},\n{\"x\":\t145.0\t, \"y\" :\t1\t},\n{\"x\":\t145.5\t, \"y\" :\t1\t},\n{\"x\":\t146.0\t, \"y\" :\t1\t},\n{\"x\":\t146.5\t, \"y\" :\t1\t},\n{\"x\":\t147.0\t, \"y\" :\t1\t},\n{\"x\":\t147.5\t, \"y\" :\t1\t},\n{\"x\":\t148.0\t, \"y\" :\t1\t},\n{\"x\":\t148.5\t, \"y\" :\t1\t},\n{\"x\":\t149.0\t, \"y\" :\t1\t},\n{\"x\":\t149.5\t, \"y\" :\t1\t},\n{\"x\":\t150.0\t, \"y\" :\t1\t},\n{\"x\":\t150.5\t, \"y\" :\t1\t},\n{\"x\":\t151.0\t, \"y\" :\t1\t},\n{\"x\":\t151.5\t, \"y\" :\t1\t},\n{\"x\":\t152.0\t, \"y\" :\t1\t},\n{\"x\":\t152.5\t, \"y\" :\t1\t},\n{\"x\":\t153.0\t, \"y\" :\t1\t},\n{\"x\":\t153.5\t, \"y\" :\t1\t},\n{\"x\":\t154.0\t, \"y\" :\t1\t},\n{\"x\":\t154.5\t, \"y\" :\t1\t},\n{\"x\":\t155.0\t, \"y\" :\t1\t},\n{\"x\":\t155.5\t, \"y\" :\t1\t},\n{\"x\":\t156.0\t, \"y\" :\t1\t},\n{\"x\":\t156.5\t, \"y\" :\t1\t},\n{\"x\":\t157.0\t, \"y\" :\t1\t},\n{\"x\":\t157.5\t, \"y\" :\t1\t},\n{\"x\":\t158.0\t, \"y\" :\t1\t},\n{\"x\":\t158.5\t, \"y\" :\t1\t},\n{\"x\":\t159.0\t, \"y\" :\t1\t},\n{\"x\":\t159.5\t, \"y\" :\t1\t},\n{\"x\":\t160.0\t, \"y\" :\t1\t},\n{\"x\":\t160.5\t, \"y\" :\t1\t},\n{\"x\":\t161.0\t, \"y\" :\t1\t},\n{\"x\":\t161.5\t, \"y\" :\t1\t},\n{\"x\":\t162.0\t, \"y\" :\t1\t},\n{\"x\":\t162.5\t, \"y\" :\t1\t},\n{\"x\":\t163.0\t, \"y\" :\t1\t},\n{\"x\":\t163.5\t, \"y\" :\t1\t},\n{\"x\":\t164.0\t, \"y\" :\t1\t},\n{\"x\":\t164.5\t, \"y\" :\t1\t},\n{\"x\":\t165.0\t, \"y\" :\t1\t},\n{\"x\":\t165.5\t, \"y\" :\t1\t},\n{\"x\":\t166.0\t, \"y\" :\t1\t},\n{\"x\":\t166.5\t, \"y\" :\t1\t},\n{\"x\":\t167.0\t, \"y\" :\t1\t},\n{\"x\":\t167.5\t, \"y\" :\t1\t},\n{\"x\":\t168.0\t, \"y\" :\t1\t},\n{\"x\":\t168.5\t, \"y\" :\t1\t},\n{\"x\":\t169.0\t, \"y\" :\t1\t},\n{\"x\":\t169.5\t, \"y\" :\t1\t},\n{\"x\":\t170.0\t, \"y\" :\t1\t},\n{\"x\":\t170.5\t, \"y\" :\t1\t},\n{\"x\":\t171.0\t, \"y\" :\t1\t},\n{\"x\":\t171.5\t, \"y\" :\t1\t},\n{\"x\":\t172.0\t, \"y\" :\t1\t},\n{\"x\":\t172.5\t, \"y\" :\t1\t},\n{\"x\":\t173.0\t, \"y\" :\t1\t},\n{\"x\":\t173.5\t, \"y\" :\t1\t},\n{\"x\":\t174.0\t, \"y\" :\t1\t},\n{\"x\":\t174.5\t, \"y\" :\t1\t},\n{\"x\":\t175.0\t, \"y\" :\t1\t},\n{\"x\":\t175.5\t, \"y\" :\t1\t},\n{\"x\":\t176.0\t, \"y\" :\t1\t},\n{\"x\":\t176.5\t, \"y\" :\t1\t},\n{\"x\":\t177.0\t, \"y\" :\t1\t},\n{\"x\":\t177.5\t, \"y\" :\t1\t},\n{\"x\":\t178.0\t, \"y\" :\t1\t},\n{\"x\":\t178.5\t, \"y\" :\t1\t},\n{\"x\":\t179.0\t, \"y\" :\t1\t},\n{\"x\":\t179.5\t, \"y\" :\t1\t},\n{\"x\":\t180.0\t, \"y\" :\t1\t},\n{\"x\":\t180.5\t, \"y\" :\t1\t},\n{\"x\":\t181.0\t, \"y\" :\t0\t},\n{\"x\":\t181.5\t, \"y\" :\t0\t},\n{\"x\":\t182.0\t, \"y\" :\t0\t},\n{\"x\":\t182.5\t, \"y\" :\t0\t},\n{\"x\":\t183.0\t, \"y\" :\t0\t},\n{\"x\":\t183.5\t, \"y\" :\t0\t},\n{\"x\":\t184.0\t, \"y\" :\t0\t},\n{\"x\":\t184.5\t, \"y\" :\t0\t},\n{\"x\":\t185.0\t, \"y\" :\t0\t},\n{\"x\":\t185.5\t, \"y\" :\t0\t},\n{\"x\":\t186.0\t, \"y\" :\t0\t},\n{\"x\":\t186.5\t, \"y\" :\t0\t},\n{\"x\":\t187.0\t, \"y\" :\t0\t},\n{\"x\":\t187.5\t, \"y\" :\t0\t},\n{\"x\":\t188.0\t, \"y\" :\t0\t},\n{\"x\":\t188.5\t, \"y\" :\t0\t},\n{\"x\":\t189.0\t, \"y\" :\t0\t},\n{\"x\":\t189.5\t, \"y\" :\t0\t},\n{\"x\":\t190.0\t, \"y\" :\t0\t},\n{\"x\":\t190.5\t, \"y\" :\t0\t},\n{\"x\":\t191.0\t, \"y\" :\t0\t},\n{\"x\":\t191.5\t, \"y\" :\t0\t},\n{\"x\":\t192.0\t, \"y\" :\t0\t},\n{\"x\":\t192.5\t, \"y\" :\t0\t},\n{\"x\":\t193.0\t, \"y\" :\t0\t},\n{\"x\":\t193.5\t, \"y\" :\t0\t},\n{\"x\":\t194.0\t, \"y\" :\t0\t},\n{\"x\":\t194.5\t, \"y\" :\t0\t},\n{\"x\":\t195.0\t, \"y\" :\t0\t},\n{\"x\":\t195.5\t, \"y\" :\t0\t},\n{\"x\":\t196.0\t, \"y\" :\t0\t},\n{\"x\":\t196.5\t, \"y\" :\t0\t},\n{\"x\":\t197.0\t, \"y\" :\t0\t},\n{\"x\":\t197.5\t, \"y\" :\t0\t},\n{\"x\":\t198.0\t, \"y\" :\t0\t},\n{\"x\":\t198.5\t, \"y\" :\t0\t},\n{\"x\":\t199.0\t, \"y\" :\t0\t},\n{\"x\":\t199.5\t, \"y\" :\t0\t},\n{\"x\":\t200.0\t, \"y\" :\t0\t},\n{\"x\":\t200.5\t, \"y\" :\t0\t},\n{\"x\":\t201.0\t, \"y\" :\t0\t},\n{\"x\":\t201.5\t, \"y\" :\t0\t},\n{\"x\":\t202.0\t, \"y\" :\t0\t},\n{\"x\":\t202.5\t, \"y\" :\t0\t},\n{\"x\":\t203.0\t, \"y\" :\t0\t},\n{\"x\":\t203.5\t, \"y\" :\t0\t},\n{\"x\":\t204.0\t, \"y\" :\t0\t},\n{\"x\":\t204.5\t, \"y\" :\t0\t},\n{\"x\":\t205.0\t, \"y\" :\t0\t},\n{\"x\":\t205.5\t, \"y\" :\t0\t},\n{\"x\":\t206.0\t, \"y\" :\t0\t},\n{\"x\":\t206.5\t, \"y\" :\t0\t},\n{\"x\":\t207.0\t, \"y\" :\t0\t},\n{\"x\":\t207.5\t, \"y\" :\t0\t},\n{\"x\":\t208.0\t, \"y\" :\t0\t},\n{\"x\":\t208.5\t, \"y\" :\t0\t},\n{\"x\":\t209.0\t, \"y\" :\t0\t},\n{\"x\":\t209.5\t, \"y\" :\t0\t},\n{\"x\":\t210.0\t, \"y\" :\t0\t},\n{\"x\":\t210.5\t, \"y\" :\t0\t},\n{\"x\":\t211.0\t, \"y\" :\t0\t},\n{\"x\":\t211.5\t, \"y\" :\t0\t},\n{\"x\":\t212.0\t, \"y\" :\t0\t},\n{\"x\":\t212.5\t, \"y\" :\t0\t},\n{\"x\":\t213.0\t, \"y\" :\t0\t},\n{\"x\":\t213.5\t, \"y\" :\t0\t},\n{\"x\":\t214.0\t, \"y\" :\t0\t},\n{\"x\":\t214.5\t, \"y\" :\t0\t},\n{\"x\":\t215.0\t, \"y\" :\t0\t},\n{\"x\":\t215.5\t, \"y\" :\t0\t},\n{\"x\":\t216.0\t, \"y\" :\t0\t},\n{\"x\":\t216.5\t, \"y\" :\t0\t},\n{\"x\":\t217.0\t, \"y\" :\t0\t},\n{\"x\":\t217.5\t, \"y\" :\t0\t},\n{\"x\":\t218.0\t, \"y\" :\t0\t},\n{\"x\":\t218.5\t, \"y\" :\t0\t},\n{\"x\":\t219.0\t, \"y\" :\t0\t},\n{\"x\":\t219.5\t, \"y\" :\t0\t},\n{\"x\":\t220.0\t, \"y\" :\t0\t},\n{\"x\":\t220.5\t, \"y\" :\t0\t},\n{\"x\":\t221.0\t, \"y\" :\t0\t},\n{\"x\":\t221.5\t, \"y\" :\t0\t},\n{\"x\":\t222.0\t, \"y\" :\t0\t},\n{\"x\":\t222.5\t, \"y\" :\t0\t},\n{\"x\":\t223.0\t, \"y\" :\t0\t},\n{\"x\":\t223.5\t, \"y\" :\t0\t},\n{\"x\":\t224.0\t, \"y\" :\t0\t},\n{\"x\":\t224.5\t, \"y\" :\t0\t},\n{\"x\":\t225.0\t, \"y\" :\t0\t},\n{\"x\":\t225.5\t, \"y\" :\t0\t},\n{\"x\":\t226.0\t, \"y\" :\t0\t},\n{\"x\":\t226.5\t, \"y\" :\t0\t},\n{\"x\":\t227.0\t, \"y\" :\t0\t},\n{\"x\":\t227.5\t, \"y\" :\t0\t},\n{\"x\":\t228.0\t, \"y\" :\t0\t},\n{\"x\":\t228.5\t, \"y\" :\t0\t},\n{\"x\":\t229.0\t, \"y\" :\t0\t},\n{\"x\":\t229.5\t, \"y\" :\t0\t},\n{\"x\":\t230.0\t, \"y\" :\t0\t},\n{\"x\":\t230.5\t, \"y\" :\t0\t},\n{\"x\":\t231.0\t, \"y\" :\t0\t},\n{\"x\":\t231.5\t, \"y\" :\t0\t},\n{\"x\":\t232.0\t, \"y\" :\t0\t},\n{\"x\":\t232.5\t, \"y\" :\t0\t},\n{\"x\":\t233.0\t, \"y\" :\t0\t},\n{\"x\":\t233.5\t, \"y\" :\t0\t},\n{\"x\":\t234.0\t, \"y\" :\t0\t},\n{\"x\":\t234.5\t, \"y\" :\t0\t},\n{\"x\":\t235.0\t, \"y\" :\t0\t},\n{\"x\":\t235.5\t, \"y\" :\t0\t},\n{\"x\":\t236.0\t, \"y\" :\t0\t},\n{\"x\":\t236.5\t, \"y\" :\t0\t},\n{\"x\":\t237.0\t, \"y\" :\t0\t},\n{\"x\":\t237.5\t, \"y\" :\t0\t},\n{\"x\":\t238.0\t, \"y\" :\t0\t},\n{\"x\":\t238.5\t, \"y\" :\t0\t},\n{\"x\":\t239.0\t, \"y\" :\t0\t},\n{\"x\":\t239.5\t, \"y\" :\t0\t},\n{\"x\":\t240.0\t, \"y\" :\t0\t},\n{\"x\":\t240.5\t, \"y\" :\t0\t},\n{\"x\":\t241.0\t, \"y\" :\t0\t},\n{\"x\":\t241.5\t, \"y\" :\t1\t},\n{\"x\":\t242.0\t, \"y\" :\t1\t},\n{\"x\":\t242.5\t, \"y\" :\t1\t},\n{\"x\":\t243.0\t, \"y\" :\t1\t},\n{\"x\":\t243.5\t, \"y\" :\t1\t},\n{\"x\":\t244.0\t, \"y\" :\t1\t},\n{\"x\":\t244.5\t, \"y\" :\t1\t},\n{\"x\":\t245.0\t, \"y\" :\t1\t},\n{\"x\":\t245.5\t, \"y\" :\t1\t},\n{\"x\":\t246.0\t, \"y\" :\t1\t},\n{\"x\":\t246.5\t, \"y\" :\t1\t},\n{\"x\":\t247.0\t, \"y\" :\t1\t},\n{\"x\":\t247.5\t, \"y\" :\t1\t},\n{\"x\":\t248.0\t, \"y\" :\t1\t},\n{\"x\":\t248.5\t, \"y\" :\t1\t},\n{\"x\":\t249.0\t, \"y\" :\t1\t},\n{\"x\":\t249.5\t, \"y\" :\t1\t},\n{\"x\":\t250.0\t, \"y\" :\t1\t},\n{\"x\":\t250.5\t, \"y\" :\t1\t},\n{\"x\":\t251.0\t, \"y\" :\t1\t},\n{\"x\":\t251.5\t, \"y\" :\t1\t},\n{\"x\":\t252.0\t, \"y\" :\t1\t},\n{\"x\":\t252.5\t, \"y\" :\t1\t},\n{\"x\":\t253.0\t, \"y\" :\t1\t},\n{\"x\":\t253.5\t, \"y\" :\t1\t},\n{\"x\":\t254.0\t, \"y\" :\t1\t},\n{\"x\":\t254.5\t, \"y\" :\t1\t},\n{\"x\":\t255.0\t, \"y\" :\t1\t},\n{\"x\":\t255.5\t, \"y\" :\t1\t},\n{\"x\":\t256.0\t, \"y\" :\t1\t},\n{\"x\":\t256.5\t, \"y\" :\t1\t},\n{\"x\":\t257.0\t, \"y\" :\t1\t},\n{\"x\":\t257.5\t, \"y\" :\t1\t},\n{\"x\":\t258.0\t, \"y\" :\t1\t},\n{\"x\":\t258.5\t, \"y\" :\t1\t},\n{\"x\":\t259.0\t, \"y\" :\t1\t},\n{\"x\":\t259.5\t, \"y\" :\t1\t},\n{\"x\":\t260.0\t, \"y\" :\t1\t},\n{\"x\":\t260.5\t, \"y\" :\t1\t},\n{\"x\":\t261.0\t, \"y\" :\t1\t},\n{\"x\":\t261.5\t, \"y\" :\t1\t},\n{\"x\":\t262.0\t, \"y\" :\t1\t},\n{\"x\":\t262.5\t, \"y\" :\t1\t},\n{\"x\":\t263.0\t, \"y\" :\t1\t},\n{\"x\":\t263.5\t, \"y\" :\t1\t},\n{\"x\":\t264.0\t, \"y\" :\t1\t},\n{\"x\":\t264.5\t, \"y\" :\t1\t},\n{\"x\":\t265.0\t, \"y\" :\t1\t},\n{\"x\":\t265.5\t, \"y\" :\t1\t},\n{\"x\":\t266.0\t, \"y\" :\t1\t},\n{\"x\":\t266.5\t, \"y\" :\t1\t},\n{\"x\":\t267.0\t, \"y\" :\t1\t},\n{\"x\":\t267.5\t, \"y\" :\t1\t},\n{\"x\":\t268.0\t, \"y\" :\t1\t},\n{\"x\":\t268.5\t, \"y\" :\t1\t},\n{\"x\":\t269.0\t, \"y\" :\t1\t},\n{\"x\":\t269.5\t, \"y\" :\t1\t},\n{\"x\":\t270.0\t, \"y\" :\t1\t},\n{\"x\":\t270.5\t, \"y\" :\t1\t},\n{\"x\":\t271.0\t, \"y\" :\t1\t},\n{\"x\":\t271.5\t, \"y\" :\t1\t},\n{\"x\":\t272.0\t, \"y\" :\t1\t},\n{\"x\":\t272.5\t, \"y\" :\t1\t},\n{\"x\":\t273.0\t, \"y\" :\t1\t},\n{\"x\":\t273.5\t, \"y\" :\t1\t},\n{\"x\":\t274.0\t, \"y\" :\t1\t},\n{\"x\":\t274.5\t, \"y\" :\t1\t},\n{\"x\":\t275.0\t, \"y\" :\t1\t},\n{\"x\":\t275.5\t, \"y\" :\t1\t},\n{\"x\":\t276.0\t, \"y\" :\t1\t},\n{\"x\":\t276.5\t, \"y\" :\t1\t},\n{\"x\":\t277.0\t, \"y\" :\t1\t},\n{\"x\":\t277.5\t, \"y\" :\t1\t},\n{\"x\":\t278.0\t, \"y\" :\t1\t},\n{\"x\":\t278.5\t, \"y\" :\t1\t},\n{\"x\":\t279.0\t, \"y\" :\t1\t},\n{\"x\":\t279.5\t, \"y\" :\t1\t},\n{\"x\":\t280.0\t, \"y\" :\t1\t},\n{\"x\":\t280.5\t, \"y\" :\t1\t},\n{\"x\":\t281.0\t, \"y\" :\t1\t},\n{\"x\":\t281.5\t, \"y\" :\t1\t},\n{\"x\":\t282.0\t, \"y\" :\t1\t},\n{\"x\":\t282.5\t, \"y\" :\t1\t},\n{\"x\":\t283.0\t, \"y\" :\t1\t},\n{\"x\":\t283.5\t, \"y\" :\t1\t},\n{\"x\":\t284.0\t, \"y\" :\t1\t},\n{\"x\":\t284.5\t, \"y\" :\t1\t},\n{\"x\":\t285.0\t, \"y\" :\t1\t},\n{\"x\":\t285.5\t, \"y\" :\t1\t},\n{\"x\":\t286.0\t, \"y\" :\t1\t},\n{\"x\":\t286.5\t, \"y\" :\t1\t},\n{\"x\":\t287.0\t, \"y\" :\t1\t},\n{\"x\":\t287.5\t, \"y\" :\t1\t},\n{\"x\":\t288.0\t, \"y\" :\t1\t},\n{\"x\":\t288.5\t, \"y\" :\t1\t},\n{\"x\":\t289.0\t, \"y\" :\t1\t},\n{\"x\":\t289.5\t, \"y\" :\t1\t},\n{\"x\":\t290.0\t, \"y\" :\t1\t},\n{\"x\":\t290.5\t, \"y\" :\t1\t},\n{\"x\":\t291.0\t, \"y\" :\t1\t},\n{\"x\":\t291.5\t, \"y\" :\t1\t},\n{\"x\":\t292.0\t, \"y\" :\t1\t},\n{\"x\":\t292.5\t, \"y\" :\t1\t},\n{\"x\":\t293.0\t, \"y\" :\t1\t},\n{\"x\":\t293.5\t, \"y\" :\t1\t},\n{\"x\":\t294.0\t, \"y\" :\t1\t},\n{\"x\":\t294.5\t, \"y\" :\t1\t},\n{\"x\":\t295.0\t, \"y\" :\t1\t},\n{\"x\":\t295.5\t, \"y\" :\t1\t},\n{\"x\":\t296.0\t, \"y\" :\t1\t},\n{\"x\":\t296.5\t, \"y\" :\t1\t},\n{\"x\":\t297.0\t, \"y\" :\t1\t},\n{\"x\":\t297.5\t, \"y\" :\t1\t},\n{\"x\":\t298.0\t, \"y\" :\t1\t},\n{\"x\":\t298.5\t, \"y\" :\t1\t},\n{\"x\":\t299.0\t, \"y\" :\t1\t},\n{\"x\":\t299.5\t, \"y\" :\t1\t},\n{\"x\":\t300.0\t, \"y\" :\t1\t},\n{\"x\":\t300.5\t, \"y\" :\t1\t},\n{\"x\":\t301.0\t, \"y\" :\t1\t},\n{\"x\":\t301.5\t, \"y\" :\t0\t},\n{\"x\":\t302.0\t, \"y\" :\t0\t},\n{\"x\":\t302.5\t, \"y\" :\t0\t},\n{\"x\":\t303.0\t, \"y\" :\t0\t},\n{\"x\":\t303.5\t, \"y\" :\t0\t},\n{\"x\":\t304.0\t, \"y\" :\t0\t},\n{\"x\":\t304.5\t, \"y\" :\t0\t},\n{\"x\":\t305.0\t, \"y\" :\t0\t},\n{\"x\":\t305.5\t, \"y\" :\t0\t},\n{\"x\":\t306.0\t, \"y\" :\t0\t},\n{\"x\":\t306.5\t, \"y\" :\t0\t},\n{\"x\":\t307.0\t, \"y\" :\t0\t},\n{\"x\":\t307.5\t, \"y\" :\t0\t},\n{\"x\":\t308.0\t, \"y\" :\t0\t},\n{\"x\":\t308.5\t, \"y\" :\t0\t},\n{\"x\":\t309.0\t, \"y\" :\t0\t},\n{\"x\":\t309.5\t, \"y\" :\t0\t},\n{\"x\":\t310.0\t, \"y\" :\t0\t},\n{\"x\":\t310.5\t, \"y\" :\t0\t},\n{\"x\":\t311.0\t, \"y\" :\t0\t},\n{\"x\":\t311.5\t, \"y\" :\t0\t},\n{\"x\":\t312.0\t, \"y\" :\t0\t},\n{\"x\":\t312.5\t, \"y\" :\t0\t},\n{\"x\":\t313.0\t, \"y\" :\t0\t},\n{\"x\":\t313.5\t, \"y\" :\t0\t},\n{\"x\":\t314.0\t, \"y\" :\t0\t},\n{\"x\":\t314.5\t, \"y\" :\t0\t},\n{\"x\":\t315.0\t, \"y\" :\t0\t},\n{\"x\":\t315.5\t, \"y\" :\t0\t},\n{\"x\":\t316.0\t, \"y\" :\t0\t},\n{\"x\":\t316.5\t, \"y\" :\t0\t},\n{\"x\":\t317.0\t, \"y\" :\t0\t},\n{\"x\":\t317.5\t, \"y\" :\t0\t},\n{\"x\":\t318.0\t, \"y\" :\t0\t},\n{\"x\":\t318.5\t, \"y\" :\t0\t},\n{\"x\":\t319.0\t, \"y\" :\t0\t},\n{\"x\":\t319.5\t, \"y\" :\t0\t},\n{\"x\":\t320.0\t, \"y\" :\t0\t},\n{\"x\":\t320.5\t, \"y\" :\t0\t},\n{\"x\":\t321.0\t, \"y\" :\t0\t},\n{\"x\":\t321.5\t, \"y\" :\t0\t},\n{\"x\":\t322.0\t, \"y\" :\t0\t},\n{\"x\":\t322.5\t, \"y\" :\t0\t},\n{\"x\":\t323.0\t, \"y\" :\t0\t},\n{\"x\":\t323.5\t, \"y\" :\t0\t},\n{\"x\":\t324.0\t, \"y\" :\t0\t},\n{\"x\":\t324.5\t, \"y\" :\t0\t},\n{\"x\":\t325.0\t, \"y\" :\t0\t},\n{\"x\":\t325.5\t, \"y\" :\t0\t},\n{\"x\":\t326.0\t, \"y\" :\t0\t},\n{\"x\":\t326.5\t, \"y\" :\t0\t},\n{\"x\":\t327.0\t, \"y\" :\t0\t},\n{\"x\":\t327.5\t, \"y\" :\t0\t},\n{\"x\":\t328.0\t, \"y\" :\t0\t},\n{\"x\":\t328.5\t, \"y\" :\t0\t},\n{\"x\":\t329.0\t, \"y\" :\t0\t},\n{\"x\":\t329.5\t, \"y\" :\t0\t},\n{\"x\":\t330.0\t, \"y\" :\t0\t},\n{\"x\":\t330.5\t, \"y\" :\t0\t},\n{\"x\":\t331.0\t, \"y\" :\t0\t},\n{\"x\":\t331.5\t, \"y\" :\t0\t},\n{\"x\":\t332.0\t, \"y\" :\t0\t},\n{\"x\":\t332.5\t, \"y\" :\t0\t},\n{\"x\":\t333.0\t, \"y\" :\t0\t},\n{\"x\":\t333.5\t, \"y\" :\t0\t},\n{\"x\":\t334.0\t, \"y\" :\t0\t},\n{\"x\":\t334.5\t, \"y\" :\t0\t},\n{\"x\":\t335.0\t, \"y\" :\t0\t},\n{\"x\":\t335.5\t, \"y\" :\t0\t},\n{\"x\":\t336.0\t, \"y\" :\t0\t},\n{\"x\":\t336.5\t, \"y\" :\t0\t},\n{\"x\":\t337.0\t, \"y\" :\t0\t},\n{\"x\":\t337.5\t, \"y\" :\t0\t},\n{\"x\":\t338.0\t, \"y\" :\t0\t},\n{\"x\":\t338.5\t, \"y\" :\t0\t},\n{\"x\":\t339.0\t, \"y\" :\t0\t},\n{\"x\":\t339.5\t, \"y\" :\t0\t},\n{\"x\":\t340.0\t, \"y\" :\t0\t},\n{\"x\":\t340.5\t, \"y\" :\t0\t},\n{\"x\":\t341.0\t, \"y\" :\t0\t},\n{\"x\":\t341.5\t, \"y\" :\t0\t},\n{\"x\":\t342.0\t, \"y\" :\t0\t},\n{\"x\":\t342.5\t, \"y\" :\t0\t},\n{\"x\":\t343.0\t, \"y\" :\t0\t},\n{\"x\":\t343.5\t, \"y\" :\t0\t},\n{\"x\":\t344.0\t, \"y\" :\t0\t},\n{\"x\":\t344.5\t, \"y\" :\t0\t},\n{\"x\":\t345.0\t, \"y\" :\t0\t},\n{\"x\":\t345.5\t, \"y\" :\t0\t},\n{\"x\":\t346.0\t, \"y\" :\t0\t},\n{\"x\":\t346.5\t, \"y\" :\t0\t},\n{\"x\":\t347.0\t, \"y\" :\t0\t},\n{\"x\":\t347.5\t, \"y\" :\t0\t},\n{\"x\":\t348.0\t, \"y\" :\t0\t},\n{\"x\":\t348.5\t, \"y\" :\t0\t},\n{\"x\":\t349.0\t, \"y\" :\t0\t},\n{\"x\":\t349.5\t, \"y\" :\t0\t},\n{\"x\":\t350.0\t, \"y\" :\t0\t},\n{\"x\":\t350.5\t, \"y\" :\t0\t},\n{\"x\":\t351.0\t, \"y\" :\t0\t},\n{\"x\":\t351.5\t, \"y\" :\t0\t},\n{\"x\":\t352.0\t, \"y\" :\t0\t},\n{\"x\":\t352.5\t, \"y\" :\t0\t},\n{\"x\":\t353.0\t, \"y\" :\t0\t},\n{\"x\":\t353.5\t, \"y\" :\t0\t},\n{\"x\":\t354.0\t, \"y\" :\t0\t},\n{\"x\":\t354.5\t, \"y\" :\t0\t},\n{\"x\":\t355.0\t, \"y\" :\t0\t},\n{\"x\":\t355.5\t, \"y\" :\t0\t},\n{\"x\":\t356.0\t, \"y\" :\t0\t},\n{\"x\":\t356.5\t, \"y\" :\t0\t},\n{\"x\":\t357.0\t, \"y\" :\t0\t},\n{\"x\":\t357.5\t, \"y\" :\t0\t},\n{\"x\":\t358.0\t, \"y\" :\t0\t},\n{\"x\":\t358.5\t, \"y\" :\t0\t},\n{\"x\":\t359.0\t, \"y\" :\t0\t},\n{\"x\":\t359.5\t, \"y\" :\t0\t},\n{\"x\":\t360.0\t, \"y\" :\t0\t},\n{\"x\":\t360.5\t, \"y\" :\t0\t},\n{\"x\":\t361.0\t, \"y\" :\t0\t},\n{\"x\":\t361.5\t, \"y\" :\t1\t},\n{\"x\":\t362.0\t, \"y\" :\t1\t},\n{\"x\":\t362.5\t, \"y\" :\t1\t},\n{\"x\":\t363.0\t, \"y\" :\t1\t},\n{\"x\":\t363.5\t, \"y\" :\t1\t},\n{\"x\":\t364.0\t, \"y\" :\t1\t},\n{\"x\":\t364.5\t, \"y\" :\t1\t},\n{\"x\":\t365.0\t, \"y\" :\t1\t},\n{\"x\":\t365.5\t, \"y\" :\t1\t},\n{\"x\":\t366.0\t, \"y\" :\t1\t},\n{\"x\":\t366.5\t, \"y\" :\t1\t},\n{\"x\":\t367.0\t, \"y\" :\t1\t},\n{\"x\":\t367.5\t, \"y\" :\t1\t},\n{\"x\":\t368.0\t, \"y\" :\t1\t},\n{\"x\":\t368.5\t, \"y\" :\t1\t},\n{\"x\":\t369.0\t, \"y\" :\t1\t},\n{\"x\":\t369.5\t, \"y\" :\t1\t},\n{\"x\":\t370.0\t, \"y\" :\t1\t},\n{\"x\":\t370.5\t, \"y\" :\t1\t},\n{\"x\":\t371.0\t, \"y\" :\t1\t},\n{\"x\":\t371.5\t, \"y\" :\t1\t},\n{\"x\":\t372.0\t, \"y\" :\t1\t},\n{\"x\":\t372.5\t, \"y\" :\t1\t},\n{\"x\":\t373.0\t, \"y\" :\t1\t},\n{\"x\":\t373.5\t, \"y\" :\t1\t},\n{\"x\":\t374.0\t, \"y\" :\t1\t},\n{\"x\":\t374.5\t, \"y\" :\t1\t},\n{\"x\":\t375.0\t, \"y\" :\t1\t},\n{\"x\":\t375.5\t, \"y\" :\t1\t},\n{\"x\":\t376.0\t, \"y\" :\t1\t},\n{\"x\":\t376.5\t, \"y\" :\t1\t},\n{\"x\":\t377.0\t, \"y\" :\t1\t},\n{\"x\":\t377.5\t, \"y\" :\t1\t},\n{\"x\":\t378.0\t, \"y\" :\t1\t},\n{\"x\":\t378.5\t, \"y\" :\t1\t},\n{\"x\":\t379.0\t, \"y\" :\t1\t},\n{\"x\":\t379.5\t, \"y\" :\t1\t},\n{\"x\":\t380.0\t, \"y\" :\t1\t},\n{\"x\":\t380.5\t, \"y\" :\t1\t},\n{\"x\":\t381.0\t, \"y\" :\t1\t},\n{\"x\":\t381.5\t, \"y\" :\t1\t},\n{\"x\":\t382.0\t, \"y\" :\t1\t},\n{\"x\":\t382.5\t, \"y\" :\t1\t},\n{\"x\":\t383.0\t, \"y\" :\t1\t},\n{\"x\":\t383.5\t, \"y\" :\t1\t},\n{\"x\":\t384.0\t, \"y\" :\t1\t},\n{\"x\":\t384.5\t, \"y\" :\t1\t},\n{\"x\":\t385.0\t, \"y\" :\t1\t},\n{\"x\":\t385.5\t, \"y\" :\t1\t},\n{\"x\":\t386.0\t, \"y\" :\t1\t},\n{\"x\":\t386.5\t, \"y\" :\t1\t},\n{\"x\":\t387.0\t, \"y\" :\t1\t},\n{\"x\":\t387.5\t, \"y\" :\t1\t},\n{\"x\":\t388.0\t, \"y\" :\t1\t},\n{\"x\":\t388.5\t, \"y\" :\t1\t},\n{\"x\":\t389.0\t, \"y\" :\t1\t},\n{\"x\":\t389.5\t, \"y\" :\t1\t},\n{\"x\":\t390.0\t, \"y\" :\t1\t},\n{\"x\":\t390.5\t, \"y\" :\t1\t},\n{\"x\":\t391.0\t, \"y\" :\t1\t},\n{\"x\":\t391.5\t, \"y\" :\t1\t},\n{\"x\":\t392.0\t, \"y\" :\t1\t},\n{\"x\":\t392.5\t, \"y\" :\t1\t},\n{\"x\":\t393.0\t, \"y\" :\t1\t},\n{\"x\":\t393.5\t, \"y\" :\t1\t},\n{\"x\":\t394.0\t, \"y\" :\t1\t},\n{\"x\":\t394.5\t, \"y\" :\t1\t},\n{\"x\":\t395.0\t, \"y\" :\t1\t},\n{\"x\":\t395.5\t, \"y\" :\t1\t},\n{\"x\":\t396.0\t, \"y\" :\t1\t},\n{\"x\":\t396.5\t, \"y\" :\t1\t},\n{\"x\":\t397.0\t, \"y\" :\t1\t},\n{\"x\":\t397.5\t, \"y\" :\t1\t},\n{\"x\":\t398.0\t, \"y\" :\t1\t},\n{\"x\":\t398.5\t, \"y\" :\t1\t},\n{\"x\":\t399.0\t, \"y\" :\t1\t},\n{\"x\":\t399.5\t, \"y\" :\t1\t},\n{\"x\":\t400.0\t, \"y\" :\t1\t},\n{\"x\":\t400.5\t, \"y\" :\t1\t},\n{\"x\":\t401.0\t, \"y\" :\t1\t},\n{\"x\":\t401.5\t, \"y\" :\t1\t},\n{\"x\":\t402.0\t, \"y\" :\t1\t},\n{\"x\":\t402.5\t, \"y\" :\t1\t},\n{\"x\":\t403.0\t, \"y\" :\t1\t},\n{\"x\":\t403.5\t, \"y\" :\t1\t},\n{\"x\":\t404.0\t, \"y\" :\t1\t},\n{\"x\":\t404.5\t, \"y\" :\t1\t},\n{\"x\":\t405.0\t, \"y\" :\t1\t},\n{\"x\":\t405.5\t, \"y\" :\t1\t},\n{\"x\":\t406.0\t, \"y\" :\t1\t},\n{\"x\":\t406.5\t, \"y\" :\t1\t},\n{\"x\":\t407.0\t, \"y\" :\t1\t},\n{\"x\":\t407.5\t, \"y\" :\t1\t},\n{\"x\":\t408.0\t, \"y\" :\t1\t},\n{\"x\":\t408.5\t, \"y\" :\t1\t},\n{\"x\":\t409.0\t, \"y\" :\t1\t},\n{\"x\":\t409.5\t, \"y\" :\t1\t},\n{\"x\":\t410.0\t, \"y\" :\t1\t},\n{\"x\":\t410.5\t, \"y\" :\t1\t},\n{\"x\":\t411.0\t, \"y\" :\t1\t},\n{\"x\":\t411.5\t, \"y\" :\t1\t},\n{\"x\":\t412.0\t, \"y\" :\t1\t},\n{\"x\":\t412.5\t, \"y\" :\t1\t},\n{\"x\":\t413.0\t, \"y\" :\t1\t},\n{\"x\":\t413.5\t, \"y\" :\t1\t},\n{\"x\":\t414.0\t, \"y\" :\t1\t},\n{\"x\":\t414.5\t, \"y\" :\t1\t},\n{\"x\":\t415.0\t, \"y\" :\t1\t},\n{\"x\":\t415.5\t, \"y\" :\t1\t},\n{\"x\":\t416.0\t, \"y\" :\t1\t},\n{\"x\":\t416.5\t, \"y\" :\t1\t},\n{\"x\":\t417.0\t, \"y\" :\t1\t},\n{\"x\":\t417.5\t, \"y\" :\t1\t},\n{\"x\":\t418.0\t, \"y\" :\t1\t},\n{\"x\":\t418.5\t, \"y\" :\t1\t},\n{\"x\":\t419.0\t, \"y\" :\t1\t},\n{\"x\":\t419.5\t, \"y\" :\t1\t},\n{\"x\":\t420.0\t, \"y\" :\t1\t},\n{\"x\":\t420.5\t, \"y\" :\t1\t},\n{\"x\":\t421.0\t, \"y\" :\t0\t},\n{\"x\":\t421.5\t, \"y\" :\t0\t},\n{\"x\":\t422.0\t, \"y\" :\t0\t},\n{\"x\":\t422.5\t, \"y\" :\t0\t},\n{\"x\":\t423.0\t, \"y\" :\t0\t},\n{\"x\":\t423.5\t, \"y\" :\t0\t},\n{\"x\":\t424.0\t, \"y\" :\t0\t},\n{\"x\":\t424.5\t, \"y\" :\t0\t},\n{\"x\":\t425.0\t, \"y\" :\t0\t},\n{\"x\":\t425.5\t, \"y\" :\t0\t},\n{\"x\":\t426.0\t, \"y\" :\t0\t},\n{\"x\":\t426.5\t, \"y\" :\t0\t},\n{\"x\":\t427.0\t, \"y\" :\t0\t},\n{\"x\":\t427.5\t, \"y\" :\t0\t},\n{\"x\":\t428.0\t, \"y\" :\t0\t},\n{\"x\":\t428.5\t, \"y\" :\t0\t},\n{\"x\":\t429.0\t, \"y\" :\t0\t},\n{\"x\":\t429.5\t, \"y\" :\t0\t},\n{\"x\":\t430.0\t, \"y\" :\t0\t},\n{\"x\":\t430.5\t, \"y\" :\t0\t},\n{\"x\":\t431.0\t, \"y\" :\t0\t},\n{\"x\":\t431.5\t, \"y\" :\t0\t},\n{\"x\":\t432.0\t, \"y\" :\t0\t},\n{\"x\":\t432.5\t, \"y\" :\t0\t},\n{\"x\":\t433.0\t, \"y\" :\t0\t},\n{\"x\":\t433.5\t, \"y\" :\t0\t},\n{\"x\":\t434.0\t, \"y\" :\t0\t},\n{\"x\":\t434.5\t, \"y\" :\t0\t},\n{\"x\":\t435.0\t, \"y\" :\t0\t},\n{\"x\":\t435.5\t, \"y\" :\t0\t},\n{\"x\":\t436.0\t, \"y\" :\t0\t},\n{\"x\":\t436.5\t, \"y\" :\t0\t},\n{\"x\":\t437.0\t, \"y\" :\t0\t},\n{\"x\":\t437.5\t, \"y\" :\t0\t},\n{\"x\":\t438.0\t, \"y\" :\t0\t},\n{\"x\":\t438.5\t, \"y\" :\t0\t},\n{\"x\":\t439.0\t, \"y\" :\t0\t},\n{\"x\":\t439.5\t, \"y\" :\t0\t},\n{\"x\":\t440.0\t, \"y\" :\t0\t},\n{\"x\":\t440.5\t, \"y\" :\t0\t},\n{\"x\":\t441.0\t, \"y\" :\t0\t},\n{\"x\":\t441.5\t, \"y\" :\t0\t},\n{\"x\":\t442.0\t, \"y\" :\t0\t},\n{\"x\":\t442.5\t, \"y\" :\t0\t},\n{\"x\":\t443.0\t, \"y\" :\t0\t},\n{\"x\":\t443.5\t, \"y\" :\t0\t},\n{\"x\":\t444.0\t, \"y\" :\t0\t},\n{\"x\":\t444.5\t, \"y\" :\t0\t},\n{\"x\":\t445.0\t, \"y\" :\t0\t},\n{\"x\":\t445.5\t, \"y\" :\t0\t},\n{\"x\":\t446.0\t, \"y\" :\t0\t},\n{\"x\":\t446.5\t, \"y\" :\t0\t},\n{\"x\":\t447.0\t, \"y\" :\t0\t},\n{\"x\":\t447.5\t, \"y\" :\t0\t},\n{\"x\":\t448.0\t, \"y\" :\t0\t},\n{\"x\":\t448.5\t, \"y\" :\t0\t},\n{\"x\":\t449.0\t, \"y\" :\t0\t},\n{\"x\":\t449.5\t, \"y\" :\t0\t},\n{\"x\":\t450.0\t, \"y\" :\t0\t},\n{\"x\":\t450.5\t, \"y\" :\t0\t},\n{\"x\":\t451.0\t, \"y\" :\t0\t},\n{\"x\":\t451.5\t, \"y\" :\t0\t},\n{\"x\":\t452.0\t, \"y\" :\t0\t},\n{\"x\":\t452.5\t, \"y\" :\t0\t},\n{\"x\":\t453.0\t, \"y\" :\t0\t},\n{\"x\":\t453.5\t, \"y\" :\t0\t},\n{\"x\":\t454.0\t, \"y\" :\t0\t},\n{\"x\":\t454.5\t, \"y\" :\t0\t},\n{\"x\":\t455.0\t, \"y\" :\t0\t},\n{\"x\":\t455.5\t, \"y\" :\t0\t},\n{\"x\":\t456.0\t, \"y\" :\t0\t},\n{\"x\":\t456.5\t, \"y\" :\t0\t},\n{\"x\":\t457.0\t, \"y\" :\t0\t},\n{\"x\":\t457.5\t, \"y\" :\t0\t},\n{\"x\":\t458.0\t, \"y\" :\t0\t},\n{\"x\":\t458.5\t, \"y\" :\t0\t},\n{\"x\":\t459.0\t, \"y\" :\t0\t},\n{\"x\":\t459.5\t, \"y\" :\t0\t},\n{\"x\":\t460.0\t, \"y\" :\t0\t},\n{\"x\":\t460.5\t, \"y\" :\t0\t},\n{\"x\":\t461.0\t, \"y\" :\t0\t},\n{\"x\":\t461.5\t, \"y\" :\t0\t},\n{\"x\":\t462.0\t, \"y\" :\t0\t},\n{\"x\":\t462.5\t, \"y\" :\t0\t},\n{\"x\":\t463.0\t, \"y\" :\t0\t},\n{\"x\":\t463.5\t, \"y\" :\t0\t},\n{\"x\":\t464.0\t, \"y\" :\t0\t},\n{\"x\":\t464.5\t, \"y\" :\t0\t},\n{\"x\":\t465.0\t, \"y\" :\t0\t},\n{\"x\":\t465.5\t, \"y\" :\t0\t},\n{\"x\":\t466.0\t, \"y\" :\t0\t},\n{\"x\":\t466.5\t, \"y\" :\t0\t},\n{\"x\":\t467.0\t, \"y\" :\t0\t},\n{\"x\":\t467.5\t, \"y\" :\t0\t},\n{\"x\":\t468.0\t, \"y\" :\t0\t},\n{\"x\":\t468.5\t, \"y\" :\t0\t},\n{\"x\":\t469.0\t, \"y\" :\t0\t},\n{\"x\":\t469.5\t, \"y\" :\t0\t},\n{\"x\":\t470.0\t, \"y\" :\t0\t},\n{\"x\":\t470.5\t, \"y\" :\t0\t},\n{\"x\":\t471.0\t, \"y\" :\t0\t},\n{\"x\":\t471.5\t, \"y\" :\t0\t},\n{\"x\":\t472.0\t, \"y\" :\t0\t},\n{\"x\":\t472.5\t, \"y\" :\t0\t},\n{\"x\":\t473.0\t, \"y\" :\t0\t},\n{\"x\":\t473.5\t, \"y\" :\t0\t},\n{\"x\":\t474.0\t, \"y\" :\t0\t},\n{\"x\":\t474.5\t, \"y\" :\t0\t},\n{\"x\":\t475.0\t, \"y\" :\t0\t},\n{\"x\":\t475.5\t, \"y\" :\t0\t},\n{\"x\":\t476.0\t, \"y\" :\t0\t},\n{\"x\":\t476.5\t, \"y\" :\t0\t},\n{\"x\":\t477.0\t, \"y\" :\t0\t},\n{\"x\":\t477.5\t, \"y\" :\t0\t},\n{\"x\":\t478.0\t, \"y\" :\t0\t},\n{\"x\":\t478.5\t, \"y\" :\t0\t},\n{\"x\":\t479.0\t, \"y\" :\t0\t},\n{\"x\":\t479.5\t, \"y\" :\t0\t},\n{\"x\":\t480.0\t, \"y\" :\t0\t},\n{\"x\":\t480.5\t, \"y\" :\t0\t},\n{\"x\":\t481.0\t, \"y\" :\t0\t},\n{\"x\":\t481.5\t, \"y\" :\t0\t},\n{\"x\":\t482.0\t, \"y\" :\t1\t},\n{\"x\":\t482.5\t, \"y\" :\t1\t},\n{\"x\":\t483.0\t, \"y\" :\t1\t},\n{\"x\":\t483.5\t, \"y\" :\t1\t},\n{\"x\":\t484.0\t, \"y\" :\t1\t},\n{\"x\":\t484.5\t, \"y\" :\t1\t},\n{\"x\":\t485.0\t, \"y\" :\t1\t},\n{\"x\":\t485.5\t, \"y\" :\t1\t},\n{\"x\":\t486.0\t, \"y\" :\t1\t},\n{\"x\":\t486.5\t, \"y\" :\t1\t},\n{\"x\":\t487.0\t, \"y\" :\t1\t},\n{\"x\":\t487.5\t, \"y\" :\t1\t},\n{\"x\":\t488.0\t, \"y\" :\t1\t},\n{\"x\":\t488.5\t, \"y\" :\t1\t},\n{\"x\":\t489.0\t, \"y\" :\t1\t},\n{\"x\":\t489.5\t, \"y\" :\t1\t},\n{\"x\":\t490.0\t, \"y\" :\t1\t},\n{\"x\":\t490.5\t, \"y\" :\t1\t},\n{\"x\":\t491.0\t, \"y\" :\t1\t},\n{\"x\":\t491.5\t, \"y\" :\t1\t},\n{\"x\":\t492.0\t, \"y\" :\t1\t},\n{\"x\":\t492.5\t, \"y\" :\t1\t},\n{\"x\":\t493.0\t, \"y\" :\t1\t},\n{\"x\":\t493.5\t, \"y\" :\t1\t},\n{\"x\":\t494.0\t, \"y\" :\t1\t},\n{\"x\":\t494.5\t, \"y\" :\t1\t},\n{\"x\":\t495.0\t, \"y\" :\t1\t},\n{\"x\":\t495.5\t, \"y\" :\t1\t},\n{\"x\":\t496.0\t, \"y\" :\t1\t},\n{\"x\":\t496.5\t, \"y\" :\t1\t},\n{\"x\":\t497.0\t, \"y\" :\t1\t},\n{\"x\":\t497.5\t, \"y\" :\t1\t},\n{\"x\":\t498.0\t, \"y\" :\t1\t},\n{\"x\":\t498.5\t, \"y\" :\t1\t},\n{\"x\":\t499.0\t, \"y\" :\t1\t},\n{\"x\":\t499.5\t, \"y\" :\t1\t},\n{\"x\":\t500.0\t, \"y\" :\t1\t},\n{\"x\":\t500.5\t, \"y\" :\t1\t},\n{\"x\":\t501.0\t, \"y\" :\t1\t},\n{\"x\":\t501.5\t, \"y\" :\t1\t},\n{\"x\":\t502.0\t, \"y\" :\t1\t},\n{\"x\":\t502.5\t, \"y\" :\t1\t},\n{\"x\":\t503.0\t, \"y\" :\t1\t},\n{\"x\":\t503.5\t, \"y\" :\t1\t},\n{\"x\":\t504.0\t, \"y\" :\t1\t},\n{\"x\":\t504.5\t, \"y\" :\t1\t},\n{\"x\":\t505.0\t, \"y\" :\t1\t},\n{\"x\":\t505.5\t, \"y\" :\t1\t},\n{\"x\":\t506.0\t, \"y\" :\t1\t},\n{\"x\":\t506.5\t, \"y\" :\t1\t},\n{\"x\":\t507.0\t, \"y\" :\t1\t},\n{\"x\":\t507.5\t, \"y\" :\t1\t},\n{\"x\":\t508.0\t, \"y\" :\t1\t},\n{\"x\":\t508.5\t, \"y\" :\t1\t},\n{\"x\":\t509.0\t, \"y\" :\t1\t},\n{\"x\":\t509.5\t, \"y\" :\t1\t},\n{\"x\":\t510.0\t, \"y\" :\t1\t},\n{\"x\":\t510.5\t, \"y\" :\t1\t},\n{\"x\":\t511.0\t, \"y\" :\t1\t},\n{\"x\":\t511.5\t, \"y\" :\t1\t},\n{\"x\":\t512.0\t, \"y\" :\t1\t},\n{\"x\":\t512.5\t, \"y\" :\t1\t},\n{\"x\":\t513.0\t, \"y\" :\t1\t},\n{\"x\":\t513.5\t, \"y\" :\t1\t},\n{\"x\":\t514.0\t, \"y\" :\t1\t},\n{\"x\":\t514.5\t, \"y\" :\t1\t},\n{\"x\":\t515.0\t, \"y\" :\t1\t},\n{\"x\":\t515.5\t, \"y\" :\t1\t},\n{\"x\":\t516.0\t, \"y\" :\t1\t},\n{\"x\":\t516.5\t, \"y\" :\t1\t},\n{\"x\":\t517.0\t, \"y\" :\t1\t},\n{\"x\":\t517.5\t, \"y\" :\t1\t},\n{\"x\":\t518.0\t, \"y\" :\t1\t},\n{\"x\":\t518.5\t, \"y\" :\t1\t},\n{\"x\":\t519.0\t, \"y\" :\t1\t},\n{\"x\":\t519.5\t, \"y\" :\t1\t},\n{\"x\":\t520.0\t, \"y\" :\t1\t},\n{\"x\":\t520.5\t, \"y\" :\t1\t},\n{\"x\":\t521.0\t, \"y\" :\t1\t},\n{\"x\":\t521.5\t, \"y\" :\t1\t},\n{\"x\":\t522.0\t, \"y\" :\t1\t},\n{\"x\":\t522.5\t, \"y\" :\t1\t},\n{\"x\":\t523.0\t, \"y\" :\t1\t},\n{\"x\":\t523.5\t, \"y\" :\t1\t},\n{\"x\":\t524.0\t, \"y\" :\t1\t},\n{\"x\":\t524.5\t, \"y\" :\t1\t},\n{\"x\":\t525.0\t, \"y\" :\t1\t},\n{\"x\":\t525.5\t, \"y\" :\t1\t},\n{\"x\":\t526.0\t, \"y\" :\t1\t},\n{\"x\":\t526.5\t, \"y\" :\t1\t},\n{\"x\":\t527.0\t, \"y\" :\t1\t},\n{\"x\":\t527.5\t, \"y\" :\t1\t},\n{\"x\":\t528.0\t, \"y\" :\t1\t},\n{\"x\":\t528.5\t, \"y\" :\t1\t},\n{\"x\":\t529.0\t, \"y\" :\t1\t},\n{\"x\":\t529.5\t, \"y\" :\t1\t},\n{\"x\":\t530.0\t, \"y\" :\t1\t},\n{\"x\":\t530.5\t, \"y\" :\t1\t},\n{\"x\":\t531.0\t, \"y\" :\t1\t},\n{\"x\":\t531.5\t, \"y\" :\t1\t},\n{\"x\":\t532.0\t, \"y\" :\t1\t},\n{\"x\":\t532.5\t, \"y\" :\t1\t},\n{\"x\":\t533.0\t, \"y\" :\t1\t},\n{\"x\":\t533.5\t, \"y\" :\t1\t},\n{\"x\":\t534.0\t, \"y\" :\t1\t},\n{\"x\":\t534.5\t, \"y\" :\t1\t},\n{\"x\":\t535.0\t, \"y\" :\t1\t},\n{\"x\":\t535.5\t, \"y\" :\t1\t},\n{\"x\":\t536.0\t, \"y\" :\t1\t},\n{\"x\":\t536.5\t, \"y\" :\t1\t},\n{\"x\":\t537.0\t, \"y\" :\t1\t},\n{\"x\":\t537.5\t, \"y\" :\t1\t},\n{\"x\":\t538.0\t, \"y\" :\t1\t},\n{\"x\":\t538.5\t, \"y\" :\t1\t},\n{\"x\":\t539.0\t, \"y\" :\t1\t},\n{\"x\":\t539.5\t, \"y\" :\t1\t},\n{\"x\":\t540.0\t, \"y\" :\t1\t},\n{\"x\":\t540.5\t, \"y\" :\t1\t},\n{\"x\":\t541.0\t, \"y\" :\t0\t},\n{\"x\":\t541.5\t, \"y\" :\t0\t},\n{\"x\":\t542.0\t, \"y\" :\t0\t},\n{\"x\":\t542.5\t, \"y\" :\t0\t},\n{\"x\":\t543.0\t, \"y\" :\t0\t},\n{\"x\":\t543.5\t, \"y\" :\t0\t},\n{\"x\":\t544.0\t, \"y\" :\t0\t},\n{\"x\":\t544.5\t, \"y\" :\t0\t},\n{\"x\":\t545.0\t, \"y\" :\t0\t},\n{\"x\":\t545.5\t, \"y\" :\t0\t},\n{\"x\":\t546.0\t, \"y\" :\t0\t},\n{\"x\":\t546.5\t, \"y\" :\t0\t},\n{\"x\":\t547.0\t, \"y\" :\t0\t},\n{\"x\":\t547.5\t, \"y\" :\t0\t},\n{\"x\":\t548.0\t, \"y\" :\t0\t},\n{\"x\":\t548.5\t, \"y\" :\t0\t},\n{\"x\":\t549.0\t, \"y\" :\t0\t},\n{\"x\":\t549.5\t, \"y\" :\t0\t},\n{\"x\":\t550.0\t, \"y\" :\t0\t},\n{\"x\":\t550.5\t, \"y\" :\t0\t},\n{\"x\":\t551.0\t, \"y\" :\t0\t},\n{\"x\":\t551.5\t, \"y\" :\t0\t},\n{\"x\":\t552.0\t, \"y\" :\t0\t},\n{\"x\":\t552.5\t, \"y\" :\t0\t},\n{\"x\":\t553.0\t, \"y\" :\t0\t},\n{\"x\":\t553.5\t, \"y\" :\t0\t},\n{\"x\":\t554.0\t, \"y\" :\t0\t},\n{\"x\":\t554.5\t, \"y\" :\t0\t},\n{\"x\":\t555.0\t, \"y\" :\t0\t},\n{\"x\":\t555.5\t, \"y\" :\t0\t},\n{\"x\":\t556.0\t, \"y\" :\t0\t},\n{\"x\":\t556.5\t, \"y\" :\t0\t},\n{\"x\":\t557.0\t, \"y\" :\t0\t},\n{\"x\":\t557.5\t, \"y\" :\t0\t},\n{\"x\":\t558.0\t, \"y\" :\t0\t},\n{\"x\":\t558.5\t, \"y\" :\t0\t},\n{\"x\":\t559.0\t, \"y\" :\t0\t},\n{\"x\":\t559.5\t, \"y\" :\t0\t},\n{\"x\":\t560.0\t, \"y\" :\t0\t},\n{\"x\":\t560.5\t, \"y\" :\t0\t},\n{\"x\":\t561.0\t, \"y\" :\t0\t},\n{\"x\":\t561.5\t, \"y\" :\t0\t},\n{\"x\":\t562.0\t, \"y\" :\t0\t},\n{\"x\":\t562.5\t, \"y\" :\t0\t},\n{\"x\":\t563.0\t, \"y\" :\t0\t},\n{\"x\":\t563.5\t, \"y\" :\t0\t},\n{\"x\":\t564.0\t, \"y\" :\t0\t},\n{\"x\":\t564.5\t, \"y\" :\t0\t},\n{\"x\":\t565.0\t, \"y\" :\t0\t},\n{\"x\":\t565.5\t, \"y\" :\t0\t},\n{\"x\":\t566.0\t, \"y\" :\t0\t},\n{\"x\":\t566.5\t, \"y\" :\t0\t},\n{\"x\":\t567.0\t, \"y\" :\t0\t},\n{\"x\":\t567.5\t, \"y\" :\t0\t},\n{\"x\":\t568.0\t, \"y\" :\t0\t},\n{\"x\":\t568.5\t, \"y\" :\t0\t},\n{\"x\":\t569.0\t, \"y\" :\t0\t},\n{\"x\":\t569.5\t, \"y\" :\t0\t},\n{\"x\":\t570.0\t, \"y\" :\t0\t},\n{\"x\":\t570.5\t, \"y\" :\t0\t},\n{\"x\":\t571.0\t, \"y\" :\t0\t},\n{\"x\":\t571.5\t, \"y\" :\t0\t},\n{\"x\":\t572.0\t, \"y\" :\t0\t},\n{\"x\":\t572.5\t, \"y\" :\t0\t},\n{\"x\":\t573.0\t, \"y\" :\t0\t},\n{\"x\":\t573.5\t, \"y\" :\t0\t},\n{\"x\":\t574.0\t, \"y\" :\t0\t},\n{\"x\":\t574.5\t, \"y\" :\t0\t},\n{\"x\":\t575.0\t, \"y\" :\t0\t},\n{\"x\":\t575.5\t, \"y\" :\t0\t},\n{\"x\":\t576.0\t, \"y\" :\t0\t},\n{\"x\":\t576.5\t, \"y\" :\t0\t},\n{\"x\":\t577.0\t, \"y\" :\t0\t},\n{\"x\":\t577.5\t, \"y\" :\t0\t},\n{\"x\":\t578.0\t, \"y\" :\t0\t},\n{\"x\":\t578.5\t, \"y\" :\t0\t},\n{\"x\":\t579.0\t, \"y\" :\t0\t},\n{\"x\":\t579.5\t, \"y\" :\t0\t},\n{\"x\":\t580.0\t, \"y\" :\t0\t},\n{\"x\":\t580.5\t, \"y\" :\t0\t},\n{\"x\":\t581.0\t, \"y\" :\t0\t},\n{\"x\":\t581.5\t, \"y\" :\t0\t},\n{\"x\":\t582.0\t, \"y\" :\t0\t},\n{\"x\":\t582.5\t, \"y\" :\t0\t},\n{\"x\":\t583.0\t, \"y\" :\t0\t},\n{\"x\":\t583.5\t, \"y\" :\t0\t},\n{\"x\":\t584.0\t, \"y\" :\t0\t},\n{\"x\":\t584.5\t, \"y\" :\t0\t},\n{\"x\":\t585.0\t, \"y\" :\t0\t},\n{\"x\":\t585.5\t, \"y\" :\t0\t},\n{\"x\":\t586.0\t, \"y\" :\t0\t},\n{\"x\":\t586.5\t, \"y\" :\t0\t},\n{\"x\":\t587.0\t, \"y\" :\t0\t},\n{\"x\":\t587.5\t, \"y\" :\t0\t},\n{\"x\":\t588.0\t, \"y\" :\t0\t},\n{\"x\":\t588.5\t, \"y\" :\t0\t},\n{\"x\":\t589.0\t, \"y\" :\t0\t},\n{\"x\":\t589.5\t, \"y\" :\t0\t},\n{\"x\":\t590.0\t, \"y\" :\t0\t},\n{\"x\":\t590.5\t, \"y\" :\t0\t},\n{\"x\":\t591.0\t, \"y\" :\t0\t},\n{\"x\":\t591.5\t, \"y\" :\t0\t},\n{\"x\":\t592.0\t, \"y\" :\t0\t},\n{\"x\":\t592.5\t, \"y\" :\t0\t},\n{\"x\":\t593.0\t, \"y\" :\t0\t},\n{\"x\":\t593.5\t, \"y\" :\t0\t},\n{\"x\":\t594.0\t, \"y\" :\t0\t},\n{\"x\":\t594.5\t, \"y\" :\t0\t},\n{\"x\":\t595.0\t, \"y\" :\t0\t},\n{\"x\":\t595.5\t, \"y\" :\t0\t},\n{\"x\":\t596.0\t, \"y\" :\t0\t},\n{\"x\":\t596.5\t, \"y\" :\t0\t},\n{\"x\":\t597.0\t, \"y\" :\t0\t},\n{\"x\":\t597.5\t, \"y\" :\t0\t},\n{\"x\":\t598.0\t, \"y\" :\t0\t},\n{\"x\":\t598.5\t, \"y\" :\t0\t},\n{\"x\":\t599.0\t, \"y\" :\t0\t},\n{\"x\":\t599.5\t, \"y\" :\t0\t},\n{\"x\":\t600.0\t, \"y\" :\t0\t},\n{\"x\":\t600.5\t, \"y\" :\t0\t},\n{\"x\":\t601.0\t, \"y\" :\t0\t},\n{\"x\":\t601.5\t, \"y\" :\t0\t},\n{\"x\":\t602.0\t, \"y\" :\t0\t},\n{\"x\":\t602.5\t, \"y\" :\t0\t}\n    ],\n[\n{\"x\":\t0.5\t, \"y\" :\t1\t},\n{\"x\":\t1.0\t, \"y\" :\t1\t},\n{\"x\":\t1.5\t, \"y\" :\t1\t},\n{\"x\":\t2.0\t, \"y\" :\t1\t},\n{\"x\":\t2.5\t, \"y\" :\t1\t},\n{\"x\":\t3.0\t, \"y\" :\t1\t},\n{\"x\":\t3.5\t, \"y\" :\t1\t},\n{\"x\":\t4.0\t, \"y\" :\t1\t},\n{\"x\":\t4.5\t, \"y\" :\t0\t},\n{\"x\":\t5.0\t, \"y\" :\t1\t},\n{\"x\":\t5.5\t, \"y\" :\t1\t},\n{\"x\":\t6.0\t, \"y\" :\t1\t},\n{\"x\":\t6.5\t, \"y\" :\t0\t},\n{\"x\":\t7.0\t, \"y\" :\t1\t},\n{\"x\":\t7.5\t, \"y\" :\t1\t},\n{\"x\":\t8.0\t, \"y\" :\t0\t},\n{\"x\":\t8.5\t, \"y\" :\t1\t},\n{\"x\":\t9.0\t, \"y\" :\t1\t},\n{\"x\":\t9.5\t, \"y\" :\t0\t},\n{\"x\":\t10.0\t, \"y\" :\t1\t},\n{\"x\":\t10.5\t, \"y\" :\t1\t},\n{\"x\":\t11.0\t, \"y\" :\t1\t},\n{\"x\":\t11.5\t, \"y\" :\t1\t},\n{\"x\":\t12.0\t, \"y\" :\t1\t},\n{\"x\":\t12.5\t, \"y\" :\t1\t},\n{\"x\":\t13.0\t, \"y\" :\t1\t},\n{\"x\":\t13.5\t, \"y\" :\t1\t},\n{\"x\":\t14.0\t, \"y\" :\t1\t},\n{\"x\":\t14.5\t, \"y\" :\t1\t},\n{\"x\":\t15.0\t, \"y\" :\t1\t},\n{\"x\":\t15.5\t, \"y\" :\t1\t},\n{\"x\":\t16.0\t, \"y\" :\t1\t},\n{\"x\":\t16.5\t, \"y\" :\t1\t},\n{\"x\":\t17.0\t, \"y\" :\t1\t},\n{\"x\":\t17.5\t, \"y\" :\t1\t},\n{\"x\":\t18.0\t, \"y\" :\t1\t},\n{\"x\":\t18.5\t, \"y\" :\t1\t},\n{\"x\":\t19.0\t, \"y\" :\t1\t},\n{\"x\":\t19.5\t, \"y\" :\t1\t},\n{\"x\":\t20.0\t, \"y\" :\t1\t},\n{\"x\":\t20.5\t, \"y\" :\t1\t},\n{\"x\":\t21.0\t, \"y\" :\t1\t},\n{\"x\":\t21.5\t, \"y\" :\t1\t},\n{\"x\":\t22.0\t, \"y\" :\t1\t},\n{\"x\":\t22.5\t, \"y\" :\t1\t},\n{\"x\":\t23.0\t, \"y\" :\t1\t},\n{\"x\":\t23.5\t, \"y\" :\t1\t},\n{\"x\":\t24.0\t, \"y\" :\t1\t},\n{\"x\":\t24.5\t, \"y\" :\t1\t},\n{\"x\":\t25.0\t, \"y\" :\t1\t},\n{\"x\":\t25.5\t, \"y\" :\t1\t},\n{\"x\":\t26.0\t, \"y\" :\t1\t},\n{\"x\":\t26.5\t, \"y\" :\t1\t},\n{\"x\":\t27.0\t, \"y\" :\t1\t},\n{\"x\":\t27.5\t, \"y\" :\t1\t},\n{\"x\":\t28.0\t, \"y\" :\t1\t},\n{\"x\":\t28.5\t, \"y\" :\t1\t},\n{\"x\":\t29.0\t, \"y\" :\t1\t},\n{\"x\":\t29.5\t, \"y\" :\t1\t},\n{\"x\":\t30.0\t, \"y\" :\t1\t},\n{\"x\":\t30.5\t, \"y\" :\t1\t},\n{\"x\":\t31.0\t, \"y\" :\t1\t},\n{\"x\":\t31.5\t, \"y\" :\t1\t},\n{\"x\":\t32.0\t, \"y\" :\t1\t},\n{\"x\":\t32.5\t, \"y\" :\t1\t},\n{\"x\":\t33.0\t, \"y\" :\t1\t},\n{\"x\":\t33.5\t, \"y\" :\t1\t},\n{\"x\":\t34.0\t, \"y\" :\t1\t},\n{\"x\":\t34.5\t, \"y\" :\t1\t},\n{\"x\":\t35.0\t, \"y\" :\t1\t},\n{\"x\":\t35.5\t, \"y\" :\t1\t},\n{\"x\":\t36.0\t, \"y\" :\t1\t},\n{\"x\":\t36.5\t, \"y\" :\t1\t},\n{\"x\":\t37.0\t, \"y\" :\t1\t},\n{\"x\":\t37.5\t, \"y\" :\t1\t},\n{\"x\":\t38.0\t, \"y\" :\t1\t},\n{\"x\":\t38.5\t, \"y\" :\t1\t},\n{\"x\":\t39.0\t, \"y\" :\t1\t},\n{\"x\":\t39.5\t, \"y\" :\t1\t},\n{\"x\":\t40.0\t, \"y\" :\t1\t},\n{\"x\":\t40.5\t, \"y\" :\t1\t},\n{\"x\":\t41.0\t, \"y\" :\t1\t},\n{\"x\":\t41.5\t, \"y\" :\t1\t},\n{\"x\":\t42.0\t, \"y\" :\t1\t},\n{\"x\":\t42.5\t, \"y\" :\t1\t},\n{\"x\":\t43.0\t, \"y\" :\t1\t},\n{\"x\":\t43.5\t, \"y\" :\t1\t},\n{\"x\":\t44.0\t, \"y\" :\t1\t},\n{\"x\":\t44.5\t, \"y\" :\t1\t},\n{\"x\":\t45.0\t, \"y\" :\t1\t},\n{\"x\":\t45.5\t, \"y\" :\t1\t},\n{\"x\":\t46.0\t, \"y\" :\t1\t},\n{\"x\":\t46.5\t, \"y\" :\t1\t},\n{\"x\":\t47.0\t, \"y\" :\t1\t},\n{\"x\":\t47.5\t, \"y\" :\t1\t},\n{\"x\":\t48.0\t, \"y\" :\t1\t},\n{\"x\":\t48.5\t, \"y\" :\t1\t},\n{\"x\":\t49.0\t, \"y\" :\t1\t},\n{\"x\":\t49.5\t, \"y\" :\t1\t},\n{\"x\":\t50.0\t, \"y\" :\t1\t},\n{\"x\":\t50.5\t, \"y\" :\t1\t},\n{\"x\":\t51.0\t, \"y\" :\t1\t},\n{\"x\":\t51.5\t, \"y\" :\t1\t},\n{\"x\":\t52.0\t, \"y\" :\t1\t},\n{\"x\":\t52.5\t, \"y\" :\t1\t},\n{\"x\":\t53.0\t, \"y\" :\t1\t},\n{\"x\":\t53.5\t, \"y\" :\t1\t},\n{\"x\":\t54.0\t, \"y\" :\t1\t},\n{\"x\":\t54.5\t, \"y\" :\t1\t},\n{\"x\":\t55.0\t, \"y\" :\t1\t},\n{\"x\":\t55.5\t, \"y\" :\t1\t},\n{\"x\":\t56.0\t, \"y\" :\t1\t},\n{\"x\":\t56.5\t, \"y\" :\t1\t},\n{\"x\":\t57.0\t, \"y\" :\t1\t},\n{\"x\":\t57.5\t, \"y\" :\t1\t},\n{\"x\":\t58.0\t, \"y\" :\t1\t},\n{\"x\":\t58.5\t, \"y\" :\t1\t},\n{\"x\":\t59.0\t, \"y\" :\t1\t},\n{\"x\":\t59.5\t, \"y\" :\t1\t},\n{\"x\":\t60.0\t, \"y\" :\t1\t},\n{\"x\":\t60.5\t, \"y\" :\t1\t},\n{\"x\":\t61.0\t, \"y\" :\t1\t},\n{\"x\":\t61.5\t, \"y\" :\t1\t},\n{\"x\":\t62.0\t, \"y\" :\t1\t},\n{\"x\":\t62.5\t, \"y\" :\t1\t},\n{\"x\":\t63.0\t, \"y\" :\t1\t},\n{\"x\":\t63.5\t, \"y\" :\t1\t},\n{\"x\":\t64.0\t, \"y\" :\t1\t},\n{\"x\":\t64.5\t, \"y\" :\t1\t},\n{\"x\":\t65.0\t, \"y\" :\t1\t},\n{\"x\":\t65.5\t, \"y\" :\t1\t},\n{\"x\":\t66.0\t, \"y\" :\t1\t},\n{\"x\":\t66.5\t, \"y\" :\t1\t},\n{\"x\":\t67.0\t, \"y\" :\t1\t},\n{\"x\":\t67.5\t, \"y\" :\t1\t},\n{\"x\":\t68.0\t, \"y\" :\t1\t},\n{\"x\":\t68.5\t, \"y\" :\t1\t},\n{\"x\":\t69.0\t, \"y\" :\t1\t},\n{\"x\":\t69.5\t, \"y\" :\t0\t},\n{\"x\":\t70.0\t, \"y\" :\t0\t},\n{\"x\":\t70.5\t, \"y\" :\t1\t},\n{\"x\":\t71.0\t, \"y\" :\t0\t},\n{\"x\":\t71.5\t, \"y\" :\t0\t},\n{\"x\":\t72.0\t, \"y\" :\t0\t},\n{\"x\":\t72.5\t, \"y\" :\t0\t},\n{\"x\":\t73.0\t, \"y\" :\t0\t},\n{\"x\":\t73.5\t, \"y\" :\t0\t},\n{\"x\":\t74.0\t, \"y\" :\t0\t},\n{\"x\":\t74.5\t, \"y\" :\t0\t},\n{\"x\":\t75.0\t, \"y\" :\t0\t},\n{\"x\":\t75.5\t, \"y\" :\t0\t},\n{\"x\":\t76.0\t, \"y\" :\t0\t},\n{\"x\":\t76.5\t, \"y\" :\t0\t},\n{\"x\":\t77.0\t, \"y\" :\t0\t},\n{\"x\":\t77.5\t, \"y\" :\t0\t},\n{\"x\":\t78.0\t, \"y\" :\t0\t},\n{\"x\":\t78.5\t, \"y\" :\t0\t},\n{\"x\":\t79.0\t, \"y\" :\t0\t},\n{\"x\":\t79.5\t, \"y\" :\t0\t},\n{\"x\":\t80.0\t, \"y\" :\t0\t},\n{\"x\":\t80.5\t, \"y\" :\t0\t},\n{\"x\":\t81.0\t, \"y\" :\t0\t},\n{\"x\":\t81.5\t, \"y\" :\t0\t},\n{\"x\":\t82.0\t, \"y\" :\t0\t},\n{\"x\":\t82.5\t, \"y\" :\t0\t},\n{\"x\":\t83.0\t, \"y\" :\t0\t},\n{\"x\":\t83.5\t, \"y\" :\t1\t},\n{\"x\":\t84.0\t, \"y\" :\t1\t},\n{\"x\":\t84.5\t, \"y\" :\t1\t},\n{\"x\":\t85.0\t, \"y\" :\t1\t},\n{\"x\":\t85.5\t, \"y\" :\t1\t},\n{\"x\":\t86.0\t, \"y\" :\t1\t},\n{\"x\":\t86.5\t, \"y\" :\t1\t},\n{\"x\":\t87.0\t, \"y\" :\t1\t},\n{\"x\":\t87.5\t, \"y\" :\t1\t},\n{\"x\":\t88.0\t, \"y\" :\t1\t},\n{\"x\":\t88.5\t, \"y\" :\t1\t},\n{\"x\":\t89.0\t, \"y\" :\t1\t},\n{\"x\":\t89.5\t, \"y\" :\t1\t},\n{\"x\":\t90.0\t, \"y\" :\t1\t},\n{\"x\":\t90.5\t, \"y\" :\t1\t},\n{\"x\":\t91.0\t, \"y\" :\t1\t},\n{\"x\":\t91.5\t, \"y\" :\t1\t},\n{\"x\":\t92.0\t, \"y\" :\t1\t},\n{\"x\":\t92.5\t, \"y\" :\t1\t},\n{\"x\":\t93.0\t, \"y\" :\t1\t},\n{\"x\":\t93.5\t, \"y\" :\t1\t},\n{\"x\":\t94.0\t, \"y\" :\t1\t},\n{\"x\":\t94.5\t, \"y\" :\t1\t},\n{\"x\":\t95.0\t, \"y\" :\t1\t},\n{\"x\":\t95.5\t, \"y\" :\t1\t},\n{\"x\":\t96.0\t, \"y\" :\t1\t},\n{\"x\":\t96.5\t, \"y\" :\t1\t},\n{\"x\":\t97.0\t, \"y\" :\t1\t},\n{\"x\":\t97.5\t, \"y\" :\t1\t},\n{\"x\":\t98.0\t, \"y\" :\t1\t},\n{\"x\":\t98.5\t, \"y\" :\t1\t},\n{\"x\":\t99.0\t, \"y\" :\t1\t},\n{\"x\":\t99.5\t, \"y\" :\t1\t},\n{\"x\":\t100.0\t, \"y\" :\t1\t},\n{\"x\":\t100.5\t, \"y\" :\t1\t},\n{\"x\":\t101.0\t, \"y\" :\t1\t},\n{\"x\":\t101.5\t, \"y\" :\t1\t},\n{\"x\":\t102.0\t, \"y\" :\t1\t},\n{\"x\":\t102.5\t, \"y\" :\t1\t},\n{\"x\":\t103.0\t, \"y\" :\t1\t},\n{\"x\":\t103.5\t, \"y\" :\t1\t},\n{\"x\":\t104.0\t, \"y\" :\t1\t},\n{\"x\":\t104.5\t, \"y\" :\t0\t},\n{\"x\":\t105.0\t, \"y\" :\t0\t},\n{\"x\":\t105.5\t, \"y\" :\t0\t},\n{\"x\":\t106.0\t, \"y\" :\t0\t},\n{\"x\":\t106.5\t, \"y\" :\t0\t},\n{\"x\":\t107.0\t, \"y\" :\t0\t},\n{\"x\":\t107.5\t, \"y\" :\t0\t},\n{\"x\":\t108.0\t, \"y\" :\t0\t},\n{\"x\":\t108.5\t, \"y\" :\t0\t},\n{\"x\":\t109.0\t, \"y\" :\t0\t},\n{\"x\":\t109.5\t, \"y\" :\t0\t},\n{\"x\":\t110.0\t, \"y\" :\t0\t},\n{\"x\":\t110.5\t, \"y\" :\t0\t},\n{\"x\":\t111.0\t, \"y\" :\t0\t},\n{\"x\":\t111.5\t, \"y\" :\t0\t},\n{\"x\":\t112.0\t, \"y\" :\t0\t},\n{\"x\":\t112.5\t, \"y\" :\t0\t},\n{\"x\":\t113.0\t, \"y\" :\t0\t},\n{\"x\":\t113.5\t, \"y\" :\t0\t},\n{\"x\":\t114.0\t, \"y\" :\t0\t},\n{\"x\":\t114.5\t, \"y\" :\t0\t},\n{\"x\":\t115.0\t, \"y\" :\t0\t},\n{\"x\":\t115.5\t, \"y\" :\t0\t},\n{\"x\":\t116.0\t, \"y\" :\t0\t},\n{\"x\":\t116.5\t, \"y\" :\t0\t},\n{\"x\":\t117.0\t, \"y\" :\t0\t},\n{\"x\":\t117.5\t, \"y\" :\t0\t},\n{\"x\":\t118.0\t, \"y\" :\t0\t},\n{\"x\":\t118.5\t, \"y\" :\t0\t},\n{\"x\":\t119.0\t, \"y\" :\t0\t},\n{\"x\":\t119.5\t, \"y\" :\t0\t},\n{\"x\":\t120.0\t, \"y\" :\t0\t},\n{\"x\":\t120.5\t, \"y\" :\t0\t},\n{\"x\":\t121.0\t, \"y\" :\t0\t},\n{\"x\":\t121.5\t, \"y\" :\t1\t},\n{\"x\":\t122.0\t, \"y\" :\t0\t},\n{\"x\":\t122.5\t, \"y\" :\t0\t},\n{\"x\":\t123.0\t, \"y\" :\t0\t},\n{\"x\":\t123.5\t, \"y\" :\t1\t},\n{\"x\":\t124.0\t, \"y\" :\t1\t},\n{\"x\":\t124.5\t, \"y\" :\t1\t},\n{\"x\":\t125.0\t, \"y\" :\t1\t},\n{\"x\":\t125.5\t, \"y\" :\t1\t},\n{\"x\":\t126.0\t, \"y\" :\t1\t},\n{\"x\":\t126.5\t, \"y\" :\t1\t},\n{\"x\":\t127.0\t, \"y\" :\t1\t},\n{\"x\":\t127.5\t, \"y\" :\t1\t},\n{\"x\":\t128.0\t, \"y\" :\t1\t},\n{\"x\":\t128.5\t, \"y\" :\t1\t},\n{\"x\":\t129.0\t, \"y\" :\t1\t},\n{\"x\":\t129.5\t, \"y\" :\t1\t},\n{\"x\":\t130.0\t, \"y\" :\t1\t},\n{\"x\":\t130.5\t, \"y\" :\t1\t},\n{\"x\":\t131.0\t, \"y\" :\t1\t},\n{\"x\":\t131.5\t, \"y\" :\t1\t},\n{\"x\":\t132.0\t, \"y\" :\t1\t},\n{\"x\":\t132.5\t, \"y\" :\t1\t},\n{\"x\":\t133.0\t, \"y\" :\t1\t},\n{\"x\":\t133.5\t, \"y\" :\t1\t},\n{\"x\":\t134.0\t, \"y\" :\t1\t},\n{\"x\":\t134.5\t, \"y\" :\t1\t},\n{\"x\":\t135.0\t, \"y\" :\t1\t},\n{\"x\":\t135.5\t, \"y\" :\t1\t},\n{\"x\":\t136.0\t, \"y\" :\t1\t},\n{\"x\":\t136.5\t, \"y\" :\t1\t},\n{\"x\":\t137.0\t, \"y\" :\t1\t},\n{\"x\":\t137.5\t, \"y\" :\t1\t},\n{\"x\":\t138.0\t, \"y\" :\t1\t},\n{\"x\":\t138.5\t, \"y\" :\t1\t},\n{\"x\":\t139.0\t, \"y\" :\t0\t},\n{\"x\":\t139.5\t, \"y\" :\t1\t},\n{\"x\":\t140.0\t, \"y\" :\t1\t},\n{\"x\":\t140.5\t, \"y\" :\t1\t},\n{\"x\":\t141.0\t, \"y\" :\t1\t},\n{\"x\":\t141.5\t, \"y\" :\t0\t},\n{\"x\":\t142.0\t, \"y\" :\t1\t},\n{\"x\":\t142.5\t, \"y\" :\t1\t},\n{\"x\":\t143.0\t, \"y\" :\t1\t},\n{\"x\":\t143.5\t, \"y\" :\t1\t},\n{\"x\":\t144.0\t, \"y\" :\t1\t},\n{\"x\":\t144.5\t, \"y\" :\t1\t},\n{\"x\":\t145.0\t, \"y\" :\t1\t},\n{\"x\":\t145.5\t, \"y\" :\t1\t},\n{\"x\":\t146.0\t, \"y\" :\t1\t},\n{\"x\":\t146.5\t, \"y\" :\t1\t},\n{\"x\":\t147.0\t, \"y\" :\t1\t},\n{\"x\":\t147.5\t, \"y\" :\t1\t},\n{\"x\":\t148.0\t, \"y\" :\t1\t},\n{\"x\":\t148.5\t, \"y\" :\t0\t},\n{\"x\":\t149.0\t, \"y\" :\t0\t},\n{\"x\":\t149.5\t, \"y\" :\t1\t},\n{\"x\":\t150.0\t, \"y\" :\t0\t},\n{\"x\":\t150.5\t, \"y\" :\t1\t},\n{\"x\":\t151.0\t, \"y\" :\t1\t},\n{\"x\":\t151.5\t, \"y\" :\t1\t},\n{\"x\":\t152.0\t, \"y\" :\t1\t},\n{\"x\":\t152.5\t, \"y\" :\t1\t},\n{\"x\":\t153.0\t, \"y\" :\t1\t},\n{\"x\":\t153.5\t, \"y\" :\t1\t},\n{\"x\":\t154.0\t, \"y\" :\t1\t},\n{\"x\":\t154.5\t, \"y\" :\t1\t},\n{\"x\":\t155.0\t, \"y\" :\t1\t},\n{\"x\":\t155.5\t, \"y\" :\t1\t},\n{\"x\":\t156.0\t, \"y\" :\t1\t},\n{\"x\":\t156.5\t, \"y\" :\t1\t},\n{\"x\":\t157.0\t, \"y\" :\t1\t},\n{\"x\":\t157.5\t, \"y\" :\t1\t},\n{\"x\":\t158.0\t, \"y\" :\t1\t},\n{\"x\":\t158.5\t, \"y\" :\t1\t},\n{\"x\":\t159.0\t, \"y\" :\t1\t},\n{\"x\":\t159.5\t, \"y\" :\t1\t},\n{\"x\":\t160.0\t, \"y\" :\t1\t},\n{\"x\":\t160.5\t, \"y\" :\t1\t},\n{\"x\":\t161.0\t, \"y\" :\t1\t},\n{\"x\":\t161.5\t, \"y\" :\t1\t},\n{\"x\":\t162.0\t, \"y\" :\t1\t},\n{\"x\":\t162.5\t, \"y\" :\t1\t},\n{\"x\":\t163.0\t, \"y\" :\t1\t},\n{\"x\":\t163.5\t, \"y\" :\t1\t},\n{\"x\":\t164.0\t, \"y\" :\t1\t},\n{\"x\":\t164.5\t, \"y\" :\t1\t},\n{\"x\":\t165.0\t, \"y\" :\t1\t},\n{\"x\":\t165.5\t, \"y\" :\t1\t},\n{\"x\":\t166.0\t, \"y\" :\t1\t},\n{\"x\":\t166.5\t, \"y\" :\t1\t},\n{\"x\":\t167.0\t, \"y\" :\t1\t},\n{\"x\":\t167.5\t, \"y\" :\t1\t},\n{\"x\":\t168.0\t, \"y\" :\t1\t},\n{\"x\":\t168.5\t, \"y\" :\t1\t},\n{\"x\":\t169.0\t, \"y\" :\t1\t},\n{\"x\":\t169.5\t, \"y\" :\t1\t},\n{\"x\":\t170.0\t, \"y\" :\t1\t},\n{\"x\":\t170.5\t, \"y\" :\t1\t},\n{\"x\":\t171.0\t, \"y\" :\t1\t},\n{\"x\":\t171.5\t, \"y\" :\t1\t},\n{\"x\":\t172.0\t, \"y\" :\t1\t},\n{\"x\":\t172.5\t, \"y\" :\t1\t},\n{\"x\":\t173.0\t, \"y\" :\t1\t},\n{\"x\":\t173.5\t, \"y\" :\t1\t},\n{\"x\":\t174.0\t, \"y\" :\t1\t},\n{\"x\":\t174.5\t, \"y\" :\t1\t},\n{\"x\":\t175.0\t, \"y\" :\t1\t},\n{\"x\":\t175.5\t, \"y\" :\t1\t},\n{\"x\":\t176.0\t, \"y\" :\t1\t},\n{\"x\":\t176.5\t, \"y\" :\t1\t},\n{\"x\":\t177.0\t, \"y\" :\t1\t},\n{\"x\":\t177.5\t, \"y\" :\t1\t},\n{\"x\":\t178.0\t, \"y\" :\t1\t},\n{\"x\":\t178.5\t, \"y\" :\t1\t},\n{\"x\":\t179.0\t, \"y\" :\t1\t},\n{\"x\":\t179.5\t, \"y\" :\t1\t},\n{\"x\":\t180.0\t, \"y\" :\t1\t},\n{\"x\":\t180.5\t, \"y\" :\t1\t},\n{\"x\":\t181.0\t, \"y\" :\t1\t},\n{\"x\":\t181.5\t, \"y\" :\t1\t},\n{\"x\":\t182.0\t, \"y\" :\t1\t},\n{\"x\":\t182.5\t, \"y\" :\t1\t},\n{\"x\":\t183.0\t, \"y\" :\t1\t},\n{\"x\":\t183.5\t, \"y\" :\t1\t},\n{\"x\":\t184.0\t, \"y\" :\t1\t},\n{\"x\":\t184.5\t, \"y\" :\t1\t},\n{\"x\":\t185.0\t, \"y\" :\t1\t},\n{\"x\":\t185.5\t, \"y\" :\t1\t},\n{\"x\":\t186.0\t, \"y\" :\t1\t},\n{\"x\":\t186.5\t, \"y\" :\t0\t},\n{\"x\":\t187.0\t, \"y\" :\t1\t},\n{\"x\":\t187.5\t, \"y\" :\t0\t},\n{\"x\":\t188.0\t, \"y\" :\t1\t},\n{\"x\":\t188.5\t, \"y\" :\t0\t},\n{\"x\":\t189.0\t, \"y\" :\t0\t},\n{\"x\":\t189.5\t, \"y\" :\t0\t},\n{\"x\":\t190.0\t, \"y\" :\t0\t},\n{\"x\":\t190.5\t, \"y\" :\t0\t},\n{\"x\":\t191.0\t, \"y\" :\t0\t},\n{\"x\":\t191.5\t, \"y\" :\t0\t},\n{\"x\":\t192.0\t, \"y\" :\t0\t},\n{\"x\":\t192.5\t, \"y\" :\t0\t},\n{\"x\":\t193.0\t, \"y\" :\t0\t},\n{\"x\":\t193.5\t, \"y\" :\t0\t},\n{\"x\":\t194.0\t, \"y\" :\t0\t},\n{\"x\":\t194.5\t, \"y\" :\t0\t},\n{\"x\":\t195.0\t, \"y\" :\t0\t},\n{\"x\":\t195.5\t, \"y\" :\t0\t},\n{\"x\":\t196.0\t, \"y\" :\t0\t},\n{\"x\":\t196.5\t, \"y\" :\t0\t},\n{\"x\":\t197.0\t, \"y\" :\t0\t},\n{\"x\":\t197.5\t, \"y\" :\t0\t},\n{\"x\":\t198.0\t, \"y\" :\t0\t},\n{\"x\":\t198.5\t, \"y\" :\t0\t},\n{\"x\":\t199.0\t, \"y\" :\t0\t},\n{\"x\":\t199.5\t, \"y\" :\t0\t},\n{\"x\":\t200.0\t, \"y\" :\t0\t},\n{\"x\":\t200.5\t, \"y\" :\t0\t},\n{\"x\":\t201.0\t, \"y\" :\t0\t},\n{\"x\":\t201.5\t, \"y\" :\t0\t},\n{\"x\":\t202.0\t, \"y\" :\t0\t},\n{\"x\":\t202.5\t, \"y\" :\t0\t},\n{\"x\":\t203.0\t, \"y\" :\t0\t},\n{\"x\":\t203.5\t, \"y\" :\t0\t},\n{\"x\":\t204.0\t, \"y\" :\t0\t},\n{\"x\":\t204.5\t, \"y\" :\t0\t},\n{\"x\":\t205.0\t, \"y\" :\t0\t},\n{\"x\":\t205.5\t, \"y\" :\t0\t},\n{\"x\":\t206.0\t, \"y\" :\t0\t},\n{\"x\":\t206.5\t, \"y\" :\t0\t},\n{\"x\":\t207.0\t, \"y\" :\t0\t},\n{\"x\":\t207.5\t, \"y\" :\t0\t},\n{\"x\":\t208.0\t, \"y\" :\t0\t},\n{\"x\":\t208.5\t, \"y\" :\t0\t},\n{\"x\":\t209.0\t, \"y\" :\t0\t},\n{\"x\":\t209.5\t, \"y\" :\t0\t},\n{\"x\":\t210.0\t, \"y\" :\t0\t},\n{\"x\":\t210.5\t, \"y\" :\t0\t},\n{\"x\":\t211.0\t, \"y\" :\t0\t},\n{\"x\":\t211.5\t, \"y\" :\t0\t},\n{\"x\":\t212.0\t, \"y\" :\t0\t},\n{\"x\":\t212.5\t, \"y\" :\t0\t},\n{\"x\":\t213.0\t, \"y\" :\t0\t},\n{\"x\":\t213.5\t, \"y\" :\t0\t},\n{\"x\":\t214.0\t, \"y\" :\t0\t},\n{\"x\":\t214.5\t, \"y\" :\t0\t},\n{\"x\":\t215.0\t, \"y\" :\t0\t},\n{\"x\":\t215.5\t, \"y\" :\t0\t},\n{\"x\":\t216.0\t, \"y\" :\t0\t},\n{\"x\":\t216.5\t, \"y\" :\t0\t},\n{\"x\":\t217.0\t, \"y\" :\t0\t},\n{\"x\":\t217.5\t, \"y\" :\t0\t},\n{\"x\":\t218.0\t, \"y\" :\t0\t},\n{\"x\":\t218.5\t, \"y\" :\t0\t},\n{\"x\":\t219.0\t, \"y\" :\t0\t},\n{\"x\":\t219.5\t, \"y\" :\t0\t},\n{\"x\":\t220.0\t, \"y\" :\t0\t},\n{\"x\":\t220.5\t, \"y\" :\t0\t},\n{\"x\":\t221.0\t, \"y\" :\t0\t},\n{\"x\":\t221.5\t, \"y\" :\t0\t},\n{\"x\":\t222.0\t, \"y\" :\t0\t},\n{\"x\":\t222.5\t, \"y\" :\t0\t},\n{\"x\":\t223.0\t, \"y\" :\t0\t},\n{\"x\":\t223.5\t, \"y\" :\t0\t},\n{\"x\":\t224.0\t, \"y\" :\t0\t},\n{\"x\":\t224.5\t, \"y\" :\t0\t},\n{\"x\":\t225.0\t, \"y\" :\t0\t},\n{\"x\":\t225.5\t, \"y\" :\t0\t},\n{\"x\":\t226.0\t, \"y\" :\t0\t},\n{\"x\":\t226.5\t, \"y\" :\t0\t},\n{\"x\":\t227.0\t, \"y\" :\t0\t},\n{\"x\":\t227.5\t, \"y\" :\t0\t},\n{\"x\":\t228.0\t, \"y\" :\t0\t},\n{\"x\":\t228.5\t, \"y\" :\t0\t},\n{\"x\":\t229.0\t, \"y\" :\t0\t},\n{\"x\":\t229.5\t, \"y\" :\t0\t},\n{\"x\":\t230.0\t, \"y\" :\t0\t},\n{\"x\":\t230.5\t, \"y\" :\t0\t},\n{\"x\":\t231.0\t, \"y\" :\t0\t},\n{\"x\":\t231.5\t, \"y\" :\t0\t},\n{\"x\":\t232.0\t, \"y\" :\t0\t},\n{\"x\":\t232.5\t, \"y\" :\t0\t},\n{\"x\":\t233.0\t, \"y\" :\t0\t},\n{\"x\":\t233.5\t, \"y\" :\t0\t},\n{\"x\":\t234.0\t, \"y\" :\t0\t},\n{\"x\":\t234.5\t, \"y\" :\t0\t},\n{\"x\":\t235.0\t, \"y\" :\t0\t},\n{\"x\":\t235.5\t, \"y\" :\t0\t},\n{\"x\":\t236.0\t, \"y\" :\t0\t},\n{\"x\":\t236.5\t, \"y\" :\t0\t},\n{\"x\":\t237.0\t, \"y\" :\t1\t},\n{\"x\":\t237.5\t, \"y\" :\t1\t},\n{\"x\":\t238.0\t, \"y\" :\t1\t},\n{\"x\":\t238.5\t, \"y\" :\t1\t},\n{\"x\":\t239.0\t, \"y\" :\t1\t},\n{\"x\":\t239.5\t, \"y\" :\t1\t},\n{\"x\":\t240.0\t, \"y\" :\t1\t},\n{\"x\":\t240.5\t, \"y\" :\t1\t},\n{\"x\":\t241.0\t, \"y\" :\t1\t},\n{\"x\":\t241.5\t, \"y\" :\t1\t},\n{\"x\":\t242.0\t, \"y\" :\t1\t},\n{\"x\":\t242.5\t, \"y\" :\t1\t},\n{\"x\":\t243.0\t, \"y\" :\t1\t},\n{\"x\":\t243.5\t, \"y\" :\t1\t},\n{\"x\":\t244.0\t, \"y\" :\t1\t},\n{\"x\":\t244.5\t, \"y\" :\t1\t},\n{\"x\":\t245.0\t, \"y\" :\t1\t},\n{\"x\":\t245.5\t, \"y\" :\t1\t},\n{\"x\":\t246.0\t, \"y\" :\t1\t},\n{\"x\":\t246.5\t, \"y\" :\t1\t},\n{\"x\":\t247.0\t, \"y\" :\t1\t},\n{\"x\":\t247.5\t, \"y\" :\t1\t},\n{\"x\":\t248.0\t, \"y\" :\t1\t},\n{\"x\":\t248.5\t, \"y\" :\t1\t},\n{\"x\":\t249.0\t, \"y\" :\t1\t},\n{\"x\":\t249.5\t, \"y\" :\t1\t},\n{\"x\":\t250.0\t, \"y\" :\t1\t},\n{\"x\":\t250.5\t, \"y\" :\t1\t},\n{\"x\":\t251.0\t, \"y\" :\t1\t},\n{\"x\":\t251.5\t, \"y\" :\t1\t},\n{\"x\":\t252.0\t, \"y\" :\t1\t},\n{\"x\":\t252.5\t, \"y\" :\t1\t},\n{\"x\":\t253.0\t, \"y\" :\t1\t},\n{\"x\":\t253.5\t, \"y\" :\t1\t},\n{\"x\":\t254.0\t, \"y\" :\t1\t},\n{\"x\":\t254.5\t, \"y\" :\t1\t},\n{\"x\":\t255.0\t, \"y\" :\t0\t},\n{\"x\":\t255.5\t, \"y\" :\t1\t},\n{\"x\":\t256.0\t, \"y\" :\t1\t},\n{\"x\":\t256.5\t, \"y\" :\t1\t},\n{\"x\":\t257.0\t, \"y\" :\t1\t},\n{\"x\":\t257.5\t, \"y\" :\t1\t},\n{\"x\":\t258.0\t, \"y\" :\t1\t},\n{\"x\":\t258.5\t, \"y\" :\t1\t},\n{\"x\":\t259.0\t, \"y\" :\t0\t},\n{\"x\":\t259.5\t, \"y\" :\t0\t},\n{\"x\":\t260.0\t, \"y\" :\t0\t},\n{\"x\":\t260.5\t, \"y\" :\t1\t},\n{\"x\":\t261.0\t, \"y\" :\t1\t},\n{\"x\":\t261.5\t, \"y\" :\t1\t},\n{\"x\":\t262.0\t, \"y\" :\t1\t},\n{\"x\":\t262.5\t, \"y\" :\t1\t},\n{\"x\":\t263.0\t, \"y\" :\t1\t},\n{\"x\":\t263.5\t, \"y\" :\t1\t},\n{\"x\":\t264.0\t, \"y\" :\t0\t},\n{\"x\":\t264.5\t, \"y\" :\t1\t},\n{\"x\":\t265.0\t, \"y\" :\t1\t},\n{\"x\":\t265.5\t, \"y\" :\t1\t},\n{\"x\":\t266.0\t, \"y\" :\t1\t},\n{\"x\":\t266.5\t, \"y\" :\t1\t},\n{\"x\":\t267.0\t, \"y\" :\t1\t},\n{\"x\":\t267.5\t, \"y\" :\t1\t},\n{\"x\":\t268.0\t, \"y\" :\t1\t},\n{\"x\":\t268.5\t, \"y\" :\t1\t},\n{\"x\":\t269.0\t, \"y\" :\t1\t},\n{\"x\":\t269.5\t, \"y\" :\t1\t},\n{\"x\":\t270.0\t, \"y\" :\t1\t},\n{\"x\":\t270.5\t, \"y\" :\t1\t},\n{\"x\":\t271.0\t, \"y\" :\t1\t},\n{\"x\":\t271.5\t, \"y\" :\t1\t},\n{\"x\":\t272.0\t, \"y\" :\t1\t},\n{\"x\":\t272.5\t, \"y\" :\t1\t},\n{\"x\":\t273.0\t, \"y\" :\t1\t},\n{\"x\":\t273.5\t, \"y\" :\t1\t},\n{\"x\":\t274.0\t, \"y\" :\t1\t},\n{\"x\":\t274.5\t, \"y\" :\t1\t},\n{\"x\":\t275.0\t, \"y\" :\t1\t},\n{\"x\":\t275.5\t, \"y\" :\t1\t},\n{\"x\":\t276.0\t, \"y\" :\t1\t},\n{\"x\":\t276.5\t, \"y\" :\t1\t},\n{\"x\":\t277.0\t, \"y\" :\t1\t},\n{\"x\":\t277.5\t, \"y\" :\t1\t},\n{\"x\":\t278.0\t, \"y\" :\t1\t},\n{\"x\":\t278.5\t, \"y\" :\t1\t},\n{\"x\":\t279.0\t, \"y\" :\t1\t},\n{\"x\":\t279.5\t, \"y\" :\t1\t},\n{\"x\":\t280.0\t, \"y\" :\t1\t},\n{\"x\":\t280.5\t, \"y\" :\t1\t},\n{\"x\":\t281.0\t, \"y\" :\t1\t},\n{\"x\":\t281.5\t, \"y\" :\t1\t},\n{\"x\":\t282.0\t, \"y\" :\t1\t},\n{\"x\":\t282.5\t, \"y\" :\t1\t},\n{\"x\":\t283.0\t, \"y\" :\t1\t},\n{\"x\":\t283.5\t, \"y\" :\t1\t},\n{\"x\":\t284.0\t, \"y\" :\t1\t},\n{\"x\":\t284.5\t, \"y\" :\t1\t},\n{\"x\":\t285.0\t, \"y\" :\t1\t},\n{\"x\":\t285.5\t, \"y\" :\t1\t},\n{\"x\":\t286.0\t, \"y\" :\t1\t},\n{\"x\":\t286.5\t, \"y\" :\t1\t},\n{\"x\":\t287.0\t, \"y\" :\t1\t},\n{\"x\":\t287.5\t, \"y\" :\t1\t},\n{\"x\":\t288.0\t, \"y\" :\t1\t},\n{\"x\":\t288.5\t, \"y\" :\t1\t},\n{\"x\":\t289.0\t, \"y\" :\t1\t},\n{\"x\":\t289.5\t, \"y\" :\t1\t},\n{\"x\":\t290.0\t, \"y\" :\t1\t},\n{\"x\":\t290.5\t, \"y\" :\t1\t},\n{\"x\":\t291.0\t, \"y\" :\t1\t},\n{\"x\":\t291.5\t, \"y\" :\t1\t},\n{\"x\":\t292.0\t, \"y\" :\t1\t},\n{\"x\":\t292.5\t, \"y\" :\t1\t},\n{\"x\":\t293.0\t, \"y\" :\t1\t},\n{\"x\":\t293.5\t, \"y\" :\t1\t},\n{\"x\":\t294.0\t, \"y\" :\t1\t},\n{\"x\":\t294.5\t, \"y\" :\t1\t},\n{\"x\":\t295.0\t, \"y\" :\t1\t},\n{\"x\":\t295.5\t, \"y\" :\t1\t},\n{\"x\":\t296.0\t, \"y\" :\t1\t},\n{\"x\":\t296.5\t, \"y\" :\t1\t},\n{\"x\":\t297.0\t, \"y\" :\t1\t},\n{\"x\":\t297.5\t, \"y\" :\t1\t},\n{\"x\":\t298.0\t, \"y\" :\t1\t},\n{\"x\":\t298.5\t, \"y\" :\t1\t},\n{\"x\":\t299.0\t, \"y\" :\t1\t},\n{\"x\":\t299.5\t, \"y\" :\t1\t},\n{\"x\":\t300.0\t, \"y\" :\t1\t},\n{\"x\":\t300.5\t, \"y\" :\t1\t},\n{\"x\":\t301.0\t, \"y\" :\t1\t},\n{\"x\":\t301.5\t, \"y\" :\t1\t},\n{\"x\":\t302.0\t, \"y\" :\t1\t},\n{\"x\":\t302.5\t, \"y\" :\t1\t},\n{\"x\":\t303.0\t, \"y\" :\t1\t},\n{\"x\":\t303.5\t, \"y\" :\t1\t},\n{\"x\":\t304.0\t, \"y\" :\t1\t},\n{\"x\":\t304.5\t, \"y\" :\t1\t},\n{\"x\":\t305.0\t, \"y\" :\t1\t},\n{\"x\":\t305.5\t, \"y\" :\t1\t},\n{\"x\":\t306.0\t, \"y\" :\t1\t},\n{\"x\":\t306.5\t, \"y\" :\t1\t},\n{\"x\":\t307.0\t, \"y\" :\t0\t},\n{\"x\":\t307.5\t, \"y\" :\t0\t},\n{\"x\":\t308.0\t, \"y\" :\t0\t},\n{\"x\":\t308.5\t, \"y\" :\t0\t},\n{\"x\":\t309.0\t, \"y\" :\t0\t},\n{\"x\":\t309.5\t, \"y\" :\t0\t},\n{\"x\":\t310.0\t, \"y\" :\t0\t},\n{\"x\":\t310.5\t, \"y\" :\t0\t},\n{\"x\":\t311.0\t, \"y\" :\t0\t},\n{\"x\":\t311.5\t, \"y\" :\t0\t},\n{\"x\":\t312.0\t, \"y\" :\t1\t},\n{\"x\":\t312.5\t, \"y\" :\t1\t},\n{\"x\":\t313.0\t, \"y\" :\t1\t},\n{\"x\":\t313.5\t, \"y\" :\t1\t},\n{\"x\":\t314.0\t, \"y\" :\t1\t},\n{\"x\":\t314.5\t, \"y\" :\t1\t},\n{\"x\":\t315.0\t, \"y\" :\t1\t},\n{\"x\":\t315.5\t, \"y\" :\t0\t},\n{\"x\":\t316.0\t, \"y\" :\t0\t},\n{\"x\":\t316.5\t, \"y\" :\t0\t},\n{\"x\":\t317.0\t, \"y\" :\t0\t},\n{\"x\":\t317.5\t, \"y\" :\t0\t},\n{\"x\":\t318.0\t, \"y\" :\t0\t},\n{\"x\":\t318.5\t, \"y\" :\t1\t},\n{\"x\":\t319.0\t, \"y\" :\t1\t},\n{\"x\":\t319.5\t, \"y\" :\t1\t},\n{\"x\":\t320.0\t, \"y\" :\t0\t},\n{\"x\":\t320.5\t, \"y\" :\t0\t},\n{\"x\":\t321.0\t, \"y\" :\t0\t},\n{\"x\":\t321.5\t, \"y\" :\t0\t},\n{\"x\":\t322.0\t, \"y\" :\t0\t},\n{\"x\":\t322.5\t, \"y\" :\t1\t},\n{\"x\":\t323.0\t, \"y\" :\t1\t},\n{\"x\":\t323.5\t, \"y\" :\t1\t},\n{\"x\":\t324.0\t, \"y\" :\t1\t},\n{\"x\":\t324.5\t, \"y\" :\t0\t},\n{\"x\":\t325.0\t, \"y\" :\t0\t},\n{\"x\":\t325.5\t, \"y\" :\t1\t},\n{\"x\":\t326.0\t, \"y\" :\t1\t},\n{\"x\":\t326.5\t, \"y\" :\t1\t},\n{\"x\":\t327.0\t, \"y\" :\t1\t},\n{\"x\":\t327.5\t, \"y\" :\t0\t},\n{\"x\":\t328.0\t, \"y\" :\t0\t},\n{\"x\":\t328.5\t, \"y\" :\t0\t},\n{\"x\":\t329.0\t, \"y\" :\t0\t},\n{\"x\":\t329.5\t, \"y\" :\t0\t},\n{\"x\":\t330.0\t, \"y\" :\t0\t},\n{\"x\":\t330.5\t, \"y\" :\t0\t},\n{\"x\":\t331.0\t, \"y\" :\t0\t},\n{\"x\":\t331.5\t, \"y\" :\t0\t},\n{\"x\":\t332.0\t, \"y\" :\t0\t},\n{\"x\":\t332.5\t, \"y\" :\t0\t},\n{\"x\":\t333.0\t, \"y\" :\t1\t},\n{\"x\":\t333.5\t, \"y\" :\t0\t},\n{\"x\":\t334.0\t, \"y\" :\t0\t},\n{\"x\":\t334.5\t, \"y\" :\t0\t},\n{\"x\":\t335.0\t, \"y\" :\t0\t},\n{\"x\":\t335.5\t, \"y\" :\t0\t},\n{\"x\":\t336.0\t, \"y\" :\t0\t},\n{\"x\":\t336.5\t, \"y\" :\t0\t},\n{\"x\":\t337.0\t, \"y\" :\t0\t},\n{\"x\":\t337.5\t, \"y\" :\t0\t},\n{\"x\":\t338.0\t, \"y\" :\t0\t},\n{\"x\":\t338.5\t, \"y\" :\t0\t},\n{\"x\":\t339.0\t, \"y\" :\t0\t},\n{\"x\":\t339.5\t, \"y\" :\t0\t},\n{\"x\":\t340.0\t, \"y\" :\t0\t},\n{\"x\":\t340.5\t, \"y\" :\t0\t},\n{\"x\":\t341.0\t, \"y\" :\t0\t},\n{\"x\":\t341.5\t, \"y\" :\t0\t},\n{\"x\":\t342.0\t, \"y\" :\t0\t},\n{\"x\":\t342.5\t, \"y\" :\t0\t},\n{\"x\":\t343.0\t, \"y\" :\t0\t},\n{\"x\":\t343.5\t, \"y\" :\t0\t},\n{\"x\":\t344.0\t, \"y\" :\t0\t},\n{\"x\":\t344.5\t, \"y\" :\t0\t},\n{\"x\":\t345.0\t, \"y\" :\t0\t},\n{\"x\":\t345.5\t, \"y\" :\t0\t},\n{\"x\":\t346.0\t, \"y\" :\t0\t},\n{\"x\":\t346.5\t, \"y\" :\t0\t},\n{\"x\":\t347.0\t, \"y\" :\t1\t},\n{\"x\":\t347.5\t, \"y\" :\t1\t},\n{\"x\":\t348.0\t, \"y\" :\t0\t},\n{\"x\":\t348.5\t, \"y\" :\t0\t},\n{\"x\":\t349.0\t, \"y\" :\t0\t},\n{\"x\":\t349.5\t, \"y\" :\t0\t},\n{\"x\":\t350.0\t, \"y\" :\t0\t},\n{\"x\":\t350.5\t, \"y\" :\t0\t},\n{\"x\":\t351.0\t, \"y\" :\t0\t},\n{\"x\":\t351.5\t, \"y\" :\t0\t},\n{\"x\":\t352.0\t, \"y\" :\t0\t},\n{\"x\":\t352.5\t, \"y\" :\t0\t},\n{\"x\":\t353.0\t, \"y\" :\t0\t},\n{\"x\":\t353.5\t, \"y\" :\t0\t},\n{\"x\":\t354.0\t, \"y\" :\t0\t},\n{\"x\":\t354.5\t, \"y\" :\t0\t},\n{\"x\":\t355.0\t, \"y\" :\t0\t},\n{\"x\":\t355.5\t, \"y\" :\t0\t},\n{\"x\":\t356.0\t, \"y\" :\t0\t},\n{\"x\":\t356.5\t, \"y\" :\t0\t},\n{\"x\":\t357.0\t, \"y\" :\t1\t},\n{\"x\":\t357.5\t, \"y\" :\t0\t},\n{\"x\":\t358.0\t, \"y\" :\t0\t},\n{\"x\":\t358.5\t, \"y\" :\t0\t},\n{\"x\":\t359.0\t, \"y\" :\t0\t},\n{\"x\":\t359.5\t, \"y\" :\t0\t},\n{\"x\":\t360.0\t, \"y\" :\t0\t},\n{\"x\":\t360.5\t, \"y\" :\t0\t},\n{\"x\":\t361.0\t, \"y\" :\t0\t},\n{\"x\":\t361.5\t, \"y\" :\t0\t},\n{\"x\":\t362.0\t, \"y\" :\t0\t},\n{\"x\":\t362.5\t, \"y\" :\t1\t},\n{\"x\":\t363.0\t, \"y\" :\t1\t},\n{\"x\":\t363.5\t, \"y\" :\t1\t},\n{\"x\":\t364.0\t, \"y\" :\t1\t},\n{\"x\":\t364.5\t, \"y\" :\t1\t},\n{\"x\":\t365.0\t, \"y\" :\t1\t},\n{\"x\":\t365.5\t, \"y\" :\t1\t},\n{\"x\":\t366.0\t, \"y\" :\t1\t},\n{\"x\":\t366.5\t, \"y\" :\t1\t},\n{\"x\":\t367.0\t, \"y\" :\t1\t},\n{\"x\":\t367.5\t, \"y\" :\t1\t},\n{\"x\":\t368.0\t, \"y\" :\t1\t},\n{\"x\":\t368.5\t, \"y\" :\t1\t},\n{\"x\":\t369.0\t, \"y\" :\t1\t},\n{\"x\":\t369.5\t, \"y\" :\t1\t},\n{\"x\":\t370.0\t, \"y\" :\t1\t},\n{\"x\":\t370.5\t, \"y\" :\t1\t},\n{\"x\":\t371.0\t, \"y\" :\t1\t},\n{\"x\":\t371.5\t, \"y\" :\t1\t},\n{\"x\":\t372.0\t, \"y\" :\t1\t},\n{\"x\":\t372.5\t, \"y\" :\t1\t},\n{\"x\":\t373.0\t, \"y\" :\t1\t},\n{\"x\":\t373.5\t, \"y\" :\t1\t},\n{\"x\":\t374.0\t, \"y\" :\t1\t},\n{\"x\":\t374.5\t, \"y\" :\t1\t},\n{\"x\":\t375.0\t, \"y\" :\t1\t},\n{\"x\":\t375.5\t, \"y\" :\t1\t},\n{\"x\":\t376.0\t, \"y\" :\t1\t},\n{\"x\":\t376.5\t, \"y\" :\t1\t},\n{\"x\":\t377.0\t, \"y\" :\t1\t},\n{\"x\":\t377.5\t, \"y\" :\t1\t},\n{\"x\":\t378.0\t, \"y\" :\t1\t},\n{\"x\":\t378.5\t, \"y\" :\t1\t},\n{\"x\":\t379.0\t, \"y\" :\t1\t},\n{\"x\":\t379.5\t, \"y\" :\t1\t},\n{\"x\":\t380.0\t, \"y\" :\t1\t},\n{\"x\":\t380.5\t, \"y\" :\t1\t},\n{\"x\":\t381.0\t, \"y\" :\t1\t},\n{\"x\":\t381.5\t, \"y\" :\t1\t},\n{\"x\":\t382.0\t, \"y\" :\t1\t},\n{\"x\":\t382.5\t, \"y\" :\t1\t},\n{\"x\":\t383.0\t, \"y\" :\t1\t},\n{\"x\":\t383.5\t, \"y\" :\t1\t},\n{\"x\":\t384.0\t, \"y\" :\t1\t},\n{\"x\":\t384.5\t, \"y\" :\t1\t},\n{\"x\":\t385.0\t, \"y\" :\t1\t},\n{\"x\":\t385.5\t, \"y\" :\t1\t},\n{\"x\":\t386.0\t, \"y\" :\t1\t},\n{\"x\":\t386.5\t, \"y\" :\t1\t},\n{\"x\":\t387.0\t, \"y\" :\t1\t},\n{\"x\":\t387.5\t, \"y\" :\t1\t},\n{\"x\":\t388.0\t, \"y\" :\t0\t},\n{\"x\":\t388.5\t, \"y\" :\t1\t},\n{\"x\":\t389.0\t, \"y\" :\t1\t},\n{\"x\":\t389.5\t, \"y\" :\t1\t},\n{\"x\":\t390.0\t, \"y\" :\t1\t},\n{\"x\":\t390.5\t, \"y\" :\t1\t},\n{\"x\":\t391.0\t, \"y\" :\t1\t},\n{\"x\":\t391.5\t, \"y\" :\t1\t},\n{\"x\":\t392.0\t, \"y\" :\t1\t},\n{\"x\":\t392.5\t, \"y\" :\t1\t},\n{\"x\":\t393.0\t, \"y\" :\t1\t},\n{\"x\":\t393.5\t, \"y\" :\t1\t},\n{\"x\":\t394.0\t, \"y\" :\t1\t},\n{\"x\":\t394.5\t, \"y\" :\t1\t},\n{\"x\":\t395.0\t, \"y\" :\t1\t},\n{\"x\":\t395.5\t, \"y\" :\t1\t},\n{\"x\":\t396.0\t, \"y\" :\t1\t},\n{\"x\":\t396.5\t, \"y\" :\t1\t},\n{\"x\":\t397.0\t, \"y\" :\t1\t},\n{\"x\":\t397.5\t, \"y\" :\t1\t},\n{\"x\":\t398.0\t, \"y\" :\t1\t},\n{\"x\":\t398.5\t, \"y\" :\t1\t},\n{\"x\":\t399.0\t, \"y\" :\t1\t},\n{\"x\":\t399.5\t, \"y\" :\t1\t},\n{\"x\":\t400.0\t, \"y\" :\t1\t},\n{\"x\":\t400.5\t, \"y\" :\t1\t},\n{\"x\":\t401.0\t, \"y\" :\t1\t},\n{\"x\":\t401.5\t, \"y\" :\t1\t},\n{\"x\":\t402.0\t, \"y\" :\t1\t},\n{\"x\":\t402.5\t, \"y\" :\t1\t},\n{\"x\":\t403.0\t, \"y\" :\t1\t},\n{\"x\":\t403.5\t, \"y\" :\t1\t},\n{\"x\":\t404.0\t, \"y\" :\t1\t},\n{\"x\":\t404.5\t, \"y\" :\t1\t},\n{\"x\":\t405.0\t, \"y\" :\t1\t},\n{\"x\":\t405.5\t, \"y\" :\t1\t},\n{\"x\":\t406.0\t, \"y\" :\t1\t},\n{\"x\":\t406.5\t, \"y\" :\t1\t},\n{\"x\":\t407.0\t, \"y\" :\t1\t},\n{\"x\":\t407.5\t, \"y\" :\t1\t},\n{\"x\":\t408.0\t, \"y\" :\t1\t},\n{\"x\":\t408.5\t, \"y\" :\t1\t},\n{\"x\":\t409.0\t, \"y\" :\t1\t},\n{\"x\":\t409.5\t, \"y\" :\t1\t},\n{\"x\":\t410.0\t, \"y\" :\t1\t},\n{\"x\":\t410.5\t, \"y\" :\t1\t},\n{\"x\":\t411.0\t, \"y\" :\t1\t},\n{\"x\":\t411.5\t, \"y\" :\t0\t},\n{\"x\":\t412.0\t, \"y\" :\t1\t},\n{\"x\":\t412.5\t, \"y\" :\t1\t},\n{\"x\":\t413.0\t, \"y\" :\t1\t},\n{\"x\":\t413.5\t, \"y\" :\t1\t},\n{\"x\":\t414.0\t, \"y\" :\t1\t},\n{\"x\":\t414.5\t, \"y\" :\t1\t},\n{\"x\":\t415.0\t, \"y\" :\t1\t},\n{\"x\":\t415.5\t, \"y\" :\t1\t},\n{\"x\":\t416.0\t, \"y\" :\t0\t},\n{\"x\":\t416.5\t, \"y\" :\t1\t},\n{\"x\":\t417.0\t, \"y\" :\t1\t},\n{\"x\":\t417.5\t, \"y\" :\t1\t},\n{\"x\":\t418.0\t, \"y\" :\t0\t},\n{\"x\":\t418.5\t, \"y\" :\t0\t},\n{\"x\":\t419.0\t, \"y\" :\t1\t},\n{\"x\":\t419.5\t, \"y\" :\t1\t},\n{\"x\":\t420.0\t, \"y\" :\t1\t},\n{\"x\":\t420.5\t, \"y\" :\t1\t},\n{\"x\":\t421.0\t, \"y\" :\t1\t},\n{\"x\":\t421.5\t, \"y\" :\t1\t},\n{\"x\":\t422.0\t, \"y\" :\t1\t},\n{\"x\":\t422.5\t, \"y\" :\t1\t},\n{\"x\":\t423.0\t, \"y\" :\t1\t},\n{\"x\":\t423.5\t, \"y\" :\t1\t},\n{\"x\":\t424.0\t, \"y\" :\t1\t},\n{\"x\":\t424.5\t, \"y\" :\t1\t},\n{\"x\":\t425.0\t, \"y\" :\t1\t},\n{\"x\":\t425.5\t, \"y\" :\t1\t},\n{\"x\":\t426.0\t, \"y\" :\t1\t},\n{\"x\":\t426.5\t, \"y\" :\t0\t},\n{\"x\":\t427.0\t, \"y\" :\t0\t},\n{\"x\":\t427.5\t, \"y\" :\t0\t},\n{\"x\":\t428.0\t, \"y\" :\t0\t},\n{\"x\":\t428.5\t, \"y\" :\t0\t},\n{\"x\":\t429.0\t, \"y\" :\t0\t},\n{\"x\":\t429.5\t, \"y\" :\t0\t},\n{\"x\":\t430.0\t, \"y\" :\t0\t},\n{\"x\":\t430.5\t, \"y\" :\t0\t},\n{\"x\":\t431.0\t, \"y\" :\t0\t},\n{\"x\":\t431.5\t, \"y\" :\t0\t},\n{\"x\":\t432.0\t, \"y\" :\t0\t},\n{\"x\":\t432.5\t, \"y\" :\t0\t},\n{\"x\":\t433.0\t, \"y\" :\t0\t},\n{\"x\":\t433.5\t, \"y\" :\t0\t},\n{\"x\":\t434.0\t, \"y\" :\t0\t},\n{\"x\":\t434.5\t, \"y\" :\t0\t},\n{\"x\":\t435.0\t, \"y\" :\t0\t},\n{\"x\":\t435.5\t, \"y\" :\t0\t},\n{\"x\":\t436.0\t, \"y\" :\t0\t},\n{\"x\":\t436.5\t, \"y\" :\t0\t},\n{\"x\":\t437.0\t, \"y\" :\t0\t},\n{\"x\":\t437.5\t, \"y\" :\t0\t},\n{\"x\":\t438.0\t, \"y\" :\t0\t},\n{\"x\":\t438.5\t, \"y\" :\t0\t},\n{\"x\":\t439.0\t, \"y\" :\t0\t},\n{\"x\":\t439.5\t, \"y\" :\t0\t},\n{\"x\":\t440.0\t, \"y\" :\t0\t},\n{\"x\":\t440.5\t, \"y\" :\t0\t},\n{\"x\":\t441.0\t, \"y\" :\t0\t},\n{\"x\":\t441.5\t, \"y\" :\t0\t},\n{\"x\":\t442.0\t, \"y\" :\t0\t},\n{\"x\":\t442.5\t, \"y\" :\t0\t},\n{\"x\":\t443.0\t, \"y\" :\t0\t},\n{\"x\":\t443.5\t, \"y\" :\t0\t},\n{\"x\":\t444.0\t, \"y\" :\t0\t},\n{\"x\":\t444.5\t, \"y\" :\t0\t},\n{\"x\":\t445.0\t, \"y\" :\t0\t},\n{\"x\":\t445.5\t, \"y\" :\t0\t},\n{\"x\":\t446.0\t, \"y\" :\t0\t},\n{\"x\":\t446.5\t, \"y\" :\t0\t},\n{\"x\":\t447.0\t, \"y\" :\t0\t},\n{\"x\":\t447.5\t, \"y\" :\t0\t},\n{\"x\":\t448.0\t, \"y\" :\t0\t},\n{\"x\":\t448.5\t, \"y\" :\t0\t},\n{\"x\":\t449.0\t, \"y\" :\t0\t},\n{\"x\":\t449.5\t, \"y\" :\t0\t},\n{\"x\":\t450.0\t, \"y\" :\t0\t},\n{\"x\":\t450.5\t, \"y\" :\t0\t},\n{\"x\":\t451.0\t, \"y\" :\t0\t},\n{\"x\":\t451.5\t, \"y\" :\t0\t},\n{\"x\":\t452.0\t, \"y\" :\t0\t},\n{\"x\":\t452.5\t, \"y\" :\t0\t},\n{\"x\":\t453.0\t, \"y\" :\t0\t},\n{\"x\":\t453.5\t, \"y\" :\t0\t},\n{\"x\":\t454.0\t, \"y\" :\t0\t},\n{\"x\":\t454.5\t, \"y\" :\t0\t},\n{\"x\":\t455.0\t, \"y\" :\t0\t},\n{\"x\":\t455.5\t, \"y\" :\t0\t},\n{\"x\":\t456.0\t, \"y\" :\t0\t},\n{\"x\":\t456.5\t, \"y\" :\t0\t},\n{\"x\":\t457.0\t, \"y\" :\t0\t},\n{\"x\":\t457.5\t, \"y\" :\t0\t},\n{\"x\":\t458.0\t, \"y\" :\t0\t},\n{\"x\":\t458.5\t, \"y\" :\t0\t},\n{\"x\":\t459.0\t, \"y\" :\t0\t},\n{\"x\":\t459.5\t, \"y\" :\t0\t},\n{\"x\":\t460.0\t, \"y\" :\t0\t},\n{\"x\":\t460.5\t, \"y\" :\t0\t},\n{\"x\":\t461.0\t, \"y\" :\t0\t},\n{\"x\":\t461.5\t, \"y\" :\t0\t},\n{\"x\":\t462.0\t, \"y\" :\t0\t},\n{\"x\":\t462.5\t, \"y\" :\t0\t},\n{\"x\":\t463.0\t, \"y\" :\t0\t},\n{\"x\":\t463.5\t, \"y\" :\t0\t},\n{\"x\":\t464.0\t, \"y\" :\t0\t},\n{\"x\":\t464.5\t, \"y\" :\t0\t},\n{\"x\":\t465.0\t, \"y\" :\t0\t},\n{\"x\":\t465.5\t, \"y\" :\t0\t},\n{\"x\":\t466.0\t, \"y\" :\t0\t},\n{\"x\":\t466.5\t, \"y\" :\t0\t},\n{\"x\":\t467.0\t, \"y\" :\t0\t},\n{\"x\":\t467.5\t, \"y\" :\t0\t},\n{\"x\":\t468.0\t, \"y\" :\t1\t},\n{\"x\":\t468.5\t, \"y\" :\t0\t},\n{\"x\":\t469.0\t, \"y\" :\t0\t},\n{\"x\":\t469.5\t, \"y\" :\t0\t},\n{\"x\":\t470.0\t, \"y\" :\t0\t},\n{\"x\":\t470.5\t, \"y\" :\t1\t},\n{\"x\":\t471.0\t, \"y\" :\t0\t},\n{\"x\":\t471.5\t, \"y\" :\t0\t},\n{\"x\":\t472.0\t, \"y\" :\t1\t},\n{\"x\":\t472.5\t, \"y\" :\t1\t},\n{\"x\":\t473.0\t, \"y\" :\t1\t},\n{\"x\":\t473.5\t, \"y\" :\t0\t},\n{\"x\":\t474.0\t, \"y\" :\t1\t},\n{\"x\":\t474.5\t, \"y\" :\t1\t},\n{\"x\":\t475.0\t, \"y\" :\t1\t},\n{\"x\":\t475.5\t, \"y\" :\t1\t},\n{\"x\":\t476.0\t, \"y\" :\t1\t},\n{\"x\":\t476.5\t, \"y\" :\t1\t},\n{\"x\":\t477.0\t, \"y\" :\t1\t},\n{\"x\":\t477.5\t, \"y\" :\t1\t},\n{\"x\":\t478.0\t, \"y\" :\t1\t},\n{\"x\":\t478.5\t, \"y\" :\t1\t},\n{\"x\":\t479.0\t, \"y\" :\t1\t},\n{\"x\":\t479.5\t, \"y\" :\t1\t},\n{\"x\":\t480.0\t, \"y\" :\t0\t},\n{\"x\":\t480.5\t, \"y\" :\t1\t},\n{\"x\":\t481.0\t, \"y\" :\t1\t},\n{\"x\":\t481.5\t, \"y\" :\t1\t},\n{\"x\":\t482.0\t, \"y\" :\t1\t},\n{\"x\":\t482.5\t, \"y\" :\t1\t},\n{\"x\":\t483.0\t, \"y\" :\t1\t},\n{\"x\":\t483.5\t, \"y\" :\t1\t},\n{\"x\":\t484.0\t, \"y\" :\t1\t},\n{\"x\":\t484.5\t, \"y\" :\t1\t},\n{\"x\":\t485.0\t, \"y\" :\t1\t},\n{\"x\":\t485.5\t, \"y\" :\t1\t},\n{\"x\":\t486.0\t, \"y\" :\t1\t},\n{\"x\":\t486.5\t, \"y\" :\t1\t},\n{\"x\":\t487.0\t, \"y\" :\t1\t},\n{\"x\":\t487.5\t, \"y\" :\t1\t},\n{\"x\":\t488.0\t, \"y\" :\t1\t},\n{\"x\":\t488.5\t, \"y\" :\t1\t},\n{\"x\":\t489.0\t, \"y\" :\t1\t},\n{\"x\":\t489.5\t, \"y\" :\t1\t},\n{\"x\":\t490.0\t, \"y\" :\t1\t},\n{\"x\":\t490.5\t, \"y\" :\t1\t},\n{\"x\":\t491.0\t, \"y\" :\t1\t},\n{\"x\":\t491.5\t, \"y\" :\t1\t},\n{\"x\":\t492.0\t, \"y\" :\t1\t},\n{\"x\":\t492.5\t, \"y\" :\t1\t},\n{\"x\":\t493.0\t, \"y\" :\t1\t},\n{\"x\":\t493.5\t, \"y\" :\t1\t},\n{\"x\":\t494.0\t, \"y\" :\t1\t},\n{\"x\":\t494.5\t, \"y\" :\t1\t},\n{\"x\":\t495.0\t, \"y\" :\t1\t},\n{\"x\":\t495.5\t, \"y\" :\t1\t},\n{\"x\":\t496.0\t, \"y\" :\t1\t},\n{\"x\":\t496.5\t, \"y\" :\t1\t},\n{\"x\":\t497.0\t, \"y\" :\t1\t},\n{\"x\":\t497.5\t, \"y\" :\t1\t},\n{\"x\":\t498.0\t, \"y\" :\t1\t},\n{\"x\":\t498.5\t, \"y\" :\t1\t},\n{\"x\":\t499.0\t, \"y\" :\t1\t},\n{\"x\":\t499.5\t, \"y\" :\t1\t},\n{\"x\":\t500.0\t, \"y\" :\t0\t},\n{\"x\":\t500.5\t, \"y\" :\t1\t},\n{\"x\":\t501.0\t, \"y\" :\t1\t},\n{\"x\":\t501.5\t, \"y\" :\t1\t},\n{\"x\":\t502.0\t, \"y\" :\t0\t},\n{\"x\":\t502.5\t, \"y\" :\t0\t},\n{\"x\":\t503.0\t, \"y\" :\t1\t},\n{\"x\":\t503.5\t, \"y\" :\t0\t},\n{\"x\":\t504.0\t, \"y\" :\t0\t},\n{\"x\":\t504.5\t, \"y\" :\t0\t},\n{\"x\":\t505.0\t, \"y\" :\t0\t},\n{\"x\":\t505.5\t, \"y\" :\t0\t},\n{\"x\":\t506.0\t, \"y\" :\t1\t},\n{\"x\":\t506.5\t, \"y\" :\t1\t},\n{\"x\":\t507.0\t, \"y\" :\t1\t},\n{\"x\":\t507.5\t, \"y\" :\t1\t},\n{\"x\":\t508.0\t, \"y\" :\t1\t},\n{\"x\":\t508.5\t, \"y\" :\t1\t},\n{\"x\":\t509.0\t, \"y\" :\t1\t},\n{\"x\":\t509.5\t, \"y\" :\t1\t},\n{\"x\":\t510.0\t, \"y\" :\t1\t},\n{\"x\":\t510.5\t, \"y\" :\t1\t},\n{\"x\":\t511.0\t, \"y\" :\t1\t},\n{\"x\":\t511.5\t, \"y\" :\t1\t},\n{\"x\":\t512.0\t, \"y\" :\t1\t},\n{\"x\":\t512.5\t, \"y\" :\t1\t},\n{\"x\":\t513.0\t, \"y\" :\t1\t},\n{\"x\":\t513.5\t, \"y\" :\t1\t},\n{\"x\":\t514.0\t, \"y\" :\t1\t},\n{\"x\":\t514.5\t, \"y\" :\t1\t},\n{\"x\":\t515.0\t, \"y\" :\t1\t},\n{\"x\":\t515.5\t, \"y\" :\t1\t},\n{\"x\":\t516.0\t, \"y\" :\t1\t},\n{\"x\":\t516.5\t, \"y\" :\t1\t},\n{\"x\":\t517.0\t, \"y\" :\t1\t},\n{\"x\":\t517.5\t, \"y\" :\t1\t},\n{\"x\":\t518.0\t, \"y\" :\t1\t},\n{\"x\":\t518.5\t, \"y\" :\t1\t},\n{\"x\":\t519.0\t, \"y\" :\t1\t},\n{\"x\":\t519.5\t, \"y\" :\t1\t},\n{\"x\":\t520.0\t, \"y\" :\t1\t},\n{\"x\":\t520.5\t, \"y\" :\t1\t},\n{\"x\":\t521.0\t, \"y\" :\t1\t},\n{\"x\":\t521.5\t, \"y\" :\t1\t},\n{\"x\":\t522.0\t, \"y\" :\t1\t},\n{\"x\":\t522.5\t, \"y\" :\t1\t},\n{\"x\":\t523.0\t, \"y\" :\t1\t},\n{\"x\":\t523.5\t, \"y\" :\t1\t},\n{\"x\":\t524.0\t, \"y\" :\t1\t},\n{\"x\":\t524.5\t, \"y\" :\t1\t},\n{\"x\":\t525.0\t, \"y\" :\t1\t},\n{\"x\":\t525.5\t, \"y\" :\t1\t},\n{\"x\":\t526.0\t, \"y\" :\t1\t},\n{\"x\":\t526.5\t, \"y\" :\t1\t},\n{\"x\":\t527.0\t, \"y\" :\t1\t},\n{\"x\":\t527.5\t, \"y\" :\t1\t},\n{\"x\":\t528.0\t, \"y\" :\t1\t},\n{\"x\":\t528.5\t, \"y\" :\t1\t},\n{\"x\":\t529.0\t, \"y\" :\t1\t},\n{\"x\":\t529.5\t, \"y\" :\t1\t},\n{\"x\":\t530.0\t, \"y\" :\t1\t},\n{\"x\":\t530.5\t, \"y\" :\t1\t},\n{\"x\":\t531.0\t, \"y\" :\t1\t},\n{\"x\":\t531.5\t, \"y\" :\t1\t},\n{\"x\":\t532.0\t, \"y\" :\t1\t},\n{\"x\":\t532.5\t, \"y\" :\t1\t},\n{\"x\":\t533.0\t, \"y\" :\t1\t},\n{\"x\":\t533.5\t, \"y\" :\t1\t},\n{\"x\":\t534.0\t, \"y\" :\t1\t},\n{\"x\":\t534.5\t, \"y\" :\t1\t},\n{\"x\":\t535.0\t, \"y\" :\t1\t},\n{\"x\":\t535.5\t, \"y\" :\t1\t},\n{\"x\":\t536.0\t, \"y\" :\t1\t},\n{\"x\":\t536.5\t, \"y\" :\t1\t},\n{\"x\":\t537.0\t, \"y\" :\t1\t},\n{\"x\":\t537.5\t, \"y\" :\t1\t},\n{\"x\":\t538.0\t, \"y\" :\t1\t},\n{\"x\":\t538.5\t, \"y\" :\t1\t},\n{\"x\":\t539.0\t, \"y\" :\t1\t},\n{\"x\":\t539.5\t, \"y\" :\t1\t},\n{\"x\":\t540.0\t, \"y\" :\t1\t},\n{\"x\":\t540.5\t, \"y\" :\t1\t},\n{\"x\":\t541.0\t, \"y\" :\t1\t},\n{\"x\":\t541.5\t, \"y\" :\t1\t},\n{\"x\":\t542.0\t, \"y\" :\t1\t},\n{\"x\":\t542.5\t, \"y\" :\t1\t},\n{\"x\":\t543.0\t, \"y\" :\t1\t},\n{\"x\":\t543.5\t, \"y\" :\t1\t},\n{\"x\":\t544.0\t, \"y\" :\t1\t},\n{\"x\":\t544.5\t, \"y\" :\t1\t},\n{\"x\":\t545.0\t, \"y\" :\t1\t},\n{\"x\":\t545.5\t, \"y\" :\t1\t},\n{\"x\":\t546.0\t, \"y\" :\t0\t},\n{\"x\":\t546.5\t, \"y\" :\t0\t},\n{\"x\":\t547.0\t, \"y\" :\t1\t},\n{\"x\":\t547.5\t, \"y\" :\t1\t},\n{\"x\":\t548.0\t, \"y\" :\t1\t},\n{\"x\":\t548.5\t, \"y\" :\t0\t},\n{\"x\":\t549.0\t, \"y\" :\t0\t},\n{\"x\":\t549.5\t, \"y\" :\t0\t},\n{\"x\":\t550.0\t, \"y\" :\t0\t},\n{\"x\":\t550.5\t, \"y\" :\t0\t},\n{\"x\":\t551.0\t, \"y\" :\t0\t},\n{\"x\":\t551.5\t, \"y\" :\t0\t},\n{\"x\":\t552.0\t, \"y\" :\t0\t},\n{\"x\":\t552.5\t, \"y\" :\t0\t},\n{\"x\":\t553.0\t, \"y\" :\t0\t},\n{\"x\":\t553.5\t, \"y\" :\t0\t},\n{\"x\":\t554.0\t, \"y\" :\t0\t},\n{\"x\":\t554.5\t, \"y\" :\t0\t},\n{\"x\":\t555.0\t, \"y\" :\t0\t},\n{\"x\":\t555.5\t, \"y\" :\t0\t},\n{\"x\":\t556.0\t, \"y\" :\t0\t},\n{\"x\":\t556.5\t, \"y\" :\t0\t},\n{\"x\":\t557.0\t, \"y\" :\t0\t},\n{\"x\":\t557.5\t, \"y\" :\t0\t},\n{\"x\":\t558.0\t, \"y\" :\t0\t},\n{\"x\":\t558.5\t, \"y\" :\t1\t},\n{\"x\":\t559.0\t, \"y\" :\t1\t},\n{\"x\":\t559.5\t, \"y\" :\t0\t},\n{\"x\":\t560.0\t, \"y\" :\t0\t},\n{\"x\":\t560.5\t, \"y\" :\t0\t},\n{\"x\":\t561.0\t, \"y\" :\t0\t},\n{\"x\":\t561.5\t, \"y\" :\t0\t},\n{\"x\":\t562.0\t, \"y\" :\t0\t},\n{\"x\":\t562.5\t, \"y\" :\t0\t},\n{\"x\":\t563.0\t, \"y\" :\t0\t},\n{\"x\":\t563.5\t, \"y\" :\t1\t},\n{\"x\":\t564.0\t, \"y\" :\t1\t},\n{\"x\":\t564.5\t, \"y\" :\t0\t},\n{\"x\":\t565.0\t, \"y\" :\t0\t},\n{\"x\":\t565.5\t, \"y\" :\t0\t},\n{\"x\":\t566.0\t, \"y\" :\t0\t},\n{\"x\":\t566.5\t, \"y\" :\t0\t},\n{\"x\":\t567.0\t, \"y\" :\t0\t},\n{\"x\":\t567.5\t, \"y\" :\t0\t},\n{\"x\":\t568.0\t, \"y\" :\t0\t},\n{\"x\":\t568.5\t, \"y\" :\t0\t},\n{\"x\":\t569.0\t, \"y\" :\t0\t},\n{\"x\":\t569.5\t, \"y\" :\t0\t},\n{\"x\":\t570.0\t, \"y\" :\t0\t},\n{\"x\":\t570.5\t, \"y\" :\t0\t},\n{\"x\":\t571.0\t, \"y\" :\t0\t},\n{\"x\":\t571.5\t, \"y\" :\t0\t},\n{\"x\":\t572.0\t, \"y\" :\t0\t},\n{\"x\":\t572.5\t, \"y\" :\t0\t},\n{\"x\":\t573.0\t, \"y\" :\t0\t},\n{\"x\":\t573.5\t, \"y\" :\t0\t},\n{\"x\":\t574.0\t, \"y\" :\t0\t},\n{\"x\":\t574.5\t, \"y\" :\t0\t},\n{\"x\":\t575.0\t, \"y\" :\t0\t},\n{\"x\":\t575.5\t, \"y\" :\t0\t},\n{\"x\":\t576.0\t, \"y\" :\t0\t},\n{\"x\":\t576.5\t, \"y\" :\t0\t},\n{\"x\":\t577.0\t, \"y\" :\t0\t},\n{\"x\":\t577.5\t, \"y\" :\t0\t},\n{\"x\":\t578.0\t, \"y\" :\t0\t},\n{\"x\":\t578.5\t, \"y\" :\t0\t},\n{\"x\":\t579.0\t, \"y\" :\t0\t},\n{\"x\":\t579.5\t, \"y\" :\t0\t},\n{\"x\":\t580.0\t, \"y\" :\t0\t},\n{\"x\":\t580.5\t, \"y\" :\t0\t},\n{\"x\":\t581.0\t, \"y\" :\t0\t},\n{\"x\":\t581.5\t, \"y\" :\t0\t},\n{\"x\":\t582.0\t, \"y\" :\t0\t},\n{\"x\":\t582.5\t, \"y\" :\t0\t},\n{\"x\":\t583.0\t, \"y\" :\t0\t},\n{\"x\":\t583.5\t, \"y\" :\t0\t},\n{\"x\":\t584.0\t, \"y\" :\t0\t},\n{\"x\":\t584.5\t, \"y\" :\t0\t},\n{\"x\":\t585.0\t, \"y\" :\t0\t},\n{\"x\":\t585.5\t, \"y\" :\t0\t},\n{\"x\":\t586.0\t, \"y\" :\t0\t},\n{\"x\":\t586.5\t, \"y\" :\t0\t},\n{\"x\":\t587.0\t, \"y\" :\t0\t},\n{\"x\":\t587.5\t, \"y\" :\t0\t},\n{\"x\":\t588.0\t, \"y\" :\t0\t},\n{\"x\":\t588.5\t, \"y\" :\t0\t},\n{\"x\":\t589.0\t, \"y\" :\t0\t},\n{\"x\":\t589.5\t, \"y\" :\t0\t},\n{\"x\":\t590.0\t, \"y\" :\t0\t},\n{\"x\":\t590.5\t, \"y\" :\t0\t},\n{\"x\":\t591.0\t, \"y\" :\t0\t},\n{\"x\":\t591.5\t, \"y\" :\t0\t},\n{\"x\":\t592.0\t, \"y\" :\t0\t},\n{\"x\":\t592.5\t, \"y\" :\t0\t},\n{\"x\":\t593.0\t, \"y\" :\t0\t},\n{\"x\":\t593.5\t, \"y\" :\t0\t},\n{\"x\":\t594.0\t, \"y\" :\t0\t},\n{\"x\":\t594.5\t, \"y\" :\t0\t},\n{\"x\":\t595.0\t, \"y\" :\t0\t},\n{\"x\":\t595.5\t, \"y\" :\t0\t},\n{\"x\":\t596.0\t, \"y\" :\t0\t},\n{\"x\":\t596.5\t, \"y\" :\t0\t},\n{\"x\":\t597.0\t, \"y\" :\t0\t},\n{\"x\":\t597.5\t, \"y\" :\t0\t},\n{\"x\":\t598.0\t, \"y\" :\t0\t},\n{\"x\":\t598.5\t, \"y\" :\t0\t},\n{\"x\":\t599.0\t, \"y\" :\t0\t},\n{\"x\":\t599.5\t, \"y\" :\t0\t},\n{\"x\":\t600.0\t, \"y\" :\t0\t},\n{\"x\":\t600.5\t, \"y\" :\t0\t},\n{\"x\":\t601.0\t, \"y\" :\t0\t},\n{\"x\":\t601.5\t, \"y\" :\t0\t},\n{\"x\":\t602.0\t, \"y\" :\t0\t},\n{\"x\":\t602.5\t, \"y\" :\t0\t}\n    ]\n     \n    ]\n}]    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 120,
        "wires": [
            [
                "820c2a8a.f9f888"
            ]
        ]
    },
    {
        "id": "a78f50bb.93f5d",
        "type": "inject",
        "z": "aa08aca.394275",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "521aa03e.e1daf8",
                "58fa7cd8.ddbeb4"
            ]
        ]
    },
    {
        "id": "43bdba40.05c68c",
        "type": "ui_chart",
        "z": "aa08aca.394275",
        "name": "",
        "group": "3dd9ba65.e777c6",
        "order": 0,
        "width": "12",
        "height": "8",
        "label": "Ground Truth ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 680,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "58fa7cd8.ddbeb4",
        "type": "function",
        "z": "aa08aca.394275",
        "name": "Grounf truth ",
        "func": "msg.payload =  [{\n    \"series\" : [\"persona\"],\n    \"data\" : [\n [  \n{\"x\":\t0.5\t, \"y\" :\t1\t},\n{\"x\":\t1.0\t, \"y\" :\t1\t},\n{\"x\":\t1.5\t, \"y\" :\t1\t},\n{\"x\":\t2.0\t, \"y\" :\t1\t},\n{\"x\":\t2.5\t, \"y\" :\t1\t},\n{\"x\":\t3.0\t, \"y\" :\t1\t},\n{\"x\":\t3.5\t, \"y\" :\t1\t},\n{\"x\":\t4.0\t, \"y\" :\t1\t},\n{\"x\":\t4.5\t, \"y\" :\t1\t},\n{\"x\":\t5.0\t, \"y\" :\t1\t},\n{\"x\":\t5.5\t, \"y\" :\t1\t},\n{\"x\":\t6.0\t, \"y\" :\t1\t},\n{\"x\":\t6.5\t, \"y\" :\t1\t},\n{\"x\":\t7.0\t, \"y\" :\t1\t},\n{\"x\":\t7.5\t, \"y\" :\t1\t},\n{\"x\":\t8.0\t, \"y\" :\t1\t},\n{\"x\":\t8.5\t, \"y\" :\t1\t},\n{\"x\":\t9.0\t, \"y\" :\t1\t},\n{\"x\":\t9.5\t, \"y\" :\t1\t},\n{\"x\":\t10.0\t, \"y\" :\t1\t},\n{\"x\":\t10.5\t, \"y\" :\t1\t},\n{\"x\":\t11.0\t, \"y\" :\t1\t},\n{\"x\":\t11.5\t, \"y\" :\t1\t},\n{\"x\":\t12.0\t, \"y\" :\t1\t},\n{\"x\":\t12.5\t, \"y\" :\t1\t},\n{\"x\":\t13.0\t, \"y\" :\t1\t},\n{\"x\":\t13.5\t, \"y\" :\t1\t},\n{\"x\":\t14.0\t, \"y\" :\t1\t},\n{\"x\":\t14.5\t, \"y\" :\t1\t},\n{\"x\":\t15.0\t, \"y\" :\t1\t},\n{\"x\":\t15.5\t, \"y\" :\t1\t},\n{\"x\":\t16.0\t, \"y\" :\t1\t},\n{\"x\":\t16.5\t, \"y\" :\t1\t},\n{\"x\":\t17.0\t, \"y\" :\t1\t},\n{\"x\":\t17.5\t, \"y\" :\t1\t},\n{\"x\":\t18.0\t, \"y\" :\t1\t},\n{\"x\":\t18.5\t, \"y\" :\t1\t},\n{\"x\":\t19.0\t, \"y\" :\t1\t},\n{\"x\":\t19.5\t, \"y\" :\t1\t},\n{\"x\":\t20.0\t, \"y\" :\t1\t},\n{\"x\":\t20.5\t, \"y\" :\t1\t},\n{\"x\":\t21.0\t, \"y\" :\t1\t},\n{\"x\":\t21.5\t, \"y\" :\t1\t},\n{\"x\":\t22.0\t, \"y\" :\t1\t},\n{\"x\":\t22.5\t, \"y\" :\t1\t},\n{\"x\":\t23.0\t, \"y\" :\t1\t},\n{\"x\":\t23.5\t, \"y\" :\t1\t},\n{\"x\":\t24.0\t, \"y\" :\t1\t},\n{\"x\":\t24.5\t, \"y\" :\t1\t},\n{\"x\":\t25.0\t, \"y\" :\t1\t},\n{\"x\":\t25.5\t, \"y\" :\t1\t},\n{\"x\":\t26.0\t, \"y\" :\t1\t},\n{\"x\":\t26.5\t, \"y\" :\t1\t},\n{\"x\":\t27.0\t, \"y\" :\t1\t},\n{\"x\":\t27.5\t, \"y\" :\t1\t},\n{\"x\":\t28.0\t, \"y\" :\t1\t},\n{\"x\":\t28.5\t, \"y\" :\t1\t},\n{\"x\":\t29.0\t, \"y\" :\t1\t},\n{\"x\":\t29.5\t, \"y\" :\t1\t},\n{\"x\":\t30.0\t, \"y\" :\t1\t},\n{\"x\":\t30.5\t, \"y\" :\t1\t},\n{\"x\":\t31.0\t, \"y\" :\t1\t},\n{\"x\":\t31.5\t, \"y\" :\t1\t},\n{\"x\":\t32.0\t, \"y\" :\t1\t},\n{\"x\":\t32.5\t, \"y\" :\t1\t},\n{\"x\":\t33.0\t, \"y\" :\t1\t},\n{\"x\":\t33.5\t, \"y\" :\t1\t},\n{\"x\":\t34.0\t, \"y\" :\t1\t},\n{\"x\":\t34.5\t, \"y\" :\t1\t},\n{\"x\":\t35.0\t, \"y\" :\t1\t},\n{\"x\":\t35.5\t, \"y\" :\t1\t},\n{\"x\":\t36.0\t, \"y\" :\t1\t},\n{\"x\":\t36.5\t, \"y\" :\t1\t},\n{\"x\":\t37.0\t, \"y\" :\t1\t},\n{\"x\":\t37.5\t, \"y\" :\t1\t},\n{\"x\":\t38.0\t, \"y\" :\t1\t},\n{\"x\":\t38.5\t, \"y\" :\t1\t},\n{\"x\":\t39.0\t, \"y\" :\t1\t},\n{\"x\":\t39.5\t, \"y\" :\t1\t},\n{\"x\":\t40.0\t, \"y\" :\t1\t},\n{\"x\":\t40.5\t, \"y\" :\t1\t},\n{\"x\":\t41.0\t, \"y\" :\t1\t},\n{\"x\":\t41.5\t, \"y\" :\t1\t},\n{\"x\":\t42.0\t, \"y\" :\t1\t},\n{\"x\":\t42.5\t, \"y\" :\t1\t},\n{\"x\":\t43.0\t, \"y\" :\t1\t},\n{\"x\":\t43.5\t, \"y\" :\t1\t},\n{\"x\":\t44.0\t, \"y\" :\t1\t},\n{\"x\":\t44.5\t, \"y\" :\t1\t},\n{\"x\":\t45.0\t, \"y\" :\t1\t},\n{\"x\":\t45.5\t, \"y\" :\t1\t},\n{\"x\":\t46.0\t, \"y\" :\t1\t},\n{\"x\":\t46.5\t, \"y\" :\t1\t},\n{\"x\":\t47.0\t, \"y\" :\t1\t},\n{\"x\":\t47.5\t, \"y\" :\t1\t},\n{\"x\":\t48.0\t, \"y\" :\t1\t},\n{\"x\":\t48.5\t, \"y\" :\t1\t},\n{\"x\":\t49.0\t, \"y\" :\t1\t},\n{\"x\":\t49.5\t, \"y\" :\t1\t},\n{\"x\":\t50.0\t, \"y\" :\t1\t},\n{\"x\":\t50.5\t, \"y\" :\t1\t},\n{\"x\":\t51.0\t, \"y\" :\t1\t},\n{\"x\":\t51.5\t, \"y\" :\t1\t},\n{\"x\":\t52.0\t, \"y\" :\t1\t},\n{\"x\":\t52.5\t, \"y\" :\t1\t},\n{\"x\":\t53.0\t, \"y\" :\t1\t},\n{\"x\":\t53.5\t, \"y\" :\t1\t},\n{\"x\":\t54.0\t, \"y\" :\t1\t},\n{\"x\":\t54.5\t, \"y\" :\t1\t},\n{\"x\":\t55.0\t, \"y\" :\t1\t},\n{\"x\":\t55.5\t, \"y\" :\t1\t},\n{\"x\":\t56.0\t, \"y\" :\t1\t},\n{\"x\":\t56.5\t, \"y\" :\t1\t},\n{\"x\":\t57.0\t, \"y\" :\t1\t},\n{\"x\":\t57.5\t, \"y\" :\t1\t},\n{\"x\":\t58.0\t, \"y\" :\t1\t},\n{\"x\":\t58.5\t, \"y\" :\t1\t},\n{\"x\":\t59.0\t, \"y\" :\t1\t},\n{\"x\":\t59.5\t, \"y\" :\t1\t},\n{\"x\":\t60.0\t, \"y\" :\t1\t},\n{\"x\":\t60.5\t, \"y\" :\t1\t},\n{\"x\":\t61.0\t, \"y\" :\t0\t},\n{\"x\":\t61.5\t, \"y\" :\t0\t},\n{\"x\":\t62.0\t, \"y\" :\t0\t},\n{\"x\":\t62.5\t, \"y\" :\t0\t},\n{\"x\":\t63.0\t, \"y\" :\t0\t},\n{\"x\":\t63.5\t, \"y\" :\t0\t},\n{\"x\":\t64.0\t, \"y\" :\t0\t},\n{\"x\":\t64.5\t, \"y\" :\t0\t},\n{\"x\":\t65.0\t, \"y\" :\t0\t},\n{\"x\":\t65.5\t, \"y\" :\t0\t},\n{\"x\":\t66.0\t, \"y\" :\t0\t},\n{\"x\":\t66.5\t, \"y\" :\t0\t},\n{\"x\":\t67.0\t, \"y\" :\t0\t},\n{\"x\":\t67.5\t, \"y\" :\t0\t},\n{\"x\":\t68.0\t, \"y\" :\t0\t},\n{\"x\":\t68.5\t, \"y\" :\t0\t},\n{\"x\":\t69.0\t, \"y\" :\t0\t},\n{\"x\":\t69.5\t, \"y\" :\t0\t},\n{\"x\":\t70.0\t, \"y\" :\t0\t},\n{\"x\":\t70.5\t, \"y\" :\t0\t},\n{\"x\":\t71.0\t, \"y\" :\t0\t},\n{\"x\":\t71.5\t, \"y\" :\t0\t},\n{\"x\":\t72.0\t, \"y\" :\t0\t},\n{\"x\":\t72.5\t, \"y\" :\t0\t},\n{\"x\":\t73.0\t, \"y\" :\t0\t},\n{\"x\":\t73.5\t, \"y\" :\t0\t},\n{\"x\":\t74.0\t, \"y\" :\t0\t},\n{\"x\":\t74.5\t, \"y\" :\t0\t},\n{\"x\":\t75.0\t, \"y\" :\t0\t},\n{\"x\":\t75.5\t, \"y\" :\t0\t},\n{\"x\":\t76.0\t, \"y\" :\t0\t},\n{\"x\":\t76.5\t, \"y\" :\t0\t},\n{\"x\":\t77.0\t, \"y\" :\t0\t},\n{\"x\":\t77.5\t, \"y\" :\t0\t},\n{\"x\":\t78.0\t, \"y\" :\t0\t},\n{\"x\":\t78.5\t, \"y\" :\t0\t},\n{\"x\":\t79.0\t, \"y\" :\t0\t},\n{\"x\":\t79.5\t, \"y\" :\t0\t},\n{\"x\":\t80.0\t, \"y\" :\t0\t},\n{\"x\":\t80.5\t, \"y\" :\t0\t},\n{\"x\":\t81.0\t, \"y\" :\t0\t},\n{\"x\":\t81.5\t, \"y\" :\t0\t},\n{\"x\":\t82.0\t, \"y\" :\t0\t},\n{\"x\":\t82.5\t, \"y\" :\t0\t},\n{\"x\":\t83.0\t, \"y\" :\t0\t},\n{\"x\":\t83.5\t, \"y\" :\t0\t},\n{\"x\":\t84.0\t, \"y\" :\t0\t},\n{\"x\":\t84.5\t, \"y\" :\t0\t},\n{\"x\":\t85.0\t, \"y\" :\t0\t},\n{\"x\":\t85.5\t, \"y\" :\t0\t},\n{\"x\":\t86.0\t, \"y\" :\t0\t},\n{\"x\":\t86.5\t, \"y\" :\t0\t},\n{\"x\":\t87.0\t, \"y\" :\t0\t},\n{\"x\":\t87.5\t, \"y\" :\t0\t},\n{\"x\":\t88.0\t, \"y\" :\t0\t},\n{\"x\":\t88.5\t, \"y\" :\t0\t},\n{\"x\":\t89.0\t, \"y\" :\t0\t},\n{\"x\":\t89.5\t, \"y\" :\t0\t},\n{\"x\":\t90.0\t, \"y\" :\t0\t},\n{\"x\":\t90.5\t, \"y\" :\t0\t},\n{\"x\":\t91.0\t, \"y\" :\t0\t},\n{\"x\":\t91.5\t, \"y\" :\t0\t},\n{\"x\":\t92.0\t, \"y\" :\t0\t},\n{\"x\":\t92.5\t, \"y\" :\t0\t},\n{\"x\":\t93.0\t, \"y\" :\t0\t},\n{\"x\":\t93.5\t, \"y\" :\t0\t},\n{\"x\":\t94.0\t, \"y\" :\t0\t},\n{\"x\":\t94.5\t, \"y\" :\t0\t},\n{\"x\":\t95.0\t, \"y\" :\t0\t},\n{\"x\":\t95.5\t, \"y\" :\t0\t},\n{\"x\":\t96.0\t, \"y\" :\t0\t},\n{\"x\":\t96.5\t, \"y\" :\t0\t},\n{\"x\":\t97.0\t, \"y\" :\t0\t},\n{\"x\":\t97.5\t, \"y\" :\t0\t},\n{\"x\":\t98.0\t, \"y\" :\t0\t},\n{\"x\":\t98.5\t, \"y\" :\t0\t},\n{\"x\":\t99.0\t, \"y\" :\t0\t},\n{\"x\":\t99.5\t, \"y\" :\t0\t},\n{\"x\":\t100.0\t, \"y\" :\t0\t},\n{\"x\":\t100.5\t, \"y\" :\t0\t},\n{\"x\":\t101.0\t, \"y\" :\t0\t},\n{\"x\":\t101.5\t, \"y\" :\t0\t},\n{\"x\":\t102.0\t, \"y\" :\t0\t},\n{\"x\":\t102.5\t, \"y\" :\t0\t},\n{\"x\":\t103.0\t, \"y\" :\t0\t},\n{\"x\":\t103.5\t, \"y\" :\t0\t},\n{\"x\":\t104.0\t, \"y\" :\t0\t},\n{\"x\":\t104.5\t, \"y\" :\t0\t},\n{\"x\":\t105.0\t, \"y\" :\t0\t},\n{\"x\":\t105.5\t, \"y\" :\t0\t},\n{\"x\":\t106.0\t, \"y\" :\t0\t},\n{\"x\":\t106.5\t, \"y\" :\t0\t},\n{\"x\":\t107.0\t, \"y\" :\t0\t},\n{\"x\":\t107.5\t, \"y\" :\t0\t},\n{\"x\":\t108.0\t, \"y\" :\t0\t},\n{\"x\":\t108.5\t, \"y\" :\t0\t},\n{\"x\":\t109.0\t, \"y\" :\t0\t},\n{\"x\":\t109.5\t, \"y\" :\t0\t},\n{\"x\":\t110.0\t, \"y\" :\t0\t},\n{\"x\":\t110.5\t, \"y\" :\t0\t},\n{\"x\":\t111.0\t, \"y\" :\t0\t},\n{\"x\":\t111.5\t, \"y\" :\t0\t},\n{\"x\":\t112.0\t, \"y\" :\t0\t},\n{\"x\":\t112.5\t, \"y\" :\t0\t},\n{\"x\":\t113.0\t, \"y\" :\t0\t},\n{\"x\":\t113.5\t, \"y\" :\t0\t},\n{\"x\":\t114.0\t, \"y\" :\t0\t},\n{\"x\":\t114.5\t, \"y\" :\t0\t},\n{\"x\":\t115.0\t, \"y\" :\t0\t},\n{\"x\":\t115.5\t, \"y\" :\t0\t},\n{\"x\":\t116.0\t, \"y\" :\t0\t},\n{\"x\":\t116.5\t, \"y\" :\t0\t},\n{\"x\":\t117.0\t, \"y\" :\t0\t},\n{\"x\":\t117.5\t, \"y\" :\t0\t},\n{\"x\":\t118.0\t, \"y\" :\t0\t},\n{\"x\":\t118.5\t, \"y\" :\t0\t},\n{\"x\":\t119.0\t, \"y\" :\t0\t},\n{\"x\":\t119.5\t, \"y\" :\t0\t},\n{\"x\":\t120.0\t, \"y\" :\t0\t},\n{\"x\":\t120.5\t, \"y\" :\t0\t},\n{\"x\":\t121.0\t, \"y\" :\t0\t},\n{\"x\":\t121.5\t, \"y\" :\t1\t},\n{\"x\":\t122.0\t, \"y\" :\t1\t},\n{\"x\":\t122.5\t, \"y\" :\t1\t},\n{\"x\":\t123.0\t, \"y\" :\t1\t},\n{\"x\":\t123.5\t, \"y\" :\t1\t},\n{\"x\":\t124.0\t, \"y\" :\t1\t},\n{\"x\":\t124.5\t, \"y\" :\t1\t},\n{\"x\":\t125.0\t, \"y\" :\t1\t},\n{\"x\":\t125.5\t, \"y\" :\t1\t},\n{\"x\":\t126.0\t, \"y\" :\t1\t},\n{\"x\":\t126.5\t, \"y\" :\t1\t},\n{\"x\":\t127.0\t, \"y\" :\t1\t},\n{\"x\":\t127.5\t, \"y\" :\t1\t},\n{\"x\":\t128.0\t, \"y\" :\t1\t},\n{\"x\":\t128.5\t, \"y\" :\t1\t},\n{\"x\":\t129.0\t, \"y\" :\t1\t},\n{\"x\":\t129.5\t, \"y\" :\t1\t},\n{\"x\":\t130.0\t, \"y\" :\t1\t},\n{\"x\":\t130.5\t, \"y\" :\t1\t},\n{\"x\":\t131.0\t, \"y\" :\t1\t},\n{\"x\":\t131.5\t, \"y\" :\t1\t},\n{\"x\":\t132.0\t, \"y\" :\t1\t},\n{\"x\":\t132.5\t, \"y\" :\t1\t},\n{\"x\":\t133.0\t, \"y\" :\t1\t},\n{\"x\":\t133.5\t, \"y\" :\t1\t},\n{\"x\":\t134.0\t, \"y\" :\t1\t},\n{\"x\":\t134.5\t, \"y\" :\t1\t},\n{\"x\":\t135.0\t, \"y\" :\t1\t},\n{\"x\":\t135.5\t, \"y\" :\t1\t},\n{\"x\":\t136.0\t, \"y\" :\t1\t},\n{\"x\":\t136.5\t, \"y\" :\t1\t},\n{\"x\":\t137.0\t, \"y\" :\t1\t},\n{\"x\":\t137.5\t, \"y\" :\t1\t},\n{\"x\":\t138.0\t, \"y\" :\t1\t},\n{\"x\":\t138.5\t, \"y\" :\t1\t},\n{\"x\":\t139.0\t, \"y\" :\t1\t},\n{\"x\":\t139.5\t, \"y\" :\t1\t},\n{\"x\":\t140.0\t, \"y\" :\t1\t},\n{\"x\":\t140.5\t, \"y\" :\t1\t},\n{\"x\":\t141.0\t, \"y\" :\t1\t},\n{\"x\":\t141.5\t, \"y\" :\t1\t},\n{\"x\":\t142.0\t, \"y\" :\t1\t},\n{\"x\":\t142.5\t, \"y\" :\t1\t},\n{\"x\":\t143.0\t, \"y\" :\t1\t},\n{\"x\":\t143.5\t, \"y\" :\t1\t},\n{\"x\":\t144.0\t, \"y\" :\t1\t},\n{\"x\":\t144.5\t, \"y\" :\t1\t},\n{\"x\":\t145.0\t, \"y\" :\t1\t},\n{\"x\":\t145.5\t, \"y\" :\t1\t},\n{\"x\":\t146.0\t, \"y\" :\t1\t},\n{\"x\":\t146.5\t, \"y\" :\t1\t},\n{\"x\":\t147.0\t, \"y\" :\t1\t},\n{\"x\":\t147.5\t, \"y\" :\t1\t},\n{\"x\":\t148.0\t, \"y\" :\t1\t},\n{\"x\":\t148.5\t, \"y\" :\t1\t},\n{\"x\":\t149.0\t, \"y\" :\t1\t},\n{\"x\":\t149.5\t, \"y\" :\t1\t},\n{\"x\":\t150.0\t, \"y\" :\t1\t},\n{\"x\":\t150.5\t, \"y\" :\t1\t},\n{\"x\":\t151.0\t, \"y\" :\t1\t},\n{\"x\":\t151.5\t, \"y\" :\t1\t},\n{\"x\":\t152.0\t, \"y\" :\t1\t},\n{\"x\":\t152.5\t, \"y\" :\t1\t},\n{\"x\":\t153.0\t, \"y\" :\t1\t},\n{\"x\":\t153.5\t, \"y\" :\t1\t},\n{\"x\":\t154.0\t, \"y\" :\t1\t},\n{\"x\":\t154.5\t, \"y\" :\t1\t},\n{\"x\":\t155.0\t, \"y\" :\t1\t},\n{\"x\":\t155.5\t, \"y\" :\t1\t},\n{\"x\":\t156.0\t, \"y\" :\t1\t},\n{\"x\":\t156.5\t, \"y\" :\t1\t},\n{\"x\":\t157.0\t, \"y\" :\t1\t},\n{\"x\":\t157.5\t, \"y\" :\t1\t},\n{\"x\":\t158.0\t, \"y\" :\t1\t},\n{\"x\":\t158.5\t, \"y\" :\t1\t},\n{\"x\":\t159.0\t, \"y\" :\t1\t},\n{\"x\":\t159.5\t, \"y\" :\t1\t},\n{\"x\":\t160.0\t, \"y\" :\t1\t},\n{\"x\":\t160.5\t, \"y\" :\t1\t},\n{\"x\":\t161.0\t, \"y\" :\t1\t},\n{\"x\":\t161.5\t, \"y\" :\t1\t},\n{\"x\":\t162.0\t, \"y\" :\t1\t},\n{\"x\":\t162.5\t, \"y\" :\t1\t},\n{\"x\":\t163.0\t, \"y\" :\t1\t},\n{\"x\":\t163.5\t, \"y\" :\t1\t},\n{\"x\":\t164.0\t, \"y\" :\t1\t},\n{\"x\":\t164.5\t, \"y\" :\t1\t},\n{\"x\":\t165.0\t, \"y\" :\t1\t},\n{\"x\":\t165.5\t, \"y\" :\t1\t},\n{\"x\":\t166.0\t, \"y\" :\t1\t},\n{\"x\":\t166.5\t, \"y\" :\t1\t},\n{\"x\":\t167.0\t, \"y\" :\t1\t},\n{\"x\":\t167.5\t, \"y\" :\t1\t},\n{\"x\":\t168.0\t, \"y\" :\t1\t},\n{\"x\":\t168.5\t, \"y\" :\t1\t},\n{\"x\":\t169.0\t, \"y\" :\t1\t},\n{\"x\":\t169.5\t, \"y\" :\t1\t},\n{\"x\":\t170.0\t, \"y\" :\t1\t},\n{\"x\":\t170.5\t, \"y\" :\t1\t},\n{\"x\":\t171.0\t, \"y\" :\t1\t},\n{\"x\":\t171.5\t, \"y\" :\t1\t},\n{\"x\":\t172.0\t, \"y\" :\t1\t},\n{\"x\":\t172.5\t, \"y\" :\t1\t},\n{\"x\":\t173.0\t, \"y\" :\t1\t},\n{\"x\":\t173.5\t, \"y\" :\t1\t},\n{\"x\":\t174.0\t, \"y\" :\t1\t},\n{\"x\":\t174.5\t, \"y\" :\t1\t},\n{\"x\":\t175.0\t, \"y\" :\t1\t},\n{\"x\":\t175.5\t, \"y\" :\t1\t},\n{\"x\":\t176.0\t, \"y\" :\t1\t},\n{\"x\":\t176.5\t, \"y\" :\t1\t},\n{\"x\":\t177.0\t, \"y\" :\t1\t},\n{\"x\":\t177.5\t, \"y\" :\t1\t},\n{\"x\":\t178.0\t, \"y\" :\t1\t},\n{\"x\":\t178.5\t, \"y\" :\t1\t},\n{\"x\":\t179.0\t, \"y\" :\t1\t},\n{\"x\":\t179.5\t, \"y\" :\t1\t},\n{\"x\":\t180.0\t, \"y\" :\t1\t},\n{\"x\":\t180.5\t, \"y\" :\t1\t},\n{\"x\":\t181.0\t, \"y\" :\t0\t},\n{\"x\":\t181.5\t, \"y\" :\t0\t},\n{\"x\":\t182.0\t, \"y\" :\t0\t},\n{\"x\":\t182.5\t, \"y\" :\t0\t},\n{\"x\":\t183.0\t, \"y\" :\t0\t},\n{\"x\":\t183.5\t, \"y\" :\t0\t},\n{\"x\":\t184.0\t, \"y\" :\t0\t},\n{\"x\":\t184.5\t, \"y\" :\t0\t},\n{\"x\":\t185.0\t, \"y\" :\t0\t},\n{\"x\":\t185.5\t, \"y\" :\t0\t},\n{\"x\":\t186.0\t, \"y\" :\t0\t},\n{\"x\":\t186.5\t, \"y\" :\t0\t},\n{\"x\":\t187.0\t, \"y\" :\t0\t},\n{\"x\":\t187.5\t, \"y\" :\t0\t},\n{\"x\":\t188.0\t, \"y\" :\t0\t},\n{\"x\":\t188.5\t, \"y\" :\t0\t},\n{\"x\":\t189.0\t, \"y\" :\t0\t},\n{\"x\":\t189.5\t, \"y\" :\t0\t},\n{\"x\":\t190.0\t, \"y\" :\t0\t},\n{\"x\":\t190.5\t, \"y\" :\t0\t},\n{\"x\":\t191.0\t, \"y\" :\t0\t},\n{\"x\":\t191.5\t, \"y\" :\t0\t},\n{\"x\":\t192.0\t, \"y\" :\t0\t},\n{\"x\":\t192.5\t, \"y\" :\t0\t},\n{\"x\":\t193.0\t, \"y\" :\t0\t},\n{\"x\":\t193.5\t, \"y\" :\t0\t},\n{\"x\":\t194.0\t, \"y\" :\t0\t},\n{\"x\":\t194.5\t, \"y\" :\t0\t},\n{\"x\":\t195.0\t, \"y\" :\t0\t},\n{\"x\":\t195.5\t, \"y\" :\t0\t},\n{\"x\":\t196.0\t, \"y\" :\t0\t},\n{\"x\":\t196.5\t, \"y\" :\t0\t},\n{\"x\":\t197.0\t, \"y\" :\t0\t},\n{\"x\":\t197.5\t, \"y\" :\t0\t},\n{\"x\":\t198.0\t, \"y\" :\t0\t},\n{\"x\":\t198.5\t, \"y\" :\t0\t},\n{\"x\":\t199.0\t, \"y\" :\t0\t},\n{\"x\":\t199.5\t, \"y\" :\t0\t},\n{\"x\":\t200.0\t, \"y\" :\t0\t},\n{\"x\":\t200.5\t, \"y\" :\t0\t},\n{\"x\":\t201.0\t, \"y\" :\t0\t},\n{\"x\":\t201.5\t, \"y\" :\t0\t},\n{\"x\":\t202.0\t, \"y\" :\t0\t},\n{\"x\":\t202.5\t, \"y\" :\t0\t},\n{\"x\":\t203.0\t, \"y\" :\t0\t},\n{\"x\":\t203.5\t, \"y\" :\t0\t},\n{\"x\":\t204.0\t, \"y\" :\t0\t},\n{\"x\":\t204.5\t, \"y\" :\t0\t},\n{\"x\":\t205.0\t, \"y\" :\t0\t},\n{\"x\":\t205.5\t, \"y\" :\t0\t},\n{\"x\":\t206.0\t, \"y\" :\t0\t},\n{\"x\":\t206.5\t, \"y\" :\t0\t},\n{\"x\":\t207.0\t, \"y\" :\t0\t},\n{\"x\":\t207.5\t, \"y\" :\t0\t},\n{\"x\":\t208.0\t, \"y\" :\t0\t},\n{\"x\":\t208.5\t, \"y\" :\t0\t},\n{\"x\":\t209.0\t, \"y\" :\t0\t},\n{\"x\":\t209.5\t, \"y\" :\t0\t},\n{\"x\":\t210.0\t, \"y\" :\t0\t},\n{\"x\":\t210.5\t, \"y\" :\t0\t},\n{\"x\":\t211.0\t, \"y\" :\t0\t},\n{\"x\":\t211.5\t, \"y\" :\t0\t},\n{\"x\":\t212.0\t, \"y\" :\t0\t},\n{\"x\":\t212.5\t, \"y\" :\t0\t},\n{\"x\":\t213.0\t, \"y\" :\t0\t},\n{\"x\":\t213.5\t, \"y\" :\t0\t},\n{\"x\":\t214.0\t, \"y\" :\t0\t},\n{\"x\":\t214.5\t, \"y\" :\t0\t},\n{\"x\":\t215.0\t, \"y\" :\t0\t},\n{\"x\":\t215.5\t, \"y\" :\t0\t},\n{\"x\":\t216.0\t, \"y\" :\t0\t},\n{\"x\":\t216.5\t, \"y\" :\t0\t},\n{\"x\":\t217.0\t, \"y\" :\t0\t},\n{\"x\":\t217.5\t, \"y\" :\t0\t},\n{\"x\":\t218.0\t, \"y\" :\t0\t},\n{\"x\":\t218.5\t, \"y\" :\t0\t},\n{\"x\":\t219.0\t, \"y\" :\t0\t},\n{\"x\":\t219.5\t, \"y\" :\t0\t},\n{\"x\":\t220.0\t, \"y\" :\t0\t},\n{\"x\":\t220.5\t, \"y\" :\t0\t},\n{\"x\":\t221.0\t, \"y\" :\t0\t},\n{\"x\":\t221.5\t, \"y\" :\t0\t},\n{\"x\":\t222.0\t, \"y\" :\t0\t},\n{\"x\":\t222.5\t, \"y\" :\t0\t},\n{\"x\":\t223.0\t, \"y\" :\t0\t},\n{\"x\":\t223.5\t, \"y\" :\t0\t},\n{\"x\":\t224.0\t, \"y\" :\t0\t},\n{\"x\":\t224.5\t, \"y\" :\t0\t},\n{\"x\":\t225.0\t, \"y\" :\t0\t},\n{\"x\":\t225.5\t, \"y\" :\t0\t},\n{\"x\":\t226.0\t, \"y\" :\t0\t},\n{\"x\":\t226.5\t, \"y\" :\t0\t},\n{\"x\":\t227.0\t, \"y\" :\t0\t},\n{\"x\":\t227.5\t, \"y\" :\t0\t},\n{\"x\":\t228.0\t, \"y\" :\t0\t},\n{\"x\":\t228.5\t, \"y\" :\t0\t},\n{\"x\":\t229.0\t, \"y\" :\t0\t},\n{\"x\":\t229.5\t, \"y\" :\t0\t},\n{\"x\":\t230.0\t, \"y\" :\t0\t},\n{\"x\":\t230.5\t, \"y\" :\t0\t},\n{\"x\":\t231.0\t, \"y\" :\t0\t},\n{\"x\":\t231.5\t, \"y\" :\t0\t},\n{\"x\":\t232.0\t, \"y\" :\t0\t},\n{\"x\":\t232.5\t, \"y\" :\t0\t},\n{\"x\":\t233.0\t, \"y\" :\t0\t},\n{\"x\":\t233.5\t, \"y\" :\t0\t},\n{\"x\":\t234.0\t, \"y\" :\t0\t},\n{\"x\":\t234.5\t, \"y\" :\t0\t},\n{\"x\":\t235.0\t, \"y\" :\t0\t},\n{\"x\":\t235.5\t, \"y\" :\t0\t},\n{\"x\":\t236.0\t, \"y\" :\t0\t},\n{\"x\":\t236.5\t, \"y\" :\t0\t},\n{\"x\":\t237.0\t, \"y\" :\t0\t},\n{\"x\":\t237.5\t, \"y\" :\t0\t},\n{\"x\":\t238.0\t, \"y\" :\t0\t},\n{\"x\":\t238.5\t, \"y\" :\t0\t},\n{\"x\":\t239.0\t, \"y\" :\t0\t},\n{\"x\":\t239.5\t, \"y\" :\t0\t},\n{\"x\":\t240.0\t, \"y\" :\t0\t},\n{\"x\":\t240.5\t, \"y\" :\t0\t},\n{\"x\":\t241.0\t, \"y\" :\t0\t},\n{\"x\":\t241.5\t, \"y\" :\t1\t},\n{\"x\":\t242.0\t, \"y\" :\t1\t},\n{\"x\":\t242.5\t, \"y\" :\t1\t},\n{\"x\":\t243.0\t, \"y\" :\t1\t},\n{\"x\":\t243.5\t, \"y\" :\t1\t},\n{\"x\":\t244.0\t, \"y\" :\t1\t},\n{\"x\":\t244.5\t, \"y\" :\t1\t},\n{\"x\":\t245.0\t, \"y\" :\t1\t},\n{\"x\":\t245.5\t, \"y\" :\t1\t},\n{\"x\":\t246.0\t, \"y\" :\t1\t},\n{\"x\":\t246.5\t, \"y\" :\t1\t},\n{\"x\":\t247.0\t, \"y\" :\t1\t},\n{\"x\":\t247.5\t, \"y\" :\t1\t},\n{\"x\":\t248.0\t, \"y\" :\t1\t},\n{\"x\":\t248.5\t, \"y\" :\t1\t},\n{\"x\":\t249.0\t, \"y\" :\t1\t},\n{\"x\":\t249.5\t, \"y\" :\t1\t},\n{\"x\":\t250.0\t, \"y\" :\t1\t},\n{\"x\":\t250.5\t, \"y\" :\t1\t},\n{\"x\":\t251.0\t, \"y\" :\t1\t},\n{\"x\":\t251.5\t, \"y\" :\t1\t},\n{\"x\":\t252.0\t, \"y\" :\t1\t},\n{\"x\":\t252.5\t, \"y\" :\t1\t},\n{\"x\":\t253.0\t, \"y\" :\t1\t},\n{\"x\":\t253.5\t, \"y\" :\t1\t},\n{\"x\":\t254.0\t, \"y\" :\t1\t},\n{\"x\":\t254.5\t, \"y\" :\t1\t},\n{\"x\":\t255.0\t, \"y\" :\t1\t},\n{\"x\":\t255.5\t, \"y\" :\t1\t},\n{\"x\":\t256.0\t, \"y\" :\t1\t},\n{\"x\":\t256.5\t, \"y\" :\t1\t},\n{\"x\":\t257.0\t, \"y\" :\t1\t},\n{\"x\":\t257.5\t, \"y\" :\t1\t},\n{\"x\":\t258.0\t, \"y\" :\t1\t},\n{\"x\":\t258.5\t, \"y\" :\t1\t},\n{\"x\":\t259.0\t, \"y\" :\t1\t},\n{\"x\":\t259.5\t, \"y\" :\t1\t},\n{\"x\":\t260.0\t, \"y\" :\t1\t},\n{\"x\":\t260.5\t, \"y\" :\t1\t},\n{\"x\":\t261.0\t, \"y\" :\t1\t},\n{\"x\":\t261.5\t, \"y\" :\t1\t},\n{\"x\":\t262.0\t, \"y\" :\t1\t},\n{\"x\":\t262.5\t, \"y\" :\t1\t},\n{\"x\":\t263.0\t, \"y\" :\t1\t},\n{\"x\":\t263.5\t, \"y\" :\t1\t},\n{\"x\":\t264.0\t, \"y\" :\t1\t},\n{\"x\":\t264.5\t, \"y\" :\t1\t},\n{\"x\":\t265.0\t, \"y\" :\t1\t},\n{\"x\":\t265.5\t, \"y\" :\t1\t},\n{\"x\":\t266.0\t, \"y\" :\t1\t},\n{\"x\":\t266.5\t, \"y\" :\t1\t},\n{\"x\":\t267.0\t, \"y\" :\t1\t},\n{\"x\":\t267.5\t, \"y\" :\t1\t},\n{\"x\":\t268.0\t, \"y\" :\t1\t},\n{\"x\":\t268.5\t, \"y\" :\t1\t},\n{\"x\":\t269.0\t, \"y\" :\t1\t},\n{\"x\":\t269.5\t, \"y\" :\t1\t},\n{\"x\":\t270.0\t, \"y\" :\t1\t},\n{\"x\":\t270.5\t, \"y\" :\t1\t},\n{\"x\":\t271.0\t, \"y\" :\t1\t},\n{\"x\":\t271.5\t, \"y\" :\t1\t},\n{\"x\":\t272.0\t, \"y\" :\t1\t},\n{\"x\":\t272.5\t, \"y\" :\t1\t},\n{\"x\":\t273.0\t, \"y\" :\t1\t},\n{\"x\":\t273.5\t, \"y\" :\t1\t},\n{\"x\":\t274.0\t, \"y\" :\t1\t},\n{\"x\":\t274.5\t, \"y\" :\t1\t},\n{\"x\":\t275.0\t, \"y\" :\t1\t},\n{\"x\":\t275.5\t, \"y\" :\t1\t},\n{\"x\":\t276.0\t, \"y\" :\t1\t},\n{\"x\":\t276.5\t, \"y\" :\t1\t},\n{\"x\":\t277.0\t, \"y\" :\t1\t},\n{\"x\":\t277.5\t, \"y\" :\t1\t},\n{\"x\":\t278.0\t, \"y\" :\t1\t},\n{\"x\":\t278.5\t, \"y\" :\t1\t},\n{\"x\":\t279.0\t, \"y\" :\t1\t},\n{\"x\":\t279.5\t, \"y\" :\t1\t},\n{\"x\":\t280.0\t, \"y\" :\t1\t},\n{\"x\":\t280.5\t, \"y\" :\t1\t},\n{\"x\":\t281.0\t, \"y\" :\t1\t},\n{\"x\":\t281.5\t, \"y\" :\t1\t},\n{\"x\":\t282.0\t, \"y\" :\t1\t},\n{\"x\":\t282.5\t, \"y\" :\t1\t},\n{\"x\":\t283.0\t, \"y\" :\t1\t},\n{\"x\":\t283.5\t, \"y\" :\t1\t},\n{\"x\":\t284.0\t, \"y\" :\t1\t},\n{\"x\":\t284.5\t, \"y\" :\t1\t},\n{\"x\":\t285.0\t, \"y\" :\t1\t},\n{\"x\":\t285.5\t, \"y\" :\t1\t},\n{\"x\":\t286.0\t, \"y\" :\t1\t},\n{\"x\":\t286.5\t, \"y\" :\t1\t},\n{\"x\":\t287.0\t, \"y\" :\t1\t},\n{\"x\":\t287.5\t, \"y\" :\t1\t},\n{\"x\":\t288.0\t, \"y\" :\t1\t},\n{\"x\":\t288.5\t, \"y\" :\t1\t},\n{\"x\":\t289.0\t, \"y\" :\t1\t},\n{\"x\":\t289.5\t, \"y\" :\t1\t},\n{\"x\":\t290.0\t, \"y\" :\t1\t},\n{\"x\":\t290.5\t, \"y\" :\t1\t},\n{\"x\":\t291.0\t, \"y\" :\t1\t},\n{\"x\":\t291.5\t, \"y\" :\t1\t},\n{\"x\":\t292.0\t, \"y\" :\t1\t},\n{\"x\":\t292.5\t, \"y\" :\t1\t},\n{\"x\":\t293.0\t, \"y\" :\t1\t},\n{\"x\":\t293.5\t, \"y\" :\t1\t},\n{\"x\":\t294.0\t, \"y\" :\t1\t},\n{\"x\":\t294.5\t, \"y\" :\t1\t},\n{\"x\":\t295.0\t, \"y\" :\t1\t},\n{\"x\":\t295.5\t, \"y\" :\t1\t},\n{\"x\":\t296.0\t, \"y\" :\t1\t},\n{\"x\":\t296.5\t, \"y\" :\t1\t},\n{\"x\":\t297.0\t, \"y\" :\t1\t},\n{\"x\":\t297.5\t, \"y\" :\t1\t},\n{\"x\":\t298.0\t, \"y\" :\t1\t},\n{\"x\":\t298.5\t, \"y\" :\t1\t},\n{\"x\":\t299.0\t, \"y\" :\t1\t},\n{\"x\":\t299.5\t, \"y\" :\t1\t},\n{\"x\":\t300.0\t, \"y\" :\t1\t},\n{\"x\":\t300.5\t, \"y\" :\t1\t},\n{\"x\":\t301.0\t, \"y\" :\t1\t},\n{\"x\":\t301.5\t, \"y\" :\t0\t},\n{\"x\":\t302.0\t, \"y\" :\t0\t},\n{\"x\":\t302.5\t, \"y\" :\t0\t},\n{\"x\":\t303.0\t, \"y\" :\t0\t},\n{\"x\":\t303.5\t, \"y\" :\t0\t},\n{\"x\":\t304.0\t, \"y\" :\t0\t},\n{\"x\":\t304.5\t, \"y\" :\t0\t},\n{\"x\":\t305.0\t, \"y\" :\t0\t},\n{\"x\":\t305.5\t, \"y\" :\t0\t},\n{\"x\":\t306.0\t, \"y\" :\t0\t},\n{\"x\":\t306.5\t, \"y\" :\t0\t},\n{\"x\":\t307.0\t, \"y\" :\t0\t},\n{\"x\":\t307.5\t, \"y\" :\t0\t},\n{\"x\":\t308.0\t, \"y\" :\t0\t},\n{\"x\":\t308.5\t, \"y\" :\t0\t},\n{\"x\":\t309.0\t, \"y\" :\t0\t},\n{\"x\":\t309.5\t, \"y\" :\t0\t},\n{\"x\":\t310.0\t, \"y\" :\t0\t},\n{\"x\":\t310.5\t, \"y\" :\t0\t},\n{\"x\":\t311.0\t, \"y\" :\t0\t},\n{\"x\":\t311.5\t, \"y\" :\t0\t},\n{\"x\":\t312.0\t, \"y\" :\t0\t},\n{\"x\":\t312.5\t, \"y\" :\t0\t},\n{\"x\":\t313.0\t, \"y\" :\t0\t},\n{\"x\":\t313.5\t, \"y\" :\t0\t},\n{\"x\":\t314.0\t, \"y\" :\t0\t},\n{\"x\":\t314.5\t, \"y\" :\t0\t},\n{\"x\":\t315.0\t, \"y\" :\t0\t},\n{\"x\":\t315.5\t, \"y\" :\t0\t},\n{\"x\":\t316.0\t, \"y\" :\t0\t},\n{\"x\":\t316.5\t, \"y\" :\t0\t},\n{\"x\":\t317.0\t, \"y\" :\t0\t},\n{\"x\":\t317.5\t, \"y\" :\t0\t},\n{\"x\":\t318.0\t, \"y\" :\t0\t},\n{\"x\":\t318.5\t, \"y\" :\t0\t},\n{\"x\":\t319.0\t, \"y\" :\t0\t},\n{\"x\":\t319.5\t, \"y\" :\t0\t},\n{\"x\":\t320.0\t, \"y\" :\t0\t},\n{\"x\":\t320.5\t, \"y\" :\t0\t},\n{\"x\":\t321.0\t, \"y\" :\t0\t},\n{\"x\":\t321.5\t, \"y\" :\t0\t},\n{\"x\":\t322.0\t, \"y\" :\t0\t},\n{\"x\":\t322.5\t, \"y\" :\t0\t},\n{\"x\":\t323.0\t, \"y\" :\t0\t},\n{\"x\":\t323.5\t, \"y\" :\t0\t},\n{\"x\":\t324.0\t, \"y\" :\t0\t},\n{\"x\":\t324.5\t, \"y\" :\t0\t},\n{\"x\":\t325.0\t, \"y\" :\t0\t},\n{\"x\":\t325.5\t, \"y\" :\t0\t},\n{\"x\":\t326.0\t, \"y\" :\t0\t},\n{\"x\":\t326.5\t, \"y\" :\t0\t},\n{\"x\":\t327.0\t, \"y\" :\t0\t},\n{\"x\":\t327.5\t, \"y\" :\t0\t},\n{\"x\":\t328.0\t, \"y\" :\t0\t},\n{\"x\":\t328.5\t, \"y\" :\t0\t},\n{\"x\":\t329.0\t, \"y\" :\t0\t},\n{\"x\":\t329.5\t, \"y\" :\t0\t},\n{\"x\":\t330.0\t, \"y\" :\t0\t},\n{\"x\":\t330.5\t, \"y\" :\t0\t},\n{\"x\":\t331.0\t, \"y\" :\t0\t},\n{\"x\":\t331.5\t, \"y\" :\t0\t},\n{\"x\":\t332.0\t, \"y\" :\t0\t},\n{\"x\":\t332.5\t, \"y\" :\t0\t},\n{\"x\":\t333.0\t, \"y\" :\t0\t},\n{\"x\":\t333.5\t, \"y\" :\t0\t},\n{\"x\":\t334.0\t, \"y\" :\t0\t},\n{\"x\":\t334.5\t, \"y\" :\t0\t},\n{\"x\":\t335.0\t, \"y\" :\t0\t},\n{\"x\":\t335.5\t, \"y\" :\t0\t},\n{\"x\":\t336.0\t, \"y\" :\t0\t},\n{\"x\":\t336.5\t, \"y\" :\t0\t},\n{\"x\":\t337.0\t, \"y\" :\t0\t},\n{\"x\":\t337.5\t, \"y\" :\t0\t},\n{\"x\":\t338.0\t, \"y\" :\t0\t},\n{\"x\":\t338.5\t, \"y\" :\t0\t},\n{\"x\":\t339.0\t, \"y\" :\t0\t},\n{\"x\":\t339.5\t, \"y\" :\t0\t},\n{\"x\":\t340.0\t, \"y\" :\t0\t},\n{\"x\":\t340.5\t, \"y\" :\t0\t},\n{\"x\":\t341.0\t, \"y\" :\t0\t},\n{\"x\":\t341.5\t, \"y\" :\t0\t},\n{\"x\":\t342.0\t, \"y\" :\t0\t},\n{\"x\":\t342.5\t, \"y\" :\t0\t},\n{\"x\":\t343.0\t, \"y\" :\t0\t},\n{\"x\":\t343.5\t, \"y\" :\t0\t},\n{\"x\":\t344.0\t, \"y\" :\t0\t},\n{\"x\":\t344.5\t, \"y\" :\t0\t},\n{\"x\":\t345.0\t, \"y\" :\t0\t},\n{\"x\":\t345.5\t, \"y\" :\t0\t},\n{\"x\":\t346.0\t, \"y\" :\t0\t},\n{\"x\":\t346.5\t, \"y\" :\t0\t},\n{\"x\":\t347.0\t, \"y\" :\t0\t},\n{\"x\":\t347.5\t, \"y\" :\t0\t},\n{\"x\":\t348.0\t, \"y\" :\t0\t},\n{\"x\":\t348.5\t, \"y\" :\t0\t},\n{\"x\":\t349.0\t, \"y\" :\t0\t},\n{\"x\":\t349.5\t, \"y\" :\t0\t},\n{\"x\":\t350.0\t, \"y\" :\t0\t},\n{\"x\":\t350.5\t, \"y\" :\t0\t},\n{\"x\":\t351.0\t, \"y\" :\t0\t},\n{\"x\":\t351.5\t, \"y\" :\t0\t},\n{\"x\":\t352.0\t, \"y\" :\t0\t},\n{\"x\":\t352.5\t, \"y\" :\t0\t},\n{\"x\":\t353.0\t, \"y\" :\t0\t},\n{\"x\":\t353.5\t, \"y\" :\t0\t},\n{\"x\":\t354.0\t, \"y\" :\t0\t},\n{\"x\":\t354.5\t, \"y\" :\t0\t},\n{\"x\":\t355.0\t, \"y\" :\t0\t},\n{\"x\":\t355.5\t, \"y\" :\t0\t},\n{\"x\":\t356.0\t, \"y\" :\t0\t},\n{\"x\":\t356.5\t, \"y\" :\t0\t},\n{\"x\":\t357.0\t, \"y\" :\t0\t},\n{\"x\":\t357.5\t, \"y\" :\t0\t},\n{\"x\":\t358.0\t, \"y\" :\t0\t},\n{\"x\":\t358.5\t, \"y\" :\t0\t},\n{\"x\":\t359.0\t, \"y\" :\t0\t},\n{\"x\":\t359.5\t, \"y\" :\t0\t},\n{\"x\":\t360.0\t, \"y\" :\t0\t},\n{\"x\":\t360.5\t, \"y\" :\t0\t},\n{\"x\":\t361.0\t, \"y\" :\t0\t},\n{\"x\":\t361.5\t, \"y\" :\t1\t},\n{\"x\":\t362.0\t, \"y\" :\t1\t},\n{\"x\":\t362.5\t, \"y\" :\t1\t},\n{\"x\":\t363.0\t, \"y\" :\t1\t},\n{\"x\":\t363.5\t, \"y\" :\t1\t},\n{\"x\":\t364.0\t, \"y\" :\t1\t},\n{\"x\":\t364.5\t, \"y\" :\t1\t},\n{\"x\":\t365.0\t, \"y\" :\t1\t},\n{\"x\":\t365.5\t, \"y\" :\t1\t},\n{\"x\":\t366.0\t, \"y\" :\t1\t},\n{\"x\":\t366.5\t, \"y\" :\t1\t},\n{\"x\":\t367.0\t, \"y\" :\t1\t},\n{\"x\":\t367.5\t, \"y\" :\t1\t},\n{\"x\":\t368.0\t, \"y\" :\t1\t},\n{\"x\":\t368.5\t, \"y\" :\t1\t},\n{\"x\":\t369.0\t, \"y\" :\t1\t},\n{\"x\":\t369.5\t, \"y\" :\t1\t},\n{\"x\":\t370.0\t, \"y\" :\t1\t},\n{\"x\":\t370.5\t, \"y\" :\t1\t},\n{\"x\":\t371.0\t, \"y\" :\t1\t},\n{\"x\":\t371.5\t, \"y\" :\t1\t},\n{\"x\":\t372.0\t, \"y\" :\t1\t},\n{\"x\":\t372.5\t, \"y\" :\t1\t},\n{\"x\":\t373.0\t, \"y\" :\t1\t},\n{\"x\":\t373.5\t, \"y\" :\t1\t},\n{\"x\":\t374.0\t, \"y\" :\t1\t},\n{\"x\":\t374.5\t, \"y\" :\t1\t},\n{\"x\":\t375.0\t, \"y\" :\t1\t},\n{\"x\":\t375.5\t, \"y\" :\t1\t},\n{\"x\":\t376.0\t, \"y\" :\t1\t},\n{\"x\":\t376.5\t, \"y\" :\t1\t},\n{\"x\":\t377.0\t, \"y\" :\t1\t},\n{\"x\":\t377.5\t, \"y\" :\t1\t},\n{\"x\":\t378.0\t, \"y\" :\t1\t},\n{\"x\":\t378.5\t, \"y\" :\t1\t},\n{\"x\":\t379.0\t, \"y\" :\t1\t},\n{\"x\":\t379.5\t, \"y\" :\t1\t},\n{\"x\":\t380.0\t, \"y\" :\t1\t},\n{\"x\":\t380.5\t, \"y\" :\t1\t},\n{\"x\":\t381.0\t, \"y\" :\t1\t},\n{\"x\":\t381.5\t, \"y\" :\t1\t},\n{\"x\":\t382.0\t, \"y\" :\t1\t},\n{\"x\":\t382.5\t, \"y\" :\t1\t},\n{\"x\":\t383.0\t, \"y\" :\t1\t},\n{\"x\":\t383.5\t, \"y\" :\t1\t},\n{\"x\":\t384.0\t, \"y\" :\t1\t},\n{\"x\":\t384.5\t, \"y\" :\t1\t},\n{\"x\":\t385.0\t, \"y\" :\t1\t},\n{\"x\":\t385.5\t, \"y\" :\t1\t},\n{\"x\":\t386.0\t, \"y\" :\t1\t},\n{\"x\":\t386.5\t, \"y\" :\t1\t},\n{\"x\":\t387.0\t, \"y\" :\t1\t},\n{\"x\":\t387.5\t, \"y\" :\t1\t},\n{\"x\":\t388.0\t, \"y\" :\t1\t},\n{\"x\":\t388.5\t, \"y\" :\t1\t},\n{\"x\":\t389.0\t, \"y\" :\t1\t},\n{\"x\":\t389.5\t, \"y\" :\t1\t},\n{\"x\":\t390.0\t, \"y\" :\t1\t},\n{\"x\":\t390.5\t, \"y\" :\t1\t},\n{\"x\":\t391.0\t, \"y\" :\t1\t},\n{\"x\":\t391.5\t, \"y\" :\t1\t},\n{\"x\":\t392.0\t, \"y\" :\t1\t},\n{\"x\":\t392.5\t, \"y\" :\t1\t},\n{\"x\":\t393.0\t, \"y\" :\t1\t},\n{\"x\":\t393.5\t, \"y\" :\t1\t},\n{\"x\":\t394.0\t, \"y\" :\t1\t},\n{\"x\":\t394.5\t, \"y\" :\t1\t},\n{\"x\":\t395.0\t, \"y\" :\t1\t},\n{\"x\":\t395.5\t, \"y\" :\t1\t},\n{\"x\":\t396.0\t, \"y\" :\t1\t},\n{\"x\":\t396.5\t, \"y\" :\t1\t},\n{\"x\":\t397.0\t, \"y\" :\t1\t},\n{\"x\":\t397.5\t, \"y\" :\t1\t},\n{\"x\":\t398.0\t, \"y\" :\t1\t},\n{\"x\":\t398.5\t, \"y\" :\t1\t},\n{\"x\":\t399.0\t, \"y\" :\t1\t},\n{\"x\":\t399.5\t, \"y\" :\t1\t},\n{\"x\":\t400.0\t, \"y\" :\t1\t},\n{\"x\":\t400.5\t, \"y\" :\t1\t},\n{\"x\":\t401.0\t, \"y\" :\t1\t},\n{\"x\":\t401.5\t, \"y\" :\t1\t},\n{\"x\":\t402.0\t, \"y\" :\t1\t},\n{\"x\":\t402.5\t, \"y\" :\t1\t},\n{\"x\":\t403.0\t, \"y\" :\t1\t},\n{\"x\":\t403.5\t, \"y\" :\t1\t},\n{\"x\":\t404.0\t, \"y\" :\t1\t},\n{\"x\":\t404.5\t, \"y\" :\t1\t},\n{\"x\":\t405.0\t, \"y\" :\t1\t},\n{\"x\":\t405.5\t, \"y\" :\t1\t},\n{\"x\":\t406.0\t, \"y\" :\t1\t},\n{\"x\":\t406.5\t, \"y\" :\t1\t},\n{\"x\":\t407.0\t, \"y\" :\t1\t},\n{\"x\":\t407.5\t, \"y\" :\t1\t},\n{\"x\":\t408.0\t, \"y\" :\t1\t},\n{\"x\":\t408.5\t, \"y\" :\t1\t},\n{\"x\":\t409.0\t, \"y\" :\t1\t},\n{\"x\":\t409.5\t, \"y\" :\t1\t},\n{\"x\":\t410.0\t, \"y\" :\t1\t},\n{\"x\":\t410.5\t, \"y\" :\t1\t},\n{\"x\":\t411.0\t, \"y\" :\t1\t},\n{\"x\":\t411.5\t, \"y\" :\t1\t},\n{\"x\":\t412.0\t, \"y\" :\t1\t},\n{\"x\":\t412.5\t, \"y\" :\t1\t},\n{\"x\":\t413.0\t, \"y\" :\t1\t},\n{\"x\":\t413.5\t, \"y\" :\t1\t},\n{\"x\":\t414.0\t, \"y\" :\t1\t},\n{\"x\":\t414.5\t, \"y\" :\t1\t},\n{\"x\":\t415.0\t, \"y\" :\t1\t},\n{\"x\":\t415.5\t, \"y\" :\t1\t},\n{\"x\":\t416.0\t, \"y\" :\t1\t},\n{\"x\":\t416.5\t, \"y\" :\t1\t},\n{\"x\":\t417.0\t, \"y\" :\t1\t},\n{\"x\":\t417.5\t, \"y\" :\t1\t},\n{\"x\":\t418.0\t, \"y\" :\t1\t},\n{\"x\":\t418.5\t, \"y\" :\t1\t},\n{\"x\":\t419.0\t, \"y\" :\t1\t},\n{\"x\":\t419.5\t, \"y\" :\t1\t},\n{\"x\":\t420.0\t, \"y\" :\t1\t},\n{\"x\":\t420.5\t, \"y\" :\t1\t},\n{\"x\":\t421.0\t, \"y\" :\t0\t},\n{\"x\":\t421.5\t, \"y\" :\t0\t},\n{\"x\":\t422.0\t, \"y\" :\t0\t},\n{\"x\":\t422.5\t, \"y\" :\t0\t},\n{\"x\":\t423.0\t, \"y\" :\t0\t},\n{\"x\":\t423.5\t, \"y\" :\t0\t},\n{\"x\":\t424.0\t, \"y\" :\t0\t},\n{\"x\":\t424.5\t, \"y\" :\t0\t},\n{\"x\":\t425.0\t, \"y\" :\t0\t},\n{\"x\":\t425.5\t, \"y\" :\t0\t},\n{\"x\":\t426.0\t, \"y\" :\t0\t},\n{\"x\":\t426.5\t, \"y\" :\t0\t},\n{\"x\":\t427.0\t, \"y\" :\t0\t},\n{\"x\":\t427.5\t, \"y\" :\t0\t},\n{\"x\":\t428.0\t, \"y\" :\t0\t},\n{\"x\":\t428.5\t, \"y\" :\t0\t},\n{\"x\":\t429.0\t, \"y\" :\t0\t},\n{\"x\":\t429.5\t, \"y\" :\t0\t},\n{\"x\":\t430.0\t, \"y\" :\t0\t},\n{\"x\":\t430.5\t, \"y\" :\t0\t},\n{\"x\":\t431.0\t, \"y\" :\t0\t},\n{\"x\":\t431.5\t, \"y\" :\t0\t},\n{\"x\":\t432.0\t, \"y\" :\t0\t},\n{\"x\":\t432.5\t, \"y\" :\t0\t},\n{\"x\":\t433.0\t, \"y\" :\t0\t},\n{\"x\":\t433.5\t, \"y\" :\t0\t},\n{\"x\":\t434.0\t, \"y\" :\t0\t},\n{\"x\":\t434.5\t, \"y\" :\t0\t},\n{\"x\":\t435.0\t, \"y\" :\t0\t},\n{\"x\":\t435.5\t, \"y\" :\t0\t},\n{\"x\":\t436.0\t, \"y\" :\t0\t},\n{\"x\":\t436.5\t, \"y\" :\t0\t},\n{\"x\":\t437.0\t, \"y\" :\t0\t},\n{\"x\":\t437.5\t, \"y\" :\t0\t},\n{\"x\":\t438.0\t, \"y\" :\t0\t},\n{\"x\":\t438.5\t, \"y\" :\t0\t},\n{\"x\":\t439.0\t, \"y\" :\t0\t},\n{\"x\":\t439.5\t, \"y\" :\t0\t},\n{\"x\":\t440.0\t, \"y\" :\t0\t},\n{\"x\":\t440.5\t, \"y\" :\t0\t},\n{\"x\":\t441.0\t, \"y\" :\t0\t},\n{\"x\":\t441.5\t, \"y\" :\t0\t},\n{\"x\":\t442.0\t, \"y\" :\t0\t},\n{\"x\":\t442.5\t, \"y\" :\t0\t},\n{\"x\":\t443.0\t, \"y\" :\t0\t},\n{\"x\":\t443.5\t, \"y\" :\t0\t},\n{\"x\":\t444.0\t, \"y\" :\t0\t},\n{\"x\":\t444.5\t, \"y\" :\t0\t},\n{\"x\":\t445.0\t, \"y\" :\t0\t},\n{\"x\":\t445.5\t, \"y\" :\t0\t},\n{\"x\":\t446.0\t, \"y\" :\t0\t},\n{\"x\":\t446.5\t, \"y\" :\t0\t},\n{\"x\":\t447.0\t, \"y\" :\t0\t},\n{\"x\":\t447.5\t, \"y\" :\t0\t},\n{\"x\":\t448.0\t, \"y\" :\t0\t},\n{\"x\":\t448.5\t, \"y\" :\t0\t},\n{\"x\":\t449.0\t, \"y\" :\t0\t},\n{\"x\":\t449.5\t, \"y\" :\t0\t},\n{\"x\":\t450.0\t, \"y\" :\t0\t},\n{\"x\":\t450.5\t, \"y\" :\t0\t},\n{\"x\":\t451.0\t, \"y\" :\t0\t},\n{\"x\":\t451.5\t, \"y\" :\t0\t},\n{\"x\":\t452.0\t, \"y\" :\t0\t},\n{\"x\":\t452.5\t, \"y\" :\t0\t},\n{\"x\":\t453.0\t, \"y\" :\t0\t},\n{\"x\":\t453.5\t, \"y\" :\t0\t},\n{\"x\":\t454.0\t, \"y\" :\t0\t},\n{\"x\":\t454.5\t, \"y\" :\t0\t},\n{\"x\":\t455.0\t, \"y\" :\t0\t},\n{\"x\":\t455.5\t, \"y\" :\t0\t},\n{\"x\":\t456.0\t, \"y\" :\t0\t},\n{\"x\":\t456.5\t, \"y\" :\t0\t},\n{\"x\":\t457.0\t, \"y\" :\t0\t},\n{\"x\":\t457.5\t, \"y\" :\t0\t},\n{\"x\":\t458.0\t, \"y\" :\t0\t},\n{\"x\":\t458.5\t, \"y\" :\t0\t},\n{\"x\":\t459.0\t, \"y\" :\t0\t},\n{\"x\":\t459.5\t, \"y\" :\t0\t},\n{\"x\":\t460.0\t, \"y\" :\t0\t},\n{\"x\":\t460.5\t, \"y\" :\t0\t},\n{\"x\":\t461.0\t, \"y\" :\t0\t},\n{\"x\":\t461.5\t, \"y\" :\t0\t},\n{\"x\":\t462.0\t, \"y\" :\t0\t},\n{\"x\":\t462.5\t, \"y\" :\t0\t},\n{\"x\":\t463.0\t, \"y\" :\t0\t},\n{\"x\":\t463.5\t, \"y\" :\t0\t},\n{\"x\":\t464.0\t, \"y\" :\t0\t},\n{\"x\":\t464.5\t, \"y\" :\t0\t},\n{\"x\":\t465.0\t, \"y\" :\t0\t},\n{\"x\":\t465.5\t, \"y\" :\t0\t},\n{\"x\":\t466.0\t, \"y\" :\t0\t},\n{\"x\":\t466.5\t, \"y\" :\t0\t},\n{\"x\":\t467.0\t, \"y\" :\t0\t},\n{\"x\":\t467.5\t, \"y\" :\t0\t},\n{\"x\":\t468.0\t, \"y\" :\t0\t},\n{\"x\":\t468.5\t, \"y\" :\t0\t},\n{\"x\":\t469.0\t, \"y\" :\t0\t},\n{\"x\":\t469.5\t, \"y\" :\t0\t},\n{\"x\":\t470.0\t, \"y\" :\t0\t},\n{\"x\":\t470.5\t, \"y\" :\t0\t},\n{\"x\":\t471.0\t, \"y\" :\t0\t},\n{\"x\":\t471.5\t, \"y\" :\t0\t},\n{\"x\":\t472.0\t, \"y\" :\t0\t},\n{\"x\":\t472.5\t, \"y\" :\t0\t},\n{\"x\":\t473.0\t, \"y\" :\t0\t},\n{\"x\":\t473.5\t, \"y\" :\t0\t},\n{\"x\":\t474.0\t, \"y\" :\t0\t},\n{\"x\":\t474.5\t, \"y\" :\t0\t},\n{\"x\":\t475.0\t, \"y\" :\t0\t},\n{\"x\":\t475.5\t, \"y\" :\t0\t},\n{\"x\":\t476.0\t, \"y\" :\t0\t},\n{\"x\":\t476.5\t, \"y\" :\t0\t},\n{\"x\":\t477.0\t, \"y\" :\t0\t},\n{\"x\":\t477.5\t, \"y\" :\t0\t},\n{\"x\":\t478.0\t, \"y\" :\t0\t},\n{\"x\":\t478.5\t, \"y\" :\t0\t},\n{\"x\":\t479.0\t, \"y\" :\t0\t},\n{\"x\":\t479.5\t, \"y\" :\t0\t},\n{\"x\":\t480.0\t, \"y\" :\t0\t},\n{\"x\":\t480.5\t, \"y\" :\t0\t},\n{\"x\":\t481.0\t, \"y\" :\t0\t},\n{\"x\":\t481.5\t, \"y\" :\t0\t},\n{\"x\":\t482.0\t, \"y\" :\t1\t},\n{\"x\":\t482.5\t, \"y\" :\t1\t},\n{\"x\":\t483.0\t, \"y\" :\t1\t},\n{\"x\":\t483.5\t, \"y\" :\t1\t},\n{\"x\":\t484.0\t, \"y\" :\t1\t},\n{\"x\":\t484.5\t, \"y\" :\t1\t},\n{\"x\":\t485.0\t, \"y\" :\t1\t},\n{\"x\":\t485.5\t, \"y\" :\t1\t},\n{\"x\":\t486.0\t, \"y\" :\t1\t},\n{\"x\":\t486.5\t, \"y\" :\t1\t},\n{\"x\":\t487.0\t, \"y\" :\t1\t},\n{\"x\":\t487.5\t, \"y\" :\t1\t},\n{\"x\":\t488.0\t, \"y\" :\t1\t},\n{\"x\":\t488.5\t, \"y\" :\t1\t},\n{\"x\":\t489.0\t, \"y\" :\t1\t},\n{\"x\":\t489.5\t, \"y\" :\t1\t},\n{\"x\":\t490.0\t, \"y\" :\t1\t},\n{\"x\":\t490.5\t, \"y\" :\t1\t},\n{\"x\":\t491.0\t, \"y\" :\t1\t},\n{\"x\":\t491.5\t, \"y\" :\t1\t},\n{\"x\":\t492.0\t, \"y\" :\t1\t},\n{\"x\":\t492.5\t, \"y\" :\t1\t},\n{\"x\":\t493.0\t, \"y\" :\t1\t},\n{\"x\":\t493.5\t, \"y\" :\t1\t},\n{\"x\":\t494.0\t, \"y\" :\t1\t},\n{\"x\":\t494.5\t, \"y\" :\t1\t},\n{\"x\":\t495.0\t, \"y\" :\t1\t},\n{\"x\":\t495.5\t, \"y\" :\t1\t},\n{\"x\":\t496.0\t, \"y\" :\t1\t},\n{\"x\":\t496.5\t, \"y\" :\t1\t},\n{\"x\":\t497.0\t, \"y\" :\t1\t},\n{\"x\":\t497.5\t, \"y\" :\t1\t},\n{\"x\":\t498.0\t, \"y\" :\t1\t},\n{\"x\":\t498.5\t, \"y\" :\t1\t},\n{\"x\":\t499.0\t, \"y\" :\t1\t},\n{\"x\":\t499.5\t, \"y\" :\t1\t},\n{\"x\":\t500.0\t, \"y\" :\t1\t},\n{\"x\":\t500.5\t, \"y\" :\t1\t},\n{\"x\":\t501.0\t, \"y\" :\t1\t},\n{\"x\":\t501.5\t, \"y\" :\t1\t},\n{\"x\":\t502.0\t, \"y\" :\t1\t},\n{\"x\":\t502.5\t, \"y\" :\t1\t},\n{\"x\":\t503.0\t, \"y\" :\t1\t},\n{\"x\":\t503.5\t, \"y\" :\t1\t},\n{\"x\":\t504.0\t, \"y\" :\t1\t},\n{\"x\":\t504.5\t, \"y\" :\t1\t},\n{\"x\":\t505.0\t, \"y\" :\t1\t},\n{\"x\":\t505.5\t, \"y\" :\t1\t},\n{\"x\":\t506.0\t, \"y\" :\t1\t},\n{\"x\":\t506.5\t, \"y\" :\t1\t},\n{\"x\":\t507.0\t, \"y\" :\t1\t},\n{\"x\":\t507.5\t, \"y\" :\t1\t},\n{\"x\":\t508.0\t, \"y\" :\t1\t},\n{\"x\":\t508.5\t, \"y\" :\t1\t},\n{\"x\":\t509.0\t, \"y\" :\t1\t},\n{\"x\":\t509.5\t, \"y\" :\t1\t},\n{\"x\":\t510.0\t, \"y\" :\t1\t},\n{\"x\":\t510.5\t, \"y\" :\t1\t},\n{\"x\":\t511.0\t, \"y\" :\t1\t},\n{\"x\":\t511.5\t, \"y\" :\t1\t},\n{\"x\":\t512.0\t, \"y\" :\t1\t},\n{\"x\":\t512.5\t, \"y\" :\t1\t},\n{\"x\":\t513.0\t, \"y\" :\t1\t},\n{\"x\":\t513.5\t, \"y\" :\t1\t},\n{\"x\":\t514.0\t, \"y\" :\t1\t},\n{\"x\":\t514.5\t, \"y\" :\t1\t},\n{\"x\":\t515.0\t, \"y\" :\t1\t},\n{\"x\":\t515.5\t, \"y\" :\t1\t},\n{\"x\":\t516.0\t, \"y\" :\t1\t},\n{\"x\":\t516.5\t, \"y\" :\t1\t},\n{\"x\":\t517.0\t, \"y\" :\t1\t},\n{\"x\":\t517.5\t, \"y\" :\t1\t},\n{\"x\":\t518.0\t, \"y\" :\t1\t},\n{\"x\":\t518.5\t, \"y\" :\t1\t},\n{\"x\":\t519.0\t, \"y\" :\t1\t},\n{\"x\":\t519.5\t, \"y\" :\t1\t},\n{\"x\":\t520.0\t, \"y\" :\t1\t},\n{\"x\":\t520.5\t, \"y\" :\t1\t},\n{\"x\":\t521.0\t, \"y\" :\t1\t},\n{\"x\":\t521.5\t, \"y\" :\t1\t},\n{\"x\":\t522.0\t, \"y\" :\t1\t},\n{\"x\":\t522.5\t, \"y\" :\t1\t},\n{\"x\":\t523.0\t, \"y\" :\t1\t},\n{\"x\":\t523.5\t, \"y\" :\t1\t},\n{\"x\":\t524.0\t, \"y\" :\t1\t},\n{\"x\":\t524.5\t, \"y\" :\t1\t},\n{\"x\":\t525.0\t, \"y\" :\t1\t},\n{\"x\":\t525.5\t, \"y\" :\t1\t},\n{\"x\":\t526.0\t, \"y\" :\t1\t},\n{\"x\":\t526.5\t, \"y\" :\t1\t},\n{\"x\":\t527.0\t, \"y\" :\t1\t},\n{\"x\":\t527.5\t, \"y\" :\t1\t},\n{\"x\":\t528.0\t, \"y\" :\t1\t},\n{\"x\":\t528.5\t, \"y\" :\t1\t},\n{\"x\":\t529.0\t, \"y\" :\t1\t},\n{\"x\":\t529.5\t, \"y\" :\t1\t},\n{\"x\":\t530.0\t, \"y\" :\t1\t},\n{\"x\":\t530.5\t, \"y\" :\t1\t},\n{\"x\":\t531.0\t, \"y\" :\t1\t},\n{\"x\":\t531.5\t, \"y\" :\t1\t},\n{\"x\":\t532.0\t, \"y\" :\t1\t},\n{\"x\":\t532.5\t, \"y\" :\t1\t},\n{\"x\":\t533.0\t, \"y\" :\t1\t},\n{\"x\":\t533.5\t, \"y\" :\t1\t},\n{\"x\":\t534.0\t, \"y\" :\t1\t},\n{\"x\":\t534.5\t, \"y\" :\t1\t},\n{\"x\":\t535.0\t, \"y\" :\t1\t},\n{\"x\":\t535.5\t, \"y\" :\t1\t},\n{\"x\":\t536.0\t, \"y\" :\t1\t},\n{\"x\":\t536.5\t, \"y\" :\t1\t},\n{\"x\":\t537.0\t, \"y\" :\t1\t},\n{\"x\":\t537.5\t, \"y\" :\t1\t},\n{\"x\":\t538.0\t, \"y\" :\t1\t},\n{\"x\":\t538.5\t, \"y\" :\t1\t},\n{\"x\":\t539.0\t, \"y\" :\t1\t},\n{\"x\":\t539.5\t, \"y\" :\t1\t},\n{\"x\":\t540.0\t, \"y\" :\t1\t},\n{\"x\":\t540.5\t, \"y\" :\t1\t},\n{\"x\":\t541.0\t, \"y\" :\t0\t},\n{\"x\":\t541.5\t, \"y\" :\t0\t},\n{\"x\":\t542.0\t, \"y\" :\t0\t},\n{\"x\":\t542.5\t, \"y\" :\t0\t},\n{\"x\":\t543.0\t, \"y\" :\t0\t},\n{\"x\":\t543.5\t, \"y\" :\t0\t},\n{\"x\":\t544.0\t, \"y\" :\t0\t},\n{\"x\":\t544.5\t, \"y\" :\t0\t},\n{\"x\":\t545.0\t, \"y\" :\t0\t},\n{\"x\":\t545.5\t, \"y\" :\t0\t},\n{\"x\":\t546.0\t, \"y\" :\t0\t},\n{\"x\":\t546.5\t, \"y\" :\t0\t},\n{\"x\":\t547.0\t, \"y\" :\t0\t},\n{\"x\":\t547.5\t, \"y\" :\t0\t},\n{\"x\":\t548.0\t, \"y\" :\t0\t},\n{\"x\":\t548.5\t, \"y\" :\t0\t},\n{\"x\":\t549.0\t, \"y\" :\t0\t},\n{\"x\":\t549.5\t, \"y\" :\t0\t},\n{\"x\":\t550.0\t, \"y\" :\t0\t},\n{\"x\":\t550.5\t, \"y\" :\t0\t},\n{\"x\":\t551.0\t, \"y\" :\t0\t},\n{\"x\":\t551.5\t, \"y\" :\t0\t},\n{\"x\":\t552.0\t, \"y\" :\t0\t},\n{\"x\":\t552.5\t, \"y\" :\t0\t},\n{\"x\":\t553.0\t, \"y\" :\t0\t},\n{\"x\":\t553.5\t, \"y\" :\t0\t},\n{\"x\":\t554.0\t, \"y\" :\t0\t},\n{\"x\":\t554.5\t, \"y\" :\t0\t},\n{\"x\":\t555.0\t, \"y\" :\t0\t},\n{\"x\":\t555.5\t, \"y\" :\t0\t},\n{\"x\":\t556.0\t, \"y\" :\t0\t},\n{\"x\":\t556.5\t, \"y\" :\t0\t},\n{\"x\":\t557.0\t, \"y\" :\t0\t},\n{\"x\":\t557.5\t, \"y\" :\t0\t},\n{\"x\":\t558.0\t, \"y\" :\t0\t},\n{\"x\":\t558.5\t, \"y\" :\t0\t},\n{\"x\":\t559.0\t, \"y\" :\t0\t},\n{\"x\":\t559.5\t, \"y\" :\t0\t},\n{\"x\":\t560.0\t, \"y\" :\t0\t},\n{\"x\":\t560.5\t, \"y\" :\t0\t},\n{\"x\":\t561.0\t, \"y\" :\t0\t},\n{\"x\":\t561.5\t, \"y\" :\t0\t},\n{\"x\":\t562.0\t, \"y\" :\t0\t},\n{\"x\":\t562.5\t, \"y\" :\t0\t},\n{\"x\":\t563.0\t, \"y\" :\t0\t},\n{\"x\":\t563.5\t, \"y\" :\t0\t},\n{\"x\":\t564.0\t, \"y\" :\t0\t},\n{\"x\":\t564.5\t, \"y\" :\t0\t},\n{\"x\":\t565.0\t, \"y\" :\t0\t},\n{\"x\":\t565.5\t, \"y\" :\t0\t},\n{\"x\":\t566.0\t, \"y\" :\t0\t},\n{\"x\":\t566.5\t, \"y\" :\t0\t},\n{\"x\":\t567.0\t, \"y\" :\t0\t},\n{\"x\":\t567.5\t, \"y\" :\t0\t},\n{\"x\":\t568.0\t, \"y\" :\t0\t},\n{\"x\":\t568.5\t, \"y\" :\t0\t},\n{\"x\":\t569.0\t, \"y\" :\t0\t},\n{\"x\":\t569.5\t, \"y\" :\t0\t},\n{\"x\":\t570.0\t, \"y\" :\t0\t},\n{\"x\":\t570.5\t, \"y\" :\t0\t},\n{\"x\":\t571.0\t, \"y\" :\t0\t},\n{\"x\":\t571.5\t, \"y\" :\t0\t},\n{\"x\":\t572.0\t, \"y\" :\t0\t},\n{\"x\":\t572.5\t, \"y\" :\t0\t},\n{\"x\":\t573.0\t, \"y\" :\t0\t},\n{\"x\":\t573.5\t, \"y\" :\t0\t},\n{\"x\":\t574.0\t, \"y\" :\t0\t},\n{\"x\":\t574.5\t, \"y\" :\t0\t},\n{\"x\":\t575.0\t, \"y\" :\t0\t},\n{\"x\":\t575.5\t, \"y\" :\t0\t},\n{\"x\":\t576.0\t, \"y\" :\t0\t},\n{\"x\":\t576.5\t, \"y\" :\t0\t},\n{\"x\":\t577.0\t, \"y\" :\t0\t},\n{\"x\":\t577.5\t, \"y\" :\t0\t},\n{\"x\":\t578.0\t, \"y\" :\t0\t},\n{\"x\":\t578.5\t, \"y\" :\t0\t},\n{\"x\":\t579.0\t, \"y\" :\t0\t},\n{\"x\":\t579.5\t, \"y\" :\t0\t},\n{\"x\":\t580.0\t, \"y\" :\t0\t},\n{\"x\":\t580.5\t, \"y\" :\t0\t},\n{\"x\":\t581.0\t, \"y\" :\t0\t},\n{\"x\":\t581.5\t, \"y\" :\t0\t},\n{\"x\":\t582.0\t, \"y\" :\t0\t},\n{\"x\":\t582.5\t, \"y\" :\t0\t},\n{\"x\":\t583.0\t, \"y\" :\t0\t},\n{\"x\":\t583.5\t, \"y\" :\t0\t},\n{\"x\":\t584.0\t, \"y\" :\t0\t},\n{\"x\":\t584.5\t, \"y\" :\t0\t},\n{\"x\":\t585.0\t, \"y\" :\t0\t},\n{\"x\":\t585.5\t, \"y\" :\t0\t},\n{\"x\":\t586.0\t, \"y\" :\t0\t},\n{\"x\":\t586.5\t, \"y\" :\t0\t},\n{\"x\":\t587.0\t, \"y\" :\t0\t},\n{\"x\":\t587.5\t, \"y\" :\t0\t},\n{\"x\":\t588.0\t, \"y\" :\t0\t},\n{\"x\":\t588.5\t, \"y\" :\t0\t},\n{\"x\":\t589.0\t, \"y\" :\t0\t},\n{\"x\":\t589.5\t, \"y\" :\t0\t},\n{\"x\":\t590.0\t, \"y\" :\t0\t},\n{\"x\":\t590.5\t, \"y\" :\t0\t},\n{\"x\":\t591.0\t, \"y\" :\t0\t},\n{\"x\":\t591.5\t, \"y\" :\t0\t},\n{\"x\":\t592.0\t, \"y\" :\t0\t},\n{\"x\":\t592.5\t, \"y\" :\t0\t},\n{\"x\":\t593.0\t, \"y\" :\t0\t},\n{\"x\":\t593.5\t, \"y\" :\t0\t},\n{\"x\":\t594.0\t, \"y\" :\t0\t},\n{\"x\":\t594.5\t, \"y\" :\t0\t},\n{\"x\":\t595.0\t, \"y\" :\t0\t},\n{\"x\":\t595.5\t, \"y\" :\t0\t},\n{\"x\":\t596.0\t, \"y\" :\t0\t},\n{\"x\":\t596.5\t, \"y\" :\t0\t},\n{\"x\":\t597.0\t, \"y\" :\t0\t},\n{\"x\":\t597.5\t, \"y\" :\t0\t},\n{\"x\":\t598.0\t, \"y\" :\t0\t},\n{\"x\":\t598.5\t, \"y\" :\t0\t},\n{\"x\":\t599.0\t, \"y\" :\t0\t},\n{\"x\":\t599.5\t, \"y\" :\t0\t},\n{\"x\":\t600.0\t, \"y\" :\t0\t},\n{\"x\":\t600.5\t, \"y\" :\t0\t},\n{\"x\":\t601.0\t, \"y\" :\t0\t},\n{\"x\":\t601.5\t, \"y\" :\t0\t},\n{\"x\":\t602.0\t, \"y\" :\t0\t},\n{\"x\":\t602.5\t, \"y\" :\t0\t}\n    ]\n\n] \n}]    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "43bdba40.05c68c"
            ]
        ]
    },
    {
        "id": "3dd9ba65.e777c6",
        "type": "ui_group",
        "z": "",
        "name": "",
        "tab": "1808ca08.25f296",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1808ca08.25f296",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]